extends ../__MIXINS/_layout-default.pug

block vars
    - var pageTitle = 'A Selection of Quotes'
    - var bodyID    = 'writing'
    - var bodyClass = 'quotes'

block main-content
    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell
                    h1.text-center.small-mb2.medium-mb3.large-mb3(data-aos="fade-up")!= pageTitle

                    p.text-center Reproduced with permission from Steven Heller’s 
                        a(href="http://hellerbooks.com/docs/catalogs.html" rel=noopener) Paul Rand: A Designer’s Words 
                        | catalog.

                    hr.w50.hr-red.horizontal-center.small-mt4.small-mb4 

                    h3.text-bold-italic.text-center Modernism

                    p I haven’t changed my mind about modernism from the first day I ever did it…. It means integrity; it means honesty; it means the absence of sentimentality and the absence of nostalgia; it means simplicity; it means clarity. That’s what modernism means to me…
                        em.t16.block.text-gray —  Lecture, A Paul Rand Retrospective, Cooper Union, Oct. 3, 1996

                    p Many people were doing modern stuff in English. But [E. McKnight] Kauffer was doing the best stuff. There wasn’t anybody anywhere near him except for Cassandre. Kauffer gave Cassandre credit. He told me, “He’s our father.”
                        em.t16.block.text-gray —  Interview with Steven Heller 1987

                    p I never did calligraphy…. But handwriting is an entirely different kind of thing. It’s part of the syndrom of modernism…. It’s part of that asceticism.
                        em.t16.block.text-gray — Interview with Steven Heller 1987

                    hr.w50.hr-red.horizontal-center.small-mt4.small-mb4 

                    h3.text-bold-italic.text-center Good Design

                    p Good design adds value of some kind, gives meaning, and, not incidentally, can be sheer pleasure to behold; it respects the viewer’s sensibilities and rewards the entrepreneur.
                        em.t16.block.text-gray — Design Form and Chaos

                    p Even if it is true that the average man seems most comfortable with the commonplace and familiar, it is equally true that catering to bad taste, which we so readily attribute to the average reader, merely perpetuates that mediocrity and denies the reader one of the most easily accessible means for aesthetic development and eventual enjoyment.
                        em.t16.block.text-gray — Thoughts on Design

                    p The roots of good design lie in aesthetics: painting, drawing, and architecture, while those of business and market research are in demographics and statistics; aesthetics and business are traditionally incompatible disciplines.
                        em.t16.block.text-gray — Design Form and Chaos

                    hr.w50.hr-red.horizontal-center.small-mt4.small-mb4

                    h3.text-bold-italic.text-center Play

                    p Without play, there would be no Picasso. Without play, there is no experimentation. Experimentation is the quest for answers.
                        em.t16.block.text-gray — Graphic Wit “Paul Rand: The Play Instinct” 1991

                    p I use the term play, but I mean coping with the problems of form and content, weighing relationships, establishing priorities. Every problem of form and content is different, which dictates that the rules of the game are different too.
                        em.t16.block.text-gray — Graphic Wit “Paul Rand: The Play Instinct” 1991

                    p I steered towards humorous things. People who don’t have a sense of humor really have serious problems.
                        em.t16.block.text-gray — Interview with Steven Heller 1988

                    p The visual message which professes to be profound or elegant often boomerangs as mere pretension; and the frame of mind that looks at humor as trivial and flighty mistakes the shadow for the substance. In short, the notion that the humorous approach to visual communication is undignified or belittling is sheer nonsense.
                        em.t16.block.text-gray — Thoughts on Design

                    p I like things that are playful; I like things that are happy; I like things that will make the client smile.
                        em.t16.block.text-gray — Lecture, A Paul Rand Retrospective, Cooper Union, Oct. 3, 1996

                    p Originality & Imitation

                    p I was just doing what they were doing in Europe. I didn’t claim that this was any great, original stuff, because it wasn’t. It was influenced by Surrealism and Picasso.
                        em.t16.block.text-gray — Interview with Steven Heller 1987

                    p Mies van der Rohe once said that being good is more important than being original. Originality is a product, not an intention.
                        em.t16.block.text-gray — Graphic Wit “Paul Rand: The Play Instinct” 1991

                    p A cigar is almost as commonplace as an apple, but if I fail to make ads for cigars that are lively and original, it will not be the cigar that is at fault.
                        em.t16.block.text-gray — Daedalus, Journal of the American Academy of Arts and Sciences, Special Issue: “The Visual Arts Today”, Winter 1960

                    p Innovation leads one to see the new in the old and distinguishes the ingenious from the ingenuous.
                        em.t16.block.text-gray — Design Form and Chaos

                    .text-center.small-my4
                        a.button.text-caps(href="http://hellerbooks.com/docs/catalogs.html" rel=noopener) Read More from the book



            //- /*-----  End of GALLERY MEDIUM  ------*/
