extends ../__MIXINS/_layout-default.pug

block vars
    - var pageTitle = 'Life'
    - var bodyID    = 'life'
    - var bodyClass = ''

block main-content
    .cd-main-content
        .grid-container
            //- ======================================
            //- =            GALLERY MEDIUM            =
            //- ======================================

            .grid-x.grid-margin-x.expanded.align-center
                .cell
                    h1.text-center.small-mb2.medium-mb3.large-mb3!= pageTitle

                    a.card.card-large.medium-p1.large-p2.reveal-enter-bottom(href="biography.html")
                        .card-section
                            img.w100(src="/img/landing/life/biography.jpg" alt="Biography and Timeline")
                        .card-section
                            p.small-m0 Biography and Timeline
                                br
                                small.footnote by Daniel Lewandowski

                    a.card.card-medium.medium-mt4.medium-p1.large-p2.reveal-enter-bottom(href="books-articles/")
                        .card-section
                            img.w100(src="/img/landing/life/articles-books.jpg" alt="Articles and Books about Paul Rand")
                        .card-section
                            p.small-m0 Articles and Books about Paul Rand

                    a.card.card-medium.medium-mtn2.medium-p1.large-p2.reveal-enter-bottom(href="portraits.html")
                        .card-section
                            img.w100(src="/img/landing/life/portraits.jpg" alt="Portraits")
                        .card-section
                            p.small-m0 Portraits

                    a.card.card-medium.medium-p1.large-p2.reveal-enter-bottom(href="events-exhibits/")
                        .card-section
                            img.w100(src="/img/landing/life/events-exhibits.jpg" alt="Events & Exhibits")
                        .card-section
                            p.small-m0 Events & Exhibits

                    a.card.card-medium.medium-mtn4.medium-p1.large-p2.reveal-enter-bottom(href="sketches-and-notes.html")
                        .card-section
                            img.w100(src="https://assets.paulrand.design/Life/Sketches%20and%20Notes/Web/Signature%20Pencil%20v2-200.jpg" alt="Sketches & Notes")
                        .card-section
                            p.small-m0 Sketches & Notes

                    a.card.card-small.medium-mtn4.medium-p1.large-p2.reveal-enter-bottom(href="christmas-cards.html")
                        .card-section
                            img.w100(src="https://assets.paulrand.design/Works/Christmas%20Card%20Paintings/Web/Carolling%20with%20Santas%20Beard-800.jpg" alt="Christmas Cards")
                        .card-section
                            p.small-m0 Christmas Cards

                    a.card.card-large.small-mtn2.medium-p1.large-p2.reveal-enter-bottom(href="videos/")
                        .card-section
                            img.w100(src="/img/landing/life/videos-interviews.jpg" alt="Videos")
                        .card-section
                            p.small-m0 Videos

                    a.card.card-medium.small-mtn10.medium-p1.large-p2.reveal-enter-bottom(href="interviews/")
                        .card-section
                            img.w100(src="https://assets.paulrand.design/Life/Interviews/1988%20Artograph%206/Web/Artograph%206%2C%201988-450.jpg" alt="Interviews")
                        .card-section
                            p.small-m0 Interviews

                    a.card.card-large.medium-mtn2.medium-p1.large-p2.reveal-enter-bottom(href="rand-house.html")
                        .card-section
                            img.w100(src="/img/landing/life/Rand-House.jpg" alt="The Rand House")
                        .card-section
                            p.small-m0 The Rand House

                    a.card.card-small.medium-p1.large-p2.reveal-enter-bottom(href="his-inspirations.html")
                        .card-section
                            img.w100(src="/img/landing/life/inspirations.jpg" alt="His Inspirations")
                        .card-section
                            p.small-m0 His Inspirations

                    a.card.card-medium.medium-mtn2.medium-p1.large-p2.reveal-enter-bottom(href="personal-items.html")
                        .card-section
                            img.w100(src="/img/landing/life/personal-items.jpg" alt="Personal Items")
                        .card-section
                            p.small-m0 Personal Items

                    a.card.card-large.medium-mtn2.medium-p1.large-p2.reveal-enter-bottom(href="death.html")
                        .card-section
                            img.w100(src="/img/landing/life/death.jpg" alt="In Death")
                        .card-section
                            p.small-m0 In Death

                //- /*-----  End of GALLERY MEDIUM  ------*/

