extends ../__MIXINS/_layout-default.pug
include ../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Personal Items'
    - var bodyID    = 'life'
    - var bodyClass = 'personal-items'

block main-content
    .cd-main-content
        .grid-container
            //- ==========  BODY  ==========

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    h1.text-center.small-mb2.medium-mb3.large-mb3(data-aos="fade-up")!= pageTitle

                    //- :markdown-it(html typographer plugins=['markdown-it-sup'])
                        BODY


            //- =============================================================================================
            //-  █████  ██████  ████████     ███████ ██    ██ ██████  ██████  ██      ██ ███████ ███████
            //- ██   ██ ██   ██    ██        ██      ██    ██ ██   ██ ██   ██ ██      ██ ██      ██
            //- ███████ ██████     ██        ███████ ██    ██ ██████  ██████  ██      ██ █████   ███████
            //- ██   ██ ██   ██    ██             ██ ██    ██ ██      ██      ██      ██ ██           ██
            //- ██   ██ ██   ██    ██        ███████  ██████  ██      ██      ███████ ██ ███████ ███████
            //- =============================================================================================    
            +projectDivider("Art Supplies")
            .grid-x.grid-margin-x.align-center
                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Art%20Supplies/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Collection%20Of%20Eight%20Paint%20Brushes%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Art%20Supplies/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Collection%20Of%20Eight%20Paint%20Brushes%2001.jpg",
                    title: "Paintbrushes",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Paintbrushes. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Art%20Supplies/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Collection%20Of%20Eight%20Paint%20Brushes%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Art%20Supplies/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Collection%20Of%20Thirteen%20Drafting%20Utensils%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Art%20Supplies/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Collection%20Of%20Thirteen%20Drafting%20Utensils%2001.jpg",
                    title: "Utensils",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Utensils. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Art%20Supplies/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Collection%20Of%20Thirteen%20Drafting%20Utensils%2002.jpg"}
                    )
            //- -----  End of ART SUPPLIES  ---------------------------------------------


            //- =============================================================================================
            //- ███████ ██    ██ ██████  ███    ██ ██ ████████ ██    ██ ██████  ███████
            //- ██      ██    ██ ██   ██ ████   ██ ██    ██    ██    ██ ██   ██ ██
            //- █████   ██    ██ ██████  ██ ██  ██ ██    ██    ██    ██ ██████  █████
            //- ██      ██    ██ ██   ██ ██  ██ ██ ██    ██    ██    ██ ██   ██ ██
            //- ██       ██████  ██   ██ ██   ████ ██    ██     ██████  ██   ██ ███████
            //- =============================================================================================
            +projectDivider("Furtniture")
            .grid-x.grid-margin-x.align-center
                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/African%20Prestige%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/African%20Prestige%20Chair%2001.jpg",
                    title: "African Prestige Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "African Prestige Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/African%20Prestige%20Chair%2002.jpg"}
                    )


                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Alvar%20Aalto%20Convertible%20Sofa%20Model%2063%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Alvar%20Aalto%20Convertible%20Sofa%20Model%2063%2001.jpg",
                    title: "Alvar Aalto Convertible Sofa, Model 63",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Alvar Aalto Convertible Sofa, Model 63. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Alvar%20Aalto%20Convertible%20Sofa%20Model%2063%2002.jpg"},
                    {title: "Alvar Aalto Convertible Sofa, Model 63. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Alvar%20Aalto%20Convertible%20Sofa%20Model%2063%2003.jpg"}
                    )


                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Alvar%20Aalto%20Table%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Alvar%20Aalto%20Table%2001.jpg",
                    title: "Alvar Aalto table",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Alvar Aalto table. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Alvar%20Aalto%20Table%2002.jpg"}
                    )


                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/American%20Daybed%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/American%20Daybed%2001.jpg",
                    title: "American Daybed",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "4 images"
                    })
                +galleryItem-imageHidden(
                    {title: "American Daybed. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/American%20Daybed%2002.jpg"},
                    {title: "American Daybed. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/American%20Daybed%2003.jpg"},
                    {title: "American Daybed. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/American%20Daybed%2004.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Anna%20Castelli%20Stools%20Model%204823%20Set%20Of%20Four%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Anna%20Castelli%20Stools%20Model%204823%20Set%20Of%20Four%2001.jpg",
                    title: "Anna Castelli Stools Model 4823",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "5 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Anna Castelli Stools Model 4823. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Anna%20Castelli%20Stools%20Model%204823%20Set%20Of%20Four%2002.jpg"},
                    {title: "Anna Castelli Stools Model 4823. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Anna%20Castelli%20Stools%20Model%204823%20Set%20Of%20Three%2001.jpg"},
                    {title: "Anna Castelli Stools Model 4823. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Anna%20Castelli%20Stools%20Model%204823%20Set%20Of%20Three%2002.jpg"},
                    {title: "Anna Castelli Stools Model 4823. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Anna%20Castelli%20Stools%20Model%204823%20Set%20Of%20Three%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Blanchet%20Easel%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Blanchet%20Easel%2001.jpg",
                    title: "Blanchet Easel",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Bruno%20Mathsson%20Maria%20Folding%20Table%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Bruno%20Mathsson%20Maria%20Folding%20Table%2001.jpg",
                    title: "Bruno Mathsson Maria Folding Table",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Bruno Mathsson Maria Folding Table. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Bruno%20Mathsson%20Maria%20Folding%20Table%2002.jpg"},
                    {title: "Bruno Mathsson Maria Folding Table. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Bruno%20Mathsson%20Maria%20Folding%20Table%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Lc7%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Lc7%20Chair%2001.jpg",
                    title: "Charlotte Perriand LC7 Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Charlotte Perriand LC7 Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Lc7%20Chair%2002.jpg"},
                    {title: "Charlotte Perriand LC7 Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Lc7%20Chair%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc1%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc1%20Chair%2001.jpg",
                    title: "Charlotte Perriand Pierre Jeanneret and Le Corbusier LC1 Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Charlotte Perriand Pierre Jeanneret and Le Corbusier LC1 Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc1%20Chair%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc2%20Chairs%20Pair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc2%20Chairs%20Pair%2001.jpg",
                    title: "Charlotte Perriand Pierre Jeanneret and Le Corbusier LC2 Chairs",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Charlotte Perriand Pierre Jeanneret and Le Corbusier LC2 Chairs. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc2%20Chairs%20Pair%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc4%20Chaise%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc4%20Chaise%2001.jpg",
                    title: "Charlotte Perriand Pierre Jeanneret and Le Corbusier LC4 Chaise",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Charlotte Perriand Pierre Jeanneret and Le Corbusier LC4 Chaise. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc4%20Chaise%2002.jpg"},
                    {title: "Charlotte Perriand Pierre Jeanneret and Le Corbusier LC4 Chaise. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Charlotte%20Perriand%20Pierre%20Jeanneret%20And%20Le%20Corbusier%20Lc4%20Chaise%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Custom%20Rolling%20Stereo%20Cabinets%20For%20The%20Rand%20House%20Set%20Of%20Two%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Custom%20Rolling%20Stereo%20Cabinets%20For%20The%20Rand%20House%20Set%20Of%20Two%2001.jpg",
                    title: "Custom Rolling Stereo Cabinets For The Rand House Set Of Two",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Rolling Stereo Cabinets For The Rand House Set Of Two. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Custom%20Rolling%20Stereo%20Cabinets%20For%20The%20Rand%20House%20Set%20Of%20Two%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Dieter%20Rams%20620%20Lounge%20Chair%20And%20Ottoman%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Dieter%20Rams%20620%20Lounge%20Chair%20And%20Ottoman%2001.jpg",
                    title: "Dieter Rams 620 Lounge Chair And Ottoman",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Dieter Rams 620 Lounge Chair And Ottoman. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Dieter%20Rams%20620%20Lounge%20Chair%20And%20Ottoman%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Eileen%20Gray%20Occasional%20Table%20Model%20E1027%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Eileen%20Gray%20Occasional%20Table%20Model%20E1027%2001.jpg",
                    title: "Eileen Gray Occasional Table Model E1027",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Eileen Gray Occasional Table Model E1027. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Eileen%20Gray%20Occasional%20Table%20Model%20E1027%2001.jpg"},
                    {title: "Eileen Gray Occasional Table Model E1027. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Eileen%20Gray%20Occasional%20Table%20Model%20E1027%2002.jpg"},
                    {title: "Eileen Gray Occasional Table Model E1027. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Eileen%20Gray%20Occasional%20Table%20Model%20E1027%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Enzo%20Mari%20Box%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Enzo%20Mari%20Box%20Chair%2001.jpg",
                    title: "Enzo Mari Box Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "4 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Enzo Mari Box Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Enzo%20Mari%20Box%20Chair%2002.jpg"},
                    {title: "Enzo Mari Box Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Enzo%20Mari%20Box%20Chair%2003.jpg"},
                    {title: "Enzo Mari Box Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Enzo%20Mari%20Box%20Chair%2004.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20209%20Armchairs%20Set%20Of%20Eight%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20209%20Armchairs%20Set%20Of%20Eight%2001.jpg",
                    title: "Gebruder Thonet 209 Armchairs",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Gebruder Thonet 209 Armchairs. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20209%20Armchairs%20Set%20Of%20Eight%2002.jpg"},
                    {title: "Gebruder Thonet 209 Armchairs. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20209%20Armchairs%20Set%20Of%20Eight%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20Rocking%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20Rocking%20Chair%2001.jpg",
                    title: "Gebruder Thonet Rocking Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Gebruder Thonet Rocking Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20Rocking%20Chair%2002.jpg"},
                    {title: "Gebruder Thonet Rocking Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gebruder%20Thonet%20Rocking%20Chair%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gerrit%20Rietveld%20Red%20Blue%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gerrit%20Rietveld%20Red%20Blue%20Chair%2001.jpg",
                    title: "Gerrit Rietveld Red Blue Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Gerrit Rietveld Red Blue Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gerrit%20Rietveld%20Red%20Blue%20Chair%2002.jpg"},
                    {title: "Gerrit Rietveld Red Blue Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Gerrit%20Rietveld%20Red%20Blue%20Chair%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Industrial%20Drafting%20Table%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Industrial%20Drafting%20Table%2001.jpg",
                    title: "Industrial Drafting Table (Rand’s first drafting table)",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Industrial Drafting Table (Rand’s first drafting table). Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Industrial%20Drafting%20Table%2002.jpg"},
                    {title: "Industrial Drafting Table (Rand’s first drafting table). Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Industrial%20Drafting%20Table%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Italian%20Desk%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Italian%20Desk%2001.jpg",
                    title: "Italian Desk",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "4 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Italian Desk. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Italian%20Desk%2002.jpg"},
                    {title: "Italian Desk. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Italian%20Desk%2003.jpg"},
                    {title: "Italian Desk. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Italian%20Desk%2004.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Japanese%20Tansu%20Chest%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Japanese%20Tansu%20Chest%2001.jpg",
                    title: "Japanese Tansu Chest",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Japanese Tansu Chest. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Japanese%20Tansu%20Chest%2002.jpg"},
                    {title: "Japanese Tansu Chest. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Japanese%20Tansu%20Chest%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Joe%20Colombo%20Early%20Boby%203%20Portable%20Storage%20System%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Joe%20Colombo%20Early%20Boby%203%20Portable%20Storage%20System%2001.jpg",
                    title: "Joe Colombo Early Boby 3 Portable Storage System",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Joe Colombo Early Boby 3 Portable Storage System. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Joe%20Colombo%20Early%20Boby%203%20Portable%20Storage%20System%2002.jpg"},
                    {title: "Joe Colombo Early Boby 3 Portable Storage System. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Joe%20Colombo%20Early%20Boby%203%20Portable%20Storage%20System%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Joe%20Colombo%20Universale%20Chair%20Model%204867%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Joe%20Colombo%20Universale%20Chair%20Model%204867%2001.jpg",
                    title: "Joe Colombo Universale Chair Model 4867",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Joe Colombo Universale Chair Model 4867. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Joe%20Colombo%20Universale%20Chair%20Model%204867%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Cabinets%20For%20The%20Rand%20House%20Pair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Cabinets%20For%20The%20Rand%20House%20Pair%2001.jpg",
                    title: "Custom Cabinets For The Rand House",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Cabinets For The Rand House. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Cabinets%20For%20The%20Rand%20House%20Pair%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Coffee%20Table%20For%20The%20Rand%20House%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Coffee%20Table%20For%20The%20Rand%20House%2001.jpg",
                    title: "Custom Coffee Table For The Rand House",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Coffee Table For The Rand House. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Coffee%20Table%20For%20The%20Rand%20House%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Door%20From%20The%20Rand%20House%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Door%20From%20The%20Rand%20House%2001.jpg",
                    title: "Custom Door From The Rand House",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Door From The Rand House. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Door%20From%20The%20Rand%20House%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Rolling%20Cabinet%20For%20The%20Rand%20House%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Rolling%20Cabinet%20For%20The%20Rand%20House%2001.jpg",
                    title: "Custom Rolling Cabinet For The Rand House, v1",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Rolling Cabinet For The Rand House, v1. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Rolling%20Cabinet%20For%20The%20Rand%20House%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Rolling%20Cabinet%20For%20The%20Rand%20House%201%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Rolling%20Cabinet%20For%20The%20Rand%20House%201%2001.jpg",
                    title: "Custom Rolling Cabinet For The Rand House, v2",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Rolling Cabinet For The Rand House, v2. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Rolling%20Cabinet%20For%20The%20Rand%20House%201%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Stool%20From%20The%20Rand%20House%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Stool%20From%20The%20Rand%20House%2001.jpg",
                    title: "Custom Stool From The Rand House",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Stool From The Rand House. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Stool%20From%20The%20Rand%20House%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Wall%20Mounted%20Cabinet%20For%20The%20Rand%20House%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Wall%20Mounted%20Cabinet%20For%20The%20Rand%20House%2001.jpg",
                    title: "Custom Wall Mounted Cabinet For The Rand House",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Custom Wall Mounted Cabinet For The Rand House. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Custom%20Wall%20Mounted%20Cabinet%20For%20The%20Rand%20House%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Pair%20Of%20Custom%20Cabinets%20For%20The%20Rand%20House%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Pair%20Of%20Custom%20Cabinets%20For%20The%20Rand%20House%2001.jpg",
                    title: "Pair Of Custom Cabinets For The Rand House",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Pair Of Custom Cabinets For The Rand House. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Pair%20Of%20Custom%20Cabinets%20For%20The%20Rand%20House%2002.jpg"},
                    {title: "Pair Of Custom Cabinets For The Rand House. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Paul%20Rand%20Pair%20Of%20Custom%20Cabinets%20For%20The%20Rand%20House%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%2001.jpg",
                    title: "Pirkko Stenros Moduli Cabinet, v1",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "4 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Pirkko Stenros Moduli Cabinet, v1. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%2002.jpg"},
                    {title: "Pirkko Stenros Moduli Cabinet, v1. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%2003.jpg"},
                    {title: "Pirkko Stenros Moduli Cabinet, v1. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%2004.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%201%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%201%2001.jpg",
                    title: "Pirkko Stenros Moduli Cabinet, v2",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Pirkko Stenros Moduli Cabinet, v2. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%2002.jpg"},
                    {title: "Pirkko Stenros Moduli Cabinet, v2. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Pirkko%20Stenros%20Moduli%20Cabinet%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Shaker%20Rocking%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Shaker%20Rocking%20Chair%2001.jpg",
                    title: "Shaker Rocking Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Shaker Rocking Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Shaker%20Rocking%20Chair%2002.jpg"},
                    {title: "Shaker Rocking Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Shaker%20Rocking%20Chair%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Sori%20Yanagi%20Butterfly%20Stool%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Sori%20Yanagi%20Butterfly%20Stool%2001.jpg",
                    title: "Sori Yanagi Butterfly Stool",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Sori Yanagi Butterfly Stool. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Sori%20Yanagi%20Butterfly%20Stool%2002.jpg"},
                    {title: "Sori Yanagi Butterfly Stool. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Sori%20Yanagi%20Butterfly%20Stool%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Vico%20Magistretti%20Sinbad%20Lounge%20Chair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Vico%20Magistretti%20Sinbad%20Lounge%20Chair%2001.jpg",
                    title: "Vico Magistretti Sinbad Lounge Chair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Vico Magistretti Sinbad Lounge Chair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Furniture/Web/Vico%20Magistretti%20Sinbad%20Lounge%20Chair%2002.jpg"}
                    )
            //- -----  End of FURNITURE  ---------------------------------------------


            //- =============================================================================================
            //- ██   ██  ██████  ██    ██ ███████ ███████ ██   ██  ██████  ██      ██████
            //- ██   ██ ██    ██ ██    ██ ██      ██      ██   ██ ██    ██ ██      ██   ██
            //- ███████ ██    ██ ██    ██ ███████ █████   ███████ ██    ██ ██      ██   ██
            //- ██   ██ ██    ██ ██    ██      ██ ██      ██   ██ ██    ██ ██      ██   ██
            //- ██   ██  ██████   ██████  ███████ ███████ ██   ██  ██████  ███████ ██████
            //- ██ ████████ ███████ ███    ███ ███████
            //- ██    ██    ██      ████  ████ ██
            //- ██    ██    █████   ██ ████ ██ ███████
            //- ██    ██    ██      ██  ██  ██      ██
            //- ██    ██    ███████ ██      ██ ███████
            //- =============================================================================================

            +projectDivider("Household Items")
            .grid-x.grid-margin-x.align-center

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Alvar%20Aalto%20Coat%20Rack%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Alvar%20Aalto%20Coat%20Rack%2001.jpg",
                    title: "Alvar Aalto Coat Rack",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Alvar Aalto Coat Rack. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Alvar%20Aalto%20Coat%20Rack%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Alvar%20Aalto%20Savoy%20Vases%20Set%20Of%20Two%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Alvar%20Aalto%20Savoy%20Vases%20Set%20Of%20Two%2001.jpg",
                    title: "Alvar Aalto Savoy Vases",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Alvar Aalto Savoy Vases. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Alvar%20Aalto%20Savoy%20Vases%20Set%20Of%20Two%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Arne%20Jacobsen%20Cylinda%20Creamer%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Arne%20Jacobsen%20Cylinda%20Creamer%2001.jpg",
                    title: "Arne Jacobsen Cylinda Creamer",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Arne Jacobsen Cylinda Creamer. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Arne%20Jacobsen%20Cylinda%20Creamer%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Enzo%20Mari%20Koro%20Wastepaper%20Baskets%20Set%20Of%20Three%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Enzo%20Mari%20Koro%20Wastepaper%20Baskets%20Set%20Of%20Three%2001.jpg",
                    title: "Enzo Mari Koro Wastepaper Baskets",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Enzo Mari Koro Wastepaper Baskets. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Enzo%20Mari%20Koro%20Wastepaper%20Baskets%20Set%20Of%20Three%2002.jpg"},
                    {title: "Enzo Mari Koro Wastepaper Baskets. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Enzo%20Mari%20Koro%20Wastepaper%20Baskets%20Set%20Of%20Three%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Olaf%20Von%20Bohr%20Clothes%20Hooks%20Set%20Of%20Four%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Olaf%20Von%20Bohr%20Clothes%20Hooks%20Set%20Of%20Four%2001.jpg",
                    title: "Olaf Von Bohr Clothes Hooks",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Postmodern%20Coatrack%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Postmodern%20Coatrack%2001.jpg",
                    title: "Postmodern Coatrack",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Postmodern Coatrack. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Postmodern%20Coatrack%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Various%20Designers%20Flatware%20Collection%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Various%20Designers%20Flatware%20Collection%2001.jpg",
                    title: "Various Designers Flatware Collection",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "4 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Various Designers Flatware Collection. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Various%20Designers%20Flatware%20Collection%2002.jpg"},
                    {title: "Various Designers Flatware Collection. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Various%20Designers%20Flatware%20Collection%2003.jpg"},
                    {title: "Various Designers Flatware Collection. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/Various%20Designers%20Flatware%20Collection%2004.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/William%20Marples%20Sons%20Bow%20Saw%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/William%20Marples%20Sons%20Bow%20Saw%2001.jpg",
                    title: "William Marples and Sons Bow Saw",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "William Marples and Sons Bow Saw. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Household%20Items/Web/William%20Marples%20Sons%20Bow%20Saw%2002.jpg"}
                    )
            //- -----  End of HOUSEHOLD ITEMS  ---------------------------------------------

            //- =============================================================================================
            //- ██      ██  ██████  ██   ██ ████████ ██ ███    ██  ██████
            //- ██      ██ ██       ██   ██    ██    ██ ████   ██ ██
            //- ██      ██ ██   ███ ███████    ██    ██ ██ ██  ██ ██   ███
            //- ██      ██ ██    ██ ██   ██    ██    ██ ██  ██ ██ ██    ██
            //- ███████ ██  ██████  ██   ██    ██    ██ ██   ████  ██████
            //- =============================================================================================
            +projectDivider("Lighting")
            .grid-x.grid-margin-x.align-center

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Achille%20Castiglioni%20And%20Pio%20Manzu%20Parentesi%20Floor%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Achille%20Castiglioni%20And%20Pio%20Manzu%20Parentesi%20Floor%20Lamp%2001.jpg",
                    title: "Achille Castiglioni And Pio Manzu Parentesi Floor Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Achille Castiglioni And Pio Manzu Parentesi Floor Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Achille%20Castiglioni%20And%20Pio%20Manzu%20Parentesi%20Floor%20Lamp%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Achille%20Castiglioni%20Toio%20Floor%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Achille%20Castiglioni%20Toio%20Floor%20Lamp%2001.jpg",
                    title: "Achille Castiglioni Toio Floor Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Achille Castiglioni Toio Floor Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Achille%20Castiglioni%20Toio%20Floor%20Lamp%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Desk%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Desk%20Lamp%2001.jpg",
                    title: "Desk Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Desk Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Desk%20Lamp%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Ernesto%20Gismondi%20Sintesi%20Table%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Ernesto%20Gismondi%20Sintesi%20Table%20Lamp%2001.jpg",
                    title: "Ernesto Gismondi Sintesi Table Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Ernesto Gismondi Sintesi Table Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Ernesto%20Gismondi%20Sintesi%20Table%20Lamp%2002.jpg"},
                    {title: "Ernesto Gismondi Sintesi Table Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Ernesto%20Gismondi%20Sintesi%20Table%20Lamp%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Frans%20Van%20Nieuwenborg%20And%20Martijn%20Wegman%20Delight%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Frans%20Van%20Nieuwenborg%20And%20Martijn%20Wegman%20Delight%20Lamp%2001.jpg",
                    title: "Frans Van Nieuwenborg And Martijn Wegman Delight Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Frans Van Nieuwenborg And Martijn Wegman Delight Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Frans%20Van%20Nieuwenborg%20And%20Martijn%20Wegman%20Delight%20Lamp%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Giuseppe%20Ostuni%20Floor%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Giuseppe%20Ostuni%20Floor%20Lamp%2001.jpg",
                    title: "Giuseppe Ostuni Floor Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })


                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Joe%20Colombo%20Topo%20Desk%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Joe%20Colombo%20Topo%20Desk%20Lamp%2001.jpg",
                    title: "Joe Colombo Topo Desk Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Joe Colombo Topo Desk Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Joe%20Colombo%20Topo%20Desk%20Lamp%2002.jpg"},
                    {title: "Joe Colombo Topo Desk Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Joe%20Colombo%20Topo%20Desk%20Lamp%2003.jpg"}
                    )


                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Joe%20Colombo%20Topo%20Floor%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Joe%20Colombo%20Topo%20Floor%20Lamp%2001.jpg",
                    title: "Joe Colombo Topo Floor Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Joe Colombo Topo Floor Lamp. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Joe%20Colombo%20Topo%20Floor%20Lamp%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Richard%20Sapper%20Tizio%20Table%20Lamp%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Lighting/Web/Richard%20Sapper%20Tizio%20Table%20Lamp%2001.jpg",
                    title: "Richard Sapper Tizio Table Lamp",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })
            //- -----  End of LIGHTING  ---------------------------------------------


            //- =============================================================================================
            //-  ██████  ██████       ██ ███████  ██████ ████████ ███████
            //- ██    ██ ██   ██      ██ ██      ██         ██    ██
            //- ██    ██ ██████       ██ █████   ██         ██    ███████
            //- ██    ██ ██   ██ ██   ██ ██      ██         ██         ██
            //-  ██████  ██████   █████  ███████  ██████    ██    ███████
            //- =============================================================================================
            +projectDivider("Objects")
            .grid-x.grid-margin-x.align-center

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/American%20Circus%20Game%20Fragment%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/American%20Circus%20Game%20Fragment%2001.jpg",
                    title: "American Circus Game Fragment",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/American%20Miniature%20Lobster%20Buoys%20Set%20Of%20Five%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/American%20Miniature%20Lobster%20Buoys%20Set%20Of%20Five%2001.jpg",
                    title: "American Miniature Lobster Buoys",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "American Miniature Lobster Buoys. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/American%20Miniature%20Lobster%20Buoys%20Set%20Of%20Five%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/American%20Sun%20Ornament%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/American%20Sun%20Ornament%2001.jpg",
                    title: "American Sun Ornament",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Bahlsen%20Packaging%20Collection%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Bahlsen%20Packaging%20Collection%2001.jpg",
                    title: "Bahlsen Packaging",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Bamileke%20Stool%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Bamileke%20Stool%2001.jpg",
                    title: "Bamileke Stool",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Baule%20Artist%20Mask%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Baule%20Artist%20Mask%2001.jpg",
                    title: "Baule Artist Mask",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Baule Artist Mask. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Baule%20Artist%20Mask%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Chinese%20Suanpan%20Abacus%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Chinese%20Suanpan%20Abacus%2001.jpg",
                    title: "Chinese Suanpan Abacus",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Chinese Suanpan Abacus. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Chinese%20Suanpan%20Abacus%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Coptic%20Tapestry%20Weaving%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Coptic%20Tapestry%20Weaving%2001.jpg",
                    title: "Coptic Tapestry Weaving",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Dan%20Reisinger%20Perpetual%20Wall%20Calendar%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Dan%20Reisinger%20Perpetual%20Wall%20Calendar%2001.jpg",
                    title: "Dan Reisinger Perpetual Wall Calendar",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Dutch%20Miniature%20Wagon%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Dutch%20Miniature%20Wagon%2001.jpg",
                    title: "Dutch Miniature Wagon",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Egyptian%20Sarcophagus%20Mask%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Egyptian%20Sarcophagus%20Mask%2001.jpg",
                    title: "Egyptian Sarcophagus Mask",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/El%20Lissitzky%20Attribution%20Untitled%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/El%20Lissitzky%20Attribution%20Untitled%2001.jpg",
                    title: "El Lissitzky Attribution Untitled",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "El Lissitzky Attribution Untitled. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/El%20Lissitzky%20Attribution%20Untitled%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Enzo%20Mari%20Formosa%20And%20Timor%20Calendars%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Enzo%20Mari%20Formosa%20And%20Timor%20Calendars%2001.jpg",
                    title: "Enzo Mari Formosa And Timor Calendars",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Enzo Mari Formosa And Timor Calendars. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Enzo%20Mari%20Formosa%20And%20Timor%20Calendars%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/French%20Mold%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/French%20Mold%2001.jpg",
                    title: "French Mold",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "French Mold. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/French%20Mold%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Reference%20Collection%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/From%20The%20Studio%20Of%20Paul%20Rand%20Reference%20Collection%2001.jpg",
                    title: "From The Studio Of Paul Rand Reference Collection",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Giuseppe%20Rivadossi%20Arca%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Giuseppe%20Rivadossi%20Arca%2001.jpg",
                    title: "Giuseppe Rivadossi Arca",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Giuseppe Rivadossi Arca. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Giuseppe%20Rivadossi%20Arca%2002.jpg"},
                    {title: "Giuseppe Rivadossi Arca. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Giuseppe%20Rivadossi%20Arca%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Iroquois%20Ceremonial%20Mask%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Iroquois%20Ceremonial%20Mask%2001.jpg",
                    title: "Iroquois Ceremonial Mask",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Iroquois Ceremonial Mask. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Iroquois%20Ceremonial%20Mask%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Fish%20Decoy%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Fish%20Decoy%2001.jpg",
                    title: "Japanese Fish Decoy",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Japanese Fish Decoy. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Fish%20Decoy%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Haniwa%20Figure%2001.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Haniwa%20Figure%2001.jpg",
                    title: "Japanese Haniwa Figure",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Japanese Haniwa Figure. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Haniwa%20Figure%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Paul%20Rand%20Seals%20Set%20Of%20Two%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Paul%20Rand%20Seals%20Set%20Of%20Two%2001.jpg",
                    title: "Japanese Paul Rand Seals Set Of Two",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Japanese Paul Rand Seals Set Of Two. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Paul%20Rand%20Seals%20Set%20Of%20Two%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Toy%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Toy%2001.jpg",
                    title: "Japanese Toy",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Japanese Toy. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Toy%2002.jpg"},
                    {title: "Japanese Toy. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Japanese%20Toy%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Figures%20Pair%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Figures%20Pair%2001.jpg",
                    title: "Mexican Folk Art Figures Pair",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Mexican Folk Art Figures Pair. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Figures%20Pair%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Plaza%20Scene%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Plaza%20Scene%2001.jpg",
                    title: "Mexican Folk Art Plaza Scene",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Mexican Folk Art Plaza Scene. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Plaza%20Scene%2002.jpg"},
                    {title: "Mexican Folk Art Plaza Scene. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Plaza%20Scene%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Souvenir%20Shop%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Souvenir%20Shop%2001.jpg",
                    title: "Mexican Folk Art Souvenir Shop",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Mexican Folk Art Souvenir Shop. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Folk%20Art%20Souvenir%20Shop%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Mirror%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Mexican%20Mirror%2001.jpg",
                    title: "Mexican Mirror",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nick%20Roericht%20Collection%20Of%20Twenty%20Calendars%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nick%20Roericht%20Collection%20Of%20Twenty%20Calendars%2001.jpg",
                    title: "Nick Roericht Calendars",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Nick Roericht Calendars. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nick%20Roericht%20Collection%20Of%20Twenty%20Calendars%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nupe%20Artist%20Door%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nupe%20Artist%20Door%2001.jpg",
                    title: "Nupe Artist Door, v1",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Nupe Artist Door, v1. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nupe%20Artist%20Door%2002.jpg"}
                    )


                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nupe%20Artist%20Door%201%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Nupe%20Artist%20Door%201%2001.jpg",
                    title: "Nupe Artist Door, v2",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Pablo%20Picasso%20Hibou%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Pablo%20Picasso%20Hibou%2001.jpg",
                    title: "Pablo Picasso Hibou",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "3 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Pablo Picasso Hibou. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Pablo%20Picasso%20Hibou%2002.jpg"},
                    {title: "Pablo Picasso Hibou. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Pablo%20Picasso%20Hibou%2003.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Persian%20Kashan%20Pitcher%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Persian%20Kashan%20Pitcher%2001.jpg",
                    title: "Persian Kashan Pitcher",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Persian Kashan Pitcher. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Persian%20Kashan%20Pitcher%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Pre%20Columbian%20Stirrup%20Vessel%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Pre%20Columbian%20Stirrup%20Vessel%2001.jpg",
                    title: "Pre Columbian Stirrup Vessel",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Pre Columbian Stirrup Vessel. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Pre%20Columbian%20Stirrup%20Vessel%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Sarreguemines%20Pitcher%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Sarreguemines%20Pitcher%2001.jpg",
                    title: "Sarreguemines Pitcher",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Sarreguemines Pitcher. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Sarreguemines%20Pitcher%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Sawos%20People%20Mask%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Sawos%20People%20Mask%2001.jpg",
                    title: "Sawos People Mask",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Selected%20By%20Paul%20Rand%20Packaging%20Collection%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Selected%20By%20Paul%20Rand%20Packaging%20Collection%2001.jpg",
                    title: "Selected By Paul Rand Packaging Collection",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Selected By Paul Rand Packaging Collection. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Selected%20By%20Paul%20Rand%20Packaging%20Collection%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Shaker%20Box%20Stove%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Shaker%20Box%20Stove%2001.jpg",
                    title: "Shaker Box Stove",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Shigeo%20Fukuda%20Untitled%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Shigeo%20Fukuda%20Untitled%2001.jpg",
                    title: "Shigeo Fukuda Untitled",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Shigeo Fukuda Untitled. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Shigeo%20Fukuda%20Untitled%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Various%20Designers%20Collection%20Of%20Ten%20Posters%20From%20The%20Library%20Of%20Paul%20Rand%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Various%20Designers%20Collection%20Of%20Ten%20Posters%20From%20The%20Library%20Of%20Paul%20Rand%2001.jpg",
                    title: "Various Designers Collection Of Ten Posters From The Library Of Paul Rand",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Various%20Designers%20Toy%20Collection%20Assembled%20By%20Paul%20Rand%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Various%20Designers%20Toy%20Collection%20Assembled%20By%20Paul%20Rand%2001.jpg",
                    title: "Various Designers Toy Collection Assembled By Paul Rand",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Various Designers Toy Collection Assembled By Paul Rand. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Various%20Designers%20Toy%20Collection%20Assembled%20By%20Paul%20Rand%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Divination%20Bowl%20With%20Lid%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Divination%20Bowl%20With%20Lid%2001.jpg",
                    title: "Yoruba Artist Divination Bowl With Lid",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Yoruba Artist Divination Bowl With Lid. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Divination%20Bowl%20With%20Lid%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Gelede%20Mask%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Gelede%20Mask%2001.jpg",
                    title: "Yoruba Artist Gelede Mask, v1",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Yoruba Artist Gelede Mask, v1. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Gelede%20Mask%2002.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Gelede%20Mask%201%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Gelede%20Mask%201%2001.jpg",
                    title: "Yoruba Artist Gelede Mask, v2",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Yoruba Artist Gelede Mask, v2. Image courtesy of Wright auction house, Chicago, IL.", hideMe: "https://assets.paulrand.design/Life/Personal%20Items/Objects/Web/Yoruba%20Artist%20Gelede%20Mask%201%2002.jpg"}
                    )
            //- -----  End of OBJECTS  ---------------------------------------------


            //- =============================================================================================
            //- ██████   █████  ██ ███    ██ ████████ ██ ███    ██  ██████  ███████
            //- ██   ██ ██   ██ ██ ████   ██    ██    ██ ████   ██ ██       ██
            //- ██████  ███████ ██ ██ ██  ██    ██    ██ ██ ██  ██ ██   ███ ███████
            //- ██      ██   ██ ██ ██  ██ ██    ██    ██ ██  ██ ██ ██    ██      ██
            //- ██      ██   ██ ██ ██   ████    ██    ██ ██   ████  ██████  ███████
            //- =============================================================================================

            +projectDivider("Paintings")
            .grid-x.grid-margin-x.align-center

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Paintings/Web/Iranian%20Calligraphy%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Paintings/Web/Iranian%20Calligraphy%2001.jpg",
                    title: "Iranian Calligraphy",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6","6",
                    {
                    SM: "https://assets.paulrand.design/Life/Personal%20Items/Paintings/Web/John%20Constable%20Woodland%20Scene%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Life/Personal%20Items/Paintings/Web/John%20Constable%20Woodland%20Scene%2001.jpg",
                    title: "John Constable Woodland Scene",
                    footnote1: "Image courtesy of Wright auction house, Chicago, IL.",
                    footnote2: "CHANGE_ME"
                    })


            //- -----  End of PAINTINGS  ---------------------------------------------



















