extends ../__MIXINS/_layout-default.pug
include ../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Rand House'
    - var bodyID    = 'life'
    - var bodyClass = 'rand-house'

block main-content
    .cd-main-content
        .grid-container
            //- ==========  BODY  ==========

            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell
                    h1.text-center.small-mb2.medium-mb3.large-mb3.reveal-enter-bottom!= pageTitle

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Paul and Marion Rand’s quintessential mid-century modern home, designed by Paul Rand and Ann Binkley Rand and built in 1953, is on the market. The landmark home, set in the wooded Connecticut town of Weston, is the epitome of modern aesthetics with a touch of Japanese simplicity, exactly the kind of structure you’d picture Rand living in until his death in 1996.

                        “The Rand House avoids the cliches of the “modernistic”, strives for a warm and companionable use of building materials. The wood used in the frame is a black-stained cypress, the white paneling is of Marlite, and the flags for the court and entrance are blue-stones. The house is congenial to all types of New England weather,” notes the Weston Historical Society in the sales prospectus.

                        *— Steven Heller*

                        ---

                        The house at 87 Goodhill Road in Weston, CT was named one of the “10 Best Houses of 1953” by *Interiors* magazine. It was also featured in the August 1953 issue of *Esquire* in an article entitled, “A House to Live With: Paul Rand, one of America’s great graphic designers, builds a home”:

                        “A man who knew the secrets of living, Henry David Thoreau, once wrote: ‘I sometimes dream of a ... house, standing in a golden age, of enduring materials, and without gingerbread work...containing all the essentials of a house, and nothing for housekeeping...’

                        Ann and Paul Rand wanted such a house, too, an enduring, essential house, built for beauty and privacy, security and shelter, peace and an intimacy with its surroundings. So they designed theirs as if this were the first house ever built. Mrs. Rand is a graduate architect, Paul Rand a designer and painter, so perhaps this approach was destined to be a creative and tasteful success.”

                        Paul Rand (1914-1996) at that time was designing advertisements for such clients as Orbach’s department store, Schenley Liquors, and Playtex, as well as book jackets and covers for Alfred A. Knopf and other publishers. His graphic design was characterized by its sly humor and simplicity, combining formal elements from modern painting with bold contemporary typography. He was one of the few American designers to bring the modernist traditions of Cubism and the Bauhaus into his designs.

                        “Mrs. Rand” was the former Ann Binkley, and she was far more than “a graduate architect.” In fact, she had studied at the famed Illinois Institute of Technology (IIT) with none other than the renowned architect Mies van der Rohe, receiving her B.S. in 1945. She married Paul Rand in 1949 and immediately began work on the house at 87 Goodhill Road in Weston.

                        Ann Rand had designed another house for herself in Rye, NY. She hired the famous architect Marcel Breuer to design it in 1948; unhappy with his design, she took over and completed the house herself. (“Take that, Marcel Breuer!”)

                        During their decade or so of marriage, Ann and Paul Rand worked side by side in the studio at 87 Goodhill Road, “the creative heart of the Rand home.” (*Esquire*)

                        In 1953, their daughter Catherine was born, and she provided the inspiration for the Rands’ imaginative, unique children’s books.

                        They published their first, *I Know a Lot of Things*, in 1956 for legendary children’s book editor Margaret McEldery of Harcourt, Brace & World. (It was reissued in 1973 by Chronicle Books, San Francisco.)

                        Ann Rand told an interviewer: “I began writing for children during my daughter’s childhood. By watching her explore and learn about the world, I came to see the world–at least to some extent–through a child’s view of it. The rediscovery of the world around me through the eyes of children was exciting and stimulating–an added dimension to the way my peers and I looked and felt about things.”

                        The New York Times chose *I Know a Lot of Things*, 1956, *Sparkle and Spin*, 1957, and *Umbrellas, Hats, and Wheels*, 1961, as best illustrated children’s books of the year.

                        In 1960 Ann Rand married Hasan Ozbekhan, a Turkish-born economist and influential professor at the Wharton School in Philadelphia, and they remained married until his death in 2007. She continued her work as an architect, author of novels and children’s books, artist, and community activist.

                        Paul Rand’s second marriage was to Marion Swannie, who headed the graphic design department at IBM. In 1956 he had been hired as the graphic design consultant for IBM, and he designed the corporation’s logo and entire identity system.

                        Logos followed for Westinghouse (1961), United Parcel Service (1961), ABC (1962) and Cummins Engine (1979).

                        From 1956 until the 1990s he was a professor of graphic design at Yale, and until his death in 1996, he worked from his studio at 87 Goodhill Road, designing logos, posters, and books, as well as writing three memoirs.

                        *— Liz Titus, Weston Historical Society*


                iframe.small-my3(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3002.221242358567!2d-73.359793!3d41.1951499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e804a2afdce62d%3A0x3a1d204e3d988355!2s87+Good+Hill+Rd%2C+Weston%2C+CT+06883!5e0!3m2!1sen!2sus!4v1460479328021" height="600" frameborder="0" style="border:0; width: 100%" allowfullscreen)

                .small-12.cell
                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Original Sketches",
                        "middle top", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2001-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2001.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2002-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2002.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2003-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2003.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2004-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2004.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2005-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2005.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2006-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2006.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2007-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2007.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2008-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2008.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2009-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2009.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2010-450.jpg", LG:"https://assets.paulrand.design/Life/Sketches%20and%20Notes/House%20Sketches/Web/House%20Sketch%2010.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Floorplan",
                        "top","1", "1",
                        {SM: "https://assets.paulrand.design/Life/House/Floorplan/Web/Rand-House-Floorplan.svg", LG:"https://assets.paulrand.design/Life/House/Floorplan/Web/Rand-House-Floorplan.svg", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Elevations",
                        "top","1", "1",
                        {SM: "https://assets.paulrand.design/Life/House/Elevations/Web/Rand-House-Elevations.svg", LG:"https://assets.paulrand.design/Life/House/Elevations/Web/Rand-House-Elevations.svg", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Site Survey and Septic",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Site%20Survey/Web/Rand%20House%20Site%20Survey-450.jpg", LG:"https://assets.paulrand.design/Life/House/Site%20Survey/Web/Rand%20House%20Site%20Survey.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Site%20Survey/Web/Rand%20House%20Septic%20%26%20Well%20Info-450.jpg", LG:"https://assets.paulrand.design/Life/House/Site%20Survey/Web/Rand%20House%20Septic%20%26%20Well%20Info.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Exterior",
                        "middle","3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%2002.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2002.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2003.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2004-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2004.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2005-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2005.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2006-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2006.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2007-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2007.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2008-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2008.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2009-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2009.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2010-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2010.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2011-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2011.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2012-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2012.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2013-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bob%20Gregson%2C%20sale%29%2013.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2002.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2003.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2004-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2004.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2005-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2005.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2006-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2006.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2007-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2007.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2008-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2008.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2009-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2009.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2010-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29%2010.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2002.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2003.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2004-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2004.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2005-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2005.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2006-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Dan%20Meyers%29%2006.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2002.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2003.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2004-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2004.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2005-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2005.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2006-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2006.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2007-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2007.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2008-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Hans%20Namuth%29%2008.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2002.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2003.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2004-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2004.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2005-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2005.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2006-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2006.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2007-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Instagram%2C%20sale%29%2007.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Mohawk%20Graphics%20Collection%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Mohawk%20Graphics%20Collection%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2002.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2003.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2004-450.jpg", LG:"https://assets.paulrand.design/Life/House/Exterior/Web/Rand%20House%20Exterior%20%28Robin%20Downes%29%2004.jpg", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Living Room",
                        "middle","3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2001%20%28Hans%20Namuth%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2001%20%28Hans%20Namuth%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2002%20%28Hans%20Namuth%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2002%20%28Hans%20Namuth%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2003%20%28Hans%20Namuth%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2003%20%28Hans%20Namuth%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2004%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2004%20%28Dan%20Meyers%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2005%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2005%20%28Dan%20Meyers%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2006%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2006%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2007%20%28Yusaku%20Kamekura%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2007%20%28Yusaku%20Kamekura%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2008-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2008.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2009-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2009.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2010-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2010.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2011%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2011%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2012%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2012%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2013%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2013%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2014%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2014%20%28Bob%20Gregson%2C%20sale%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2015%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2015%20%28Bob%20Gregson%2C%20sale%29.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2016-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%2016.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%20%28Instagram%2C%20sale%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Living%20Room%20%28Instagram%2C%20sale%29%2001.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Boot%20on%20window%20sill-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Boot%20on%20window%20sill.jpg", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Inu%20looking%20inside-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Inu%20looking%20inside.jpg", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: House Entry and Dining Room",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Entry%2001%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Entry%2001%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Entry%2002%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Entry%2002%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2001%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2001%20%28Dan%20Meyers%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2002%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2002%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2003%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2003%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2004%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2004%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2005%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2005%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2006%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2006%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2007%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2007%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2008%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Dining%20Room%2008%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Kitchen",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Kitchen%2001%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Kitchen%2001%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Kitchen%2002%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Kitchen%2001%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Kitchen%2003%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Kitchen%2003%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Laundry",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Laundry%2001%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Laundry%2001%20%28Dan%20Meyers%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Laundry%2002%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Laundry%2002%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Laundry%2003%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Laundry%2003%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Library",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Library%2001%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Library%2001%20%28Dan%20Meyers%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Library%2002%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Library%2002%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Bedrooms and Bathrooms",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2001%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2001%20%28Dan%20Meyers%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2002%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2002%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2001%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2001%20%28Dan%20Meyers%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2002%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2002%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2003%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2003%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2004%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bedroom%2C%20Master%2004%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bathroom%2001%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bathroom%2001%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bathroom%2C%20Master%2001%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Bathroom%2C%20Master%2001%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Powder%20Room%2001%20%28Instagram%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Powder%20Room%2001%20%28Instagram%2C%20sale%29.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Doorways",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Doorways%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Doorways%2001.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Doorways%2002%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Doorways%2002%20%28Dan%20Meyers%29.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Office",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Office%2001%20%28Dan%20Meyers%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Office%2001%20%28Dan%20Meyers%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Office%2002%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Office%2002%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Office%2003%20%28Instagram%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Office%2003%20%28Instagram%2C%20sale%29.jpg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Interior: Studio",
                        "middle", "3", "2",
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2001.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2002-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2002.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2003.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2004b-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2004b.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2005-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2005.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2006-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2006.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2007%20%28Hans%20Namuth%29%2001-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2007%20%28Hans%20Namuth%29%2001.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2008%20%28Dan%20Meyers%29%20010-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2008%20%28Dan%20Meyers%29%20010.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2009%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29%2003-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2009%20%28Ferenc%20Berko%2C%20Esquire%2C%20August%201953%29%2003.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2010%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2010%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2011%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2011%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2012%20%28Bob%20Gregson%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2012%20%28Bob%20Gregson%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2013%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2013%20%28Bryan%20Haeffele%2C%20Sotheby%27s%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2014%20%28Instagram%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2014%20%28Instagram%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2015%20%28Instagram%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2015%20%28Instagram%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2016%20%28Instagram%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2016%20%28Instagram%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2017%20%28Instagram%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2017%20%28Instagram%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2018%20%28Instagram%2C%20sale%29-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2018%20%28Instagram%2C%20sale%29.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2019-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2019.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2020-450.jpg", LG:"https://assets.paulrand.design/Life/House/Interior/Web/Rand%20House%20Interior%20Studio%2020.jpg", title: "", footnote: ""}
                        )