extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Design Form and Chaos'
    - var bodyID    = 'writing'
    - var bodyClass = 'books'

block main-content
    - var bookSubhead           = 'Yale University Press, 1993'

    - var library               = 'yes'
    - var libraryLink           = 'http://www.worldcat.org/oclc/27972555'
    - var abe                   = 'yes'
    - var abeLink               = 'http://affiliates.abebooks.com/c/177653/77798/2029?u=http%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26kn%3Dpaul%2Brand%2Bdesign%2Bform%2Bchaos%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17'
    - var amazon                = 'yes'
    - var amazonLink            = 'http://amzn.to/1QN9Lwy'
    - var modernism101          = 'no'
    - var modernism101Link      = 'CHANGE_ME'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'http://www.anrdoezrs.net/links/7937826/type/dlg/http://www.barnesandnoble.com/w/design-form-and-chaos-paul-rand/1000406251?ean=9780300055535'
    - var ebay                  = 'yes'
    - var ebayLink              = 'https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575189232&campid=5337903203&mpre=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2050601.m570.l1313.TR0.TRC0.H0.XDesign%2BForm%2Band%2BChaos%2BPaul%2BRand.TRS0%26_nkw%3DDesign%2BForm%2Band%2BChaos%2BPaul%2BRand%26_sacat%3D0'

    - var nextType              = 'Book'
    - var nextTitle             = 'From Lascaux to Brooklyn'
    - var nextDate              = '1996'
    - var nextDescription       = 'Back to basics is Rand’s refrain in the last volume of his Yale series'
    - var nextLink              = '/writing/books/from-lascaux-to-brooklyn.html'

    - var relatedItemLink1      = '/writing/books/thoughts-on-design-1st-edition.html'
    - var relatedItemTitle1     = 'Thoughts on Design, 1st Edition'
    - var relatedItemFootnote1  = 'This is — quite possibly — the most desireable Graphic Design book ever published. '

    - var relatedItemLink2      = '/writing/books/the-trademarks-of-paul-rand.html'
    - var relatedItemTitle2     = 'The Trademarks of Paul Rand — A Selection'
    - var relatedItemFootnote2  = 'Softcover perfect-bound book in stiff, printed french-folded wrappers under original publishers’ glassine wrappers. '

    - var relatedItemLink3      = '/writing/books/a-designers-art.html'
    - var relatedItemTitle3     = 'A Designer’s Art'
    - var relatedItemFootnote3  = '7.75 x 10 hardcover edition with 240 pages and 153 b/w illustrations and 55 color plates of work samples by the author.'

    - var imageCarouselTitle    = 'View Inside'
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0007-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0007.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0013-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0013.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0022-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0022.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0026-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0026.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0032-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0032.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0041-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0041.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0050-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0050.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0057-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0057.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0062-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0062.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0071-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0071.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0081-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0081.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0088-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0088.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0093-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0093.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0099-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0099.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0108-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0108.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0113-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0113.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0120-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0120.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0124-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0124.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0126-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/0126.jpg', title: ''})


    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.small-mb3.align-center
                .large-7.medium-8.small-12.cell.text-center
                    h1.reveal-enter-top!= pageTitle

                    em.text-gray.t16!= bookSubhead


                    //- /*==============================  BOOK COVER  ==============================*/
                    .small-mt3.small-mb2
                        +imageZoomSingle(
                            "https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/design%20form%20chaos%20front.jpg",
                            "https://assets.paulrand.design/Writing/Books/1993%20Design%20Form%20and%20Chaos/jpegs/design%20form%20chaos%20front.jpg"
                            )


            //- /*==============================  VIEW INSIDE  ==============================*/
            include ../../__MIXINS/_include-image-carousel.pug



            //- /*==============================  BODY  ==============================*/
            .grid-x.grid-margin-x.align-center
                .large-7.medium-8.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        7.75 x 10 hardcover edition with 224 pages and 55 b/w illustrations and 70 color plates of work samples by the author. In this, Rand speaks about the contemporary practice of graphic design, explaining the process and passion that foster good design and illustrating his ideas with examples of his own stunning graphic work as well as with the work of artists he admires. The centerpiece of the book consists of seven design portfolios--with diagrams and ultimate choices--that Rand used to present his logos to clients such as NEXT, IDEO, and IBM.

                        ##### Contents:

                        + Introduction
                        + Form + content
                        + Good design is goodwill
                        + Intuition and ideas
                        + Logos ... flags ... street signs
                        + The presentation
                        + NEXT
                        + The Limited
                        + The IBM Logo
                        + Adstar advanced storage and retrieval
                        + IDEO design
                        + Morningstar investment advisers
                        + Computers, pencils and brushes
                        + Aspects of book design
                        + A mentor
                        + From cassandre to chaos

                    p.small-mb0 “To have the preeminent graphic designer in America—the leading proponent of the Modern—intelligently and forcefully speak out makes this a document for today and the ages. Rand’s book is a classic.”
                        .footnote —Steven Heller

                    p.small-mb0 “Looking through [Rand’s] book, I found no work that I would not have been proud of having done myself. Design, Form, and Chaos is an outstanding teaching book, because it demonstrates how, by the simplest means, utility and beauty can be combined.”
                        .footnote —Armin Hofmann

                    p.small-mb0 “Paul Rand is America’s preeminent statesman of graphic design… . Design, Form, and Chaos [is] an excellent example of Mr. Rand’s capacity to create beautiful forms. As much a visual narrative as a verbal one, it contains many examples of his work from recent years. These are handsomely printed in duotone and color reproductions.”
                        .footnote —Victor Margolin, New York Times Book Review

                    p.small-mb0 “A strikingly designed book that looks at topics such as the values behind esthetics, the role of intuition in good design, the place of market research, and how to use computers. The book’s mix of short texts and smart graphics is just right.”
                        .footnote —Architectural Record

                    .footnote — Randall Ross of modernism101.com







            //- /*-----  End of BODY  ------*/

        include ../../__MIXINS/_include-find-a-copy.pug

        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug

        br(style="clear:both")