extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Some Thoughts… Some Logos'
    - var bodyID    = 'writing'
    - var bodyClass = 'books'

block main-content
    - var bookSubhead           = '1991'

    - var library               = 'yes'
    - var libraryLink           = 'http://www.worldcat.org/oclc/775703040'
    - var abe                   = 'yes'
    - var abeLink               = 'http://affiliates.abebooks.com/c/177653/77798/2029?u=http%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26kn%3Dpaul%2Brand%2Bsome%2Bthoughts%2Bsome%2Blogos%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17'
    - var amazon                = 'yes'
    - var amazonLink            = 'http://amzn.to/1QNaON2'
    - var modernism101          = 'no'
    - var modernism101Link      = 'CHANGE_ME'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'http://www.anrdoezrs.net/links/7937826/type/dlg/http://www.barnesandnoble.com/s/paul+rand+some+thoughts+some+logos?_requestid=194847'
    - var ebay                  = 'yes'
    - var ebayLink              = 'https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575189232&campid=5337903203&mpre=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2050601.m570.l1313.TR0.TRC0.H0.XSome%2BThoughts%25E2%2580%25A6%2BSome%2BLogos%2B.TRS0%26_nkw%3DSome%2BThoughts%25E2%2580%25A6%2BSome%2BLogos%2BPaul%2BRand%26_sacat%3D0'

    - var nextType              = 'Book'
    - var nextTitle             = 'Some Thoughts… and Some Tribulations about the Design of a Logo'
    - var nextDate              = '1991'
    - var nextDescription       = 'A rewrite of his “Logos, Flags, and Escutcheons” article, speaking about the design and development of logos.'
    - var nextLink              = '/writing/books/some-thoughts-some-tribulations.html'

    - var relatedItemLink1      = '/writing/books/a-designers-art.html'
    - var relatedItemTitle1     = 'A Designer’s Art'
    - var relatedItemFootnote1  = 'This book is a revised and updated version of Thoughts on Design, Rand’s legendary first book from 1947.'

    - var relatedItemLink2      = '/writing/books/sparkle-and-spin.html'
    - var relatedItemTitle2     = 'Sparkle and Spin'
    - var relatedItemFootnote2  = 'Through harmony and rhythm, resonance and pitch, Ann Rand inspires readers to listen to the tuneful play of her text as it sings off each page.'

    - var relatedItemLink3      = '/writing/books/thoughts-on-design-4th-edition.html'
    - var relatedItemTitle3     = 'Thoughts on Design, 4th Edition'
    - var relatedItemFootnote3  = 'An update to the classic 3rd edition with a new foreword by Michael Beirut.'

    - var imageCarouselTitle    = 'View Inside'
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20front.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20front.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20back.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20back.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20envelope,%20front.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20envelope,%20front.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20envelope,%20back.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some%20Thoughts%20Some%20Logos,%20envelope,%20back.jpg', title: ''})


    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.small-mb3.align-center
                .large-7.medium-8.small-12.cell.text-center
                    h1(data-aos="fade-up")!= pageTitle

                    em.text-gray.t16(data-aos="fade-up")!= bookSubhead


                    //- /*==============================  BOOK COVER  ==============================*/
                    .small-mt3.small-mb2
                        +imageZoomSingle(
                            "https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some-Thoughts-Some-Logos-800.jpg",
                            "https://assets.paulrand.design/Writing/Books/1991%20Some%20Thoughts%20Some%20Logos/Web/Some-Thoughts-Some-Logos-800.jpg"
                            )


            //- /*==============================  VIEW INSIDE  ==============================*/
            include ../../__MIXINS/_include-image-carousel.pug



            //- /*==============================  BODY  ==============================*/
            .grid-x.grid-margin-x.align-center
                .large-7.medium-8.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Special thanks to Tom Hardy for this contribution

                        Similar to the &quot;Cassandre&quot; pamphlet, this version is a rewrite of his &quot;Logos, Flags, and Escutcheons&quot; article, speaking about the design and development of logos.

                        Illustrated throughout with his various solutions, this is also a nice timeline of his identity work. A list of release dates is included in the final panel.








            //- /*-----  End of BODY  ------*/

        include ../../__MIXINS/_include-find-a-copy.pug

        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug

        