extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'The Trademarks of Paul Rand — A Selection'
    - var bodyID    = 'writing'
    - var bodyClass = 'books'

block main-content
    - var bookSubhead           = '1960'

    - var library               = 'yes'
    - var libraryLink           = 'http://www.worldcat.org/oclc/561363'
    - var abe                   = 'yes'
    - var abeLink               = 'http://affiliates.abebooks.com/c/177653/77798/2029?u=http%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26kn%3Dpaul%2Brand%2Bthe%2Btrademarks%2Ba%2Bselection%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17'
    - var amazon                = 'yes'
    - var amazonLink            = 'http://amzn.to/1OqJ3Zb'
    - var modernism101          = 'no'
    - var modernism101Link      = 'CHANGE_ME'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'http://www.anrdoezrs.net/links/7937826/type/dlg/http://www.barnesandnoble.com/s/paul+rand+the+trademarks+of+paul+rand?_requestid=195617'
    - var ebay                  = 'yes'
    - var ebayLink              = 'https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575189232&campid=5337903203&mpre=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2050601.m570.l1313.TR0.TRC0.H0.XThe%2BTrademarks%2Bof%2BPaul%2BRand%2B%25E2%2580%2594%2BA%2BSelection.TRS0%26_nkw%3DThe%2BTrademarks%2Bof%2BPaul%2BRand%2B%25E2%2580%2594%2BA%2BSelection%26_sacat%3D0'

    - var nextType              = 'Book'
    - var nextTitle             = 'Little 1'
    - var nextDate              = 'Harcourt, Brace & World, 1962'
    - var nextDescription       = 'Young readers will gain knowledge about counting and basic addition as they follow the lonely "1" in his quest to find a friend.'
    - var nextLink              = '/writing/books/little-1.html'

    - var relatedItemLink1      = '/writing/books/good-design-is-good-will.html'
    - var relatedItemTitle1     = 'Good Design is Good Will'
    - var relatedItemFootnote1  = 'Yale University Press, 1987'

    - var relatedItemLink2      = '/writing/books/from-lascaux-to-brooklyn.html'
    - var relatedItemTitle2     = 'From Lascaux to Brooklyn'
    - var relatedItemFootnote2  = 'Yale University Press, 1996'

    - var relatedItemLink3      = '/writing/books/thoughts-on-design-1st-edition.html'
    - var relatedItemTitle3     = 'Thoughts on Design, First Edition'
    - var relatedItemFootnote3  = 'This is — quite possibly — the most desireable Graphic Design book ever published.'

    - var imageCarouselTitle    = 'View Inside'
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2001-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2002-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2002.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2003-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2003.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2004-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2004.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2005-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2005.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2006-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2006.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2007-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2007.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2008-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2008.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2009-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2009.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2010-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2010.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2011-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2011.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2012-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2012.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2013-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2013.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2015-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2015.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2016-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2016.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2017-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2017.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2018-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2018.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2019-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2019.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2020-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection%2020.jpg', title: ''})


    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.small-mb3.align-center
                .large-7.medium-8.small-12.cell.text-center
                    h1(data-aos="fade-up")!= pageTitle

                    em.text-gray.t16!= bookSubhead


                    //- /*==============================  BOOK COVER  ==============================*/
                    .small-mt3.small-mb2
                        +imageZoomSingle(
                            "https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection.jpg",
                            "https://assets.paulrand.design/Writing/Books/1960%20The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection/Web/The%20Trademarks%20of%20Paul%20Rand%20-%20A%20Selection.jpg"
                            )


            //- /*==============================  VIEW INSIDE  ==============================*/
            include ../../__MIXINS/_include-image-carousel.pug



            //- /*==============================  BODY  ==============================*/
            .grid-x.grid-margin-x.align-center
                .large-7.medium-8.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        First (only) edition; limited to 450 copies. Softcover perfect-bound book in stiff, printed french-folded wrappers under original publishers’ glassine wrappers. The interior signatures are perfect-bound in the Japanese-style. Cover design and typography by the author. General formatting and printing by Hiram Ash at the School of Art and Architecture, Yale University, New Haven, Connecticut.

                        According to a Wittenborn trade advertisement in TYPOGRAPHICA [New Series] 3 (London: Lund Humphries, June 1961, page 72), THE TRADEMARKS OF PAUL RAND was issued in a 450 copy press run and subsequently offered for $7.50 per copy. This limitation automatically makes this volume the rarest of books authored by Paul Rand.

                        9.5 x 9.5 softcover book (unpaginated) spotlighting 12 of Rand’s classic trademarks. Each mark is presented as a full-page design element with all printing in spot-color. In “The Trademark as an Illustrative Device” Rand wrote that “the trademark becomes doubly meaningful when it is used both as an identifying device and an illustration, each working hand in hand to enhance and dramatize the effect of the whole.” THE TRADEMARKS OF PAUL RAND seeks to transform the sales mark into the realm of fine art.

                        ##### Contents:

                        + Introduction by Gibson A. Danes: Dean of the School of Art and Architecture, Yale University
                        + Comments by Paul Rand: revised and reprinted on page 24 of A Designer’s Art. New Haven: Yale + University Press, 1985.
                        + Borzai Books, Alfred A. Knopf, Inc. 1945
                        + Smith, Kline and French Laboratories, 1945
                        + Westinghouse Electric Corporation, 1960
                        + Consolidated Cigar Corporation, 1959
                        + Robeson Cutlery Corporation, 1947
                        + Helbros Watch Company, 1943
                        + Harcourt Brace and Company, 1957
                        + El Producto Cigar Company, 1952
                        + Colorforms, 1959
                        + International Business Machines Corporation, 1956
                        + Coronet Brandy, 1941
                        + Esquire Magazine, 1938

                        I find it fascinating to see which marks Rand was most proud of in 1960. THE TRADEMARKS OF PAUL RAND definitely acts as an agenda-setter for how Rand wanted his career legacy to be remembered. Gibson Danes’ introduction also reinforces this point, as well as his decision to appoint Rand Professor of Graphic Design at Yale University’s graduate school of design in 1956.

                    .footnote — Randall Ross of modernism101.com







            //- /*-----  End of BODY  ------*/

        include ../../__MIXINS/_include-find-a-copy.pug

        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug

        br(style="clear:both")