extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Learning from Rand'
    - var bodyID    = 'life'
    - var bodyClass = 'videos'

block main-content
    - var nextType             = 'Video'
    - var nextTitle            = 'Design Literacy and Paul Rand with Steven Heller'
    - var nextDate             = '2015'
    - var nextDescription      = 'When CreativeLive visited Heller in his NYC studio, we talked about his life-long passion for design and why history matters.'
    - var nextLink             = '/life/videos/2015-steven-heller-design-literacy.html'

    - var relatedItemLink1     = '/life/videos/1996-cooper-union.html'
    - var relatedItemTitle1    = 'Cooper Union interview with Steven Heller'
    - var relatedItemFootnote1 = 'One of Rand’s final public appearances.'

    - var relatedItemLink2     = '/life/videos/1996-conversations-with-paul-rand.html'
    - var relatedItemTitle2    = 'Conversations with Paul Rand'
    - var relatedItemFootnote2 = 'A Film by Preston McClanahan'

    - var relatedItemLink3     = '/life/videos/1993-steve-jobs.html'
    - var relatedItemTitle3    = 'Steve Jobs interview about working with Paul Rand'
    - var relatedItemFootnote3 = 'This video provided courtesy of youareworthy on YouTube.'


    //- =============================
    //- =            VIDEO            =
    //- =============================

    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center
                //- ==========  TITLE  ==========
                .large-8.medium-11.cell
                    .grid-x.grid-margin-x
                        .large-12.cell.text-center
                            h1= pageTitle
                            p.text-gray.t16: em 2013

                            :markdown-it(html typographer plugins=['markdown-it-sup'])
                                Video courtesy and copyright of the [Museum of Design Atlanta (MODA)](http://www.museumofdesign.org)

            //- ==========  VIDEO  ==========
            .grid-x.grid-margin-x.align-center
                .large-12.cell
                    .small-mb3
                        div.plyr-js(data-plyr-embed-id="aXOAbmMWVTk" data-plyr-provider="youtube")

                    //- .flex-video
                    //-     iframe(src="//www.youtube.com/embed/aXOAbmMWVTk" frameborder="0" allowfullscreen)

            //- ==========  BODY  ==========
            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Steven Heller visited Atlanta for a special evening to discuss his relationship with Paul Rand in conjunction with the exhibit *Paul Rand: Defining Design*, exhibiting at The Museum of Design Atlanta (MODA) and curated by Daniel Lewandowski.

                        Speaking to a sold-out crowd of over 200 people at the High Museum of Art‘s Hill Auditorium, Heller reminisced about Rand’s influence and even shared some never-before-seend examples of his early work including packaging for a soap manufacturer and a whimsical mug for Blatz Beer.

                        Afterwards, he returned to the exhibit for a breif tour and socializing.

                        Special thanks to MODA and Portfolio Center for coordinating and sponsoring the event.

            .grid-x.grid-margin-x.align-center
                .cell
                    .grid-x.grid-margin-x(data-sr)
                        .small-12.cell
                            +imageZoomSingle(
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2002.jpg",
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2002.jpg"
                                )

                    .grid-x.grid-margin-x(data-sr)
                        .small-12.medium-4.large-4.cell
                            +imageZoomSingle(
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2021.jpg",
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2021.jpg"
                                )

                        .small-12.medium-4.large-4.cell
                            +imageZoomSingle(
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2054.jpg",
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2054.jpg"
                                )

                        .small-12.medium-4.large-4.cell
                            +imageZoomSingle(
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2004.jpg",
                                "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2004.jpg"
                                )





            //- /*-----  End of BODY  ------*/
        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug
