extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Videos'
    - var bodyID    = 'life'
    - var bodyClass = 'videos'

block main-content
    .cd-main-content

        //- ======================================
        //- =            VIDEOS           =
        //- ======================================

        .grid-container
            .grid-x.grid-margin-x.align-center
                .small-12.cell
                    h1.text-center.small-mb2.medium-mb3.large-mb3(data-aos="fade-up")!= pageTitle
                    //- /*==============================  /*
                    //- 
                    //- ██    ██ ██ ██████  ███████  ██████  ███████ 
                    //- ██    ██ ██ ██   ██ ██      ██    ██ ██      
                    //- ██    ██ ██ ██   ██ █████   ██    ██ ███████ 
                    //-  ██  ██  ██ ██   ██ ██      ██    ██      ██ 
                    //-   ████   ██ ██████  ███████  ██████  ███████ 
                    //- 
                    //- */  ==============================*/

                    +listItem-thumb(
                        "1960-graphic-design-at-yale.html",
                        "/life/img/_video-assets/video-yale.jpg",
                        "Graphic Design at Yale",
                        "1960",
                        "Produced by WGBH Boston for a special look at the graphic design department at Yale."
                        )

                    +listItem-thumb(
                        "1991-miggs-burroughs.html",
                        "/life/img/_video-assets/video-miggs.jpg",
                        "Miggs Burroughs with Paul Rand",
                        "1991",
                        "Miggs Burroughs talks with Paul Rand about his life and work for the Connecticut TV show &quot;Miggs B. on TV&quot;."
                        )

                    +listItem-thumb(
                        "1993-steve-jobs.html",
                        "/life/img/_video-assets/video-jobs.jpg",
                        "Steve Jobs interview about working with Paul Rand",
                        "1993",
                        "Steve Jobs talks about what it was like working with Paul Rand on the NEXT logo."
                        )

                    +listItem-thumb(
                        "1994-mead-generations.html",
                        "/life/img/_video-assets/video-mead.jpg",
                        "Mead Generations",
                        "1994",
                        "Produced by Mead Paper featuring notable designers discussing a variety of topics."
                        )

                    +listItem-thumb(
                        "1994-steven-heller.html",
                        "/life/img/_video-assets/video-heller-minneapolis.jpg",
                        "Steven Heller interviews Paul Rand",
                        "1994",
                        "Filmed at the Fitzgerald Theater in downtown St Paul Minnesota."
                        )

                    +listItem-thumb(
                        "1996-conversations-with-paul-rand.html",
                        "/life/img/_video-assets/video-conversations.jpg",
                        "Conversations with Paul Rand",
                        "1996",
                        "Filmed in 1996 by PM Films."
                        )

                    +listItem-thumb(
                        "1996-cooper-union.html",
                        "/life/img/_video-assets/video-cooper-union.jpg",
                        "Cooper Union Lecture",
                        "1996",
                        "A small clip from one Rand’s last interviews with Steven Heller."
                        )

                    +listItem-thumb(
                        "1996-next-introduction.html",
                        "/life/img/_video-assets/video-next.jpg",
                        "Introducing the NeXT Identity",
                        "1996",
                        "Rand’s presentation of the NeXT logo book to Steve Jobs and the team."
                        )

                    +listItem-thumb(
                        "1996-MIT.html",
                        "/life/img/_video-assets/video-MIT.jpg",
                        "MIT Lecture",
                        "1996",
                        "Rand’s final public appearance and speech."
                        )

                    +listItem-thumb(
                        "2006-john-stossel.html",
                        "/life/img/_video-assets/video-stossel.jpg",
                        "John Stossel comments on Graphic Design",
                        "2006",
                        "John Stossel from 20/20 comments on Graphic Design."
                        )

                    +listItem-thumb(
                        "2007-one-club-hall-of-fame.html",
                        "/life/img/_video-assets/video-oneclub.jpg",
                        "Induction to the One Club Hall Of Fame",
                        "2007",
                        "Paul Rand inducted to the One Club’s Hall of Fame and tribute video by Imaginary Forces."
                        )

                    +listItem-thumb(
                        "2008-paul-rand-lecture-series.html",
                        "/life/img/_video-assets/video-sva.jpg",
                        "Paul Rand Lecture Series",
                        "2008",
                        "Steven Heller lectures on Paul Rand’s book cover and jacket designs."
                        )

                    +listItem-thumb(
                        "2010-encounters-with-paul-rand.html",
                        "/life/img/_video-assets/video-brody.jpg",
                        "Encounters with Paul Rand",
                        "2010",
                        "Sarah Brody shares a video of her interviewing Rand during a visit to Art Center College of Design in Montreux, Switzerland."
                        )

                    +listItem-thumb(
                        "2012-kyle-cooper",
                        "/life/img/_video-assets/video-kyle-cooper.jpg",
                        "Kyle Cooper: Studying under Paul Rand",
                        "2012",
                        "Famed filmmaker Kyle Cooper talks about what it was like to be a student of Paul Rand’s."
                        )

                    +listItem-thumb(
                        "2013-MODA-design-conversations.html",
                        "/life/img/_video-assets/video-moda.jpg",
                        "MODA Design Conversations",
                        "2013",
                        "David Laufer, president of the Atlanta AIGA, discusses meeting Rand and his book “Aha Moments: Dialogues with Creative Legends”."
                        )

                    +listItem-thumb(
                        "2013-MODA-steven-heller.html",
                        "/life/img/_video-assets/video-moda-heller.jpg",
                        "Learning from Rand",
                        "2013",
                        "Steven Heller’s speech to a sold-out crowd in conjunction with the MODA exhibit in Atlanta."
                        )

                    +listItem-thumb(
                        "2015-steven-heller-design-literacy.html",
                        "/life/img/_video-assets/video-designLiteracy-heller.jpg",
                        "Design Literacy and Paul Rand with Steven Heller",
                        "2015",
                        "CreativeLive visited Heller in his NYC studio"
                        )

                    +listItem-thumb(
                        "2015-michael-bierut-talks-brand-design.html",
                        "/life/img/_video-assets/video-michaelBierut.jpg",
                        "Pentagram’s Michael Bierut Talks Brand Design & The Key To Creating Logos",
                        "2015",
                        "Pentagram Design Partner Michael Bierut sits down with GLG (Gerson Lehrman Group) to discuss brand design, Paul Rand and the key to creating logos"
                        )

                    +listItem-thumb(
                        "2018-philip-burton-at-wright.html",
                        "/life/img/_video-assets/video-philipBurton.jpg",
                        "Philip Burton on Paul Rand at Wright",
                        "2018",
                        "Philip Burton discusses his relationship with Paul Rand"
                        )
