//- =============================================================================================
//- 
//- ███████  ██████   ██████  ████████ ███████ ██████
//- ██      ██    ██ ██    ██    ██    ██      ██   ██
//- █████   ██    ██ ██    ██    ██    █████   ██████
//- ██      ██    ██ ██    ██    ██    ██      ██   ██
//- ██       ██████   ██████     ██    ███████ ██   ██
//- 
//- =============================================================================================

footer
    .grid-container
        .grid-x.grid-margin-x.medium-text-left.large-text.left
            .cell.shrink
                a(href="/life/")
                    h5 LIFE
                //- a(href="/life/") Biography & Timeline
                //- 
                //- a(href="/life/") Books & Articles
                //- 
                //- a(href="/life/") Exhibits
                //- 
                //- a(href="/life/") Interviews
                //- 
                //- a(href="/life/") Videos
                //- 
                //- a(href="/life/") Portraits
                //- 
                //- a(href="/life/") House

            //- .cell.shrink
                h5 RESOURCES
                a(href="/resources/") Find Items Online

                a(href="/resources/") Articles, Interviews & Information

                a(href="/resources/") Tributes & Personal Experiences

                a(href="/resources/") Paul Rand’s Work Today

            .cell.shrink
                a(href="/writing/")
                    h5 WRITING
                //- a(href="/writing/") Books
                //- 
                //- a(href="/writing/") Articles
                //- 
                //- a(href="/writing/") Quotes

            .cell.shrink
                a(href="/work/")
                    h5 WORK
                //- a(href="/work/") Advertising
                //- 
                //- a(href="/work/") Books
                //- 
                //- a(href="/work/") Collateral
                //- 
                //- a(href="/work/") Editorial
                //- 
                //- a(href="/work/") Logos
                //- 
                //- a(href="/work/") Posters
                //- 
                //- a(href="/work/") Packaging
                //- 
                //- a(href="/work/") Painting
                //- 
                //- a(href="/work/") Photography

            .cell.auto.small-text-center.medium-text-right.large-text-right
                hr.show-for-small-only
                //- a(href="/") About the Site

                a(href="/contact/") Contact

                //- a(href="/") Terms

                a(href="https://www.facebook.com/PaulRandOfficial" target="_blank" rel="noopener") Facebook

                //- a(href="/") #PaulRand



        .grid-x.grid-margin-x.align-center
            .cell.small-text-center.medium-text-right.large-text-right
                p.footnote &copy;
                    | <script>document.write(new Date().getFullYear())</script>
                    |, All Rights Reserved


//- -----  End of FOOTER  ---------------------------------------------