doctype html
html.no-js(lang='en' dir='ltr')

    include _include-head-meta
    include _include-head-favicons

    body(data-grid-framework="f4" data-grid-color="pink" data-grid-opacity="0.2" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="12")
        .grid-x.grid-margin-x
            .large-12.cell.text-center
                h1 Coming Soon
                p In the meantime, visit the current site:
                a.button(href='http://www.paul-rand.com') Paul-Rand.com

        a(href="index2.html" style="color: white; text-shadow: none; background-image: none") C



        include _include-closingScript.pug