doctype html
html.no-js(lang='en' dir='ltr')

	include ../../__MIXINS/_include-head.pug

	body#work(data-grid-framework="f4" data-grid-color="pink" data-grid-opacity="0.2" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="12")

		.animsition
			include ../../__MIXINS/_include-headerNav-secondaryNav.pug

			.cd-main-content

				//- =====================================
				//- =            GALLERY HEAVY            =
				//- =====================================

				.grid-x.grid-margin-x.small-mtn3
					.small-12.cell.text-center#mixItUp



						//- /*==============================  CLIENT  ==============================*/						
						.mix.CoronetBrandy.advertising.poster.packaging
							h3 Coronet Brandy
								.footnote 1949–1953

						//- /*==============================  PROJECT TYPE  ==============================*/
						.mix.CoronetBrandy.advertising
							br
							hr.w66.horizontal-center.small-my3
							h6.text-center.small-mb3 Advertising
							ul.large-up-4.medium-up-3.small-up-2
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 1")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 5")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 9")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 10")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 11")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 12")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 13")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 13")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 13")
										img(src="http://placehold.it/325x400")

						//- /*==============================  PROJECT TYPE  ==============================*/
						.mix.CoronetBrandy.poster
							br
							hr.w66.horizontal-center.small-my3
							h6.text-center.small-mb3 Posters
							ul.large-up-4.medium-up-3.small-up-2
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 1")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 5")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 9")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 10")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 11")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 12")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 13")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 13")
										img(src="http://placehold.it/325x400")

						//- /*==============================  PROJECT TYPE  ==============================*/
						.mix.CoronetBrandy.packaging
							br
							hr.w66.horizontal-center.small-my3
							h6.text-center.small-mb3 Packaging
							ul.large-up-4.medium-up-3.small-up-2
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 1")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 5")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 9")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 10")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 11")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 12")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Coronet Brandy 13")
										img(src="http://placehold.it/325x400")



						hr.mix.hr-red.hr-4


						//- /*==============================  CLIENT  ==============================*/						
						.mix.StaffordFabrics.advertising
							h3 Stafford Fabrics
								.footnote 1949–1953

						//- /*==============================  PROJECT TYPE  ==============================*/
						.mix.StaffordFabrics.advertising
							br
							hr.w66.horizontal-center.small-my3
							h6.text-center.small-mb3 Advertising
							ul.large-up-4.medium-up-4.small-up-2
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 14")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 15")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 16")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 17")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 18")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 19")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 20")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 21")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 22")
										img(src="http://placehold.it/325x400")
								li
									a.(href="http://placehold.it/800x1000" title="Stafford Stallion 23")
										img(src="http://placehold.it/325x400")


				//- -----  End of GALLERY HEAVY  ------

				.grid-x.grid-margin-x.small-mt4
					.large-12.cell
						.pagination-centered
							ul.pagination
								li.arrow.unavailable
									a.(href='') &laquo;
								li.current
									a.(href='') 1
								li
									a.(href='') 2
								li
									a.(href='') 3
								li
									a.(href='') 4
								li.unavailable
									a.(href='') &mldr;
								li
									a.(href='') 12
								li
									a.(href='') 13
								li.arrow
									a.(href='') &raquo;


			include ../../__MIXINS/_include-footer.pug

		include ../../__MIXINS/_include-closingScript.pug 
