doctype html
html.no-js(lang='en' dir='ltr')

	include ../../__MIXINS/_include-head.pug

	body#work(data-grid-framework="f4" data-grid-color="pink" data-grid-opacity="0.2" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="12")

		.animsition
			include ../../__MIXINS/_include-headerNav-secondaryNav.pug

			.cd-main-content

				//- ======================================
				//- =            GALLERY MEDIUM            =
				//- ======================================
				
				.grid-x.grid-margin-x
					.large-11.small-12.cell
						ul.large-up-3.medium-up-2.small-up-1.galleryMedium.equalheight-parent
							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p Some Thoughts… and Some Tribulations about the Design of a Logo
									.footnote 1944
									.footnote (17 images)

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944
									.footnote (17 images)

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944
									.footnote (17 images)

							li: a.zoom-popup-link(href="/img/zoom/openlayers.html")
								img(src="http://placehold.it/300x375")
								.title-label.equalheight-child
									p This…Is the Stafford Stallion
									.footnote 1944



				
				//- /*-----  End of GALLERY MEDIUM  ------*/
				
			include ../../__MIXINS/_include-footer.pug

		include ../../__MIXINS/_include-closingScript.pug 
