doctype html
html.no-js(lang='en' dir='ltr')

    include ../../__MIXINS/_include-head.pug

    body#writing(data-grid-framework="f4" data-grid-color="pink" data-grid-opacity="0.2" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="12")

        .animsition
            include ../../__MIXINS/_include-headerNav-secondaryNav.pug

            .cd-main-content

                //- ======================================
                //- =            GALLERY MEDIUM            =
                //- ======================================

                .grid-x.grid-margin-x
                    .large-12.small-12.cell
                        h1.text-center(data-aos="fade-up") Books by Paul Rand

                        a.card-medium.medium-mt4.large-offset-1.medium-offset-1.text-black(href="#")
                            img(src="/img/landing/books/this-is-the-stafford-stallion.jpg")
                            p This…Is the Stafford Stallion
                                br
                                small.footnote 1944

                        a.card-large.text-black(href="#")
                            img(src="/img/landing/books/thoughts-on-design-1st-edition.jpg")
                            p Thoughts on Design
                                br
                                small.footnote 1947

                        a.card-medium.large-offset-1.medium-offset-1.text-black(href="#")
                            img(src="/img/landing/books/thoughts-on-design-2nd-edition.jpg")
                            p Thoughts on Design
                                br
                                small.footnote 1951, 2nd edition

                        a.card-small.medium-mtn3.large-offset-2.medium-offset-2.text-black(href="#")
                            img(src="/img/landing/books/trademark-design.jpg")
                            p Trademark Design
                                br
                                small.footnote 1951, unpublished

                        a.card-large.large-offset-0.text-black(href="#")
                            img(src="/img/landing/books/sparkle.jpg")
                            p Sparkle and Spin
                                br
                                small.footnote 1956

                        a.card-medium.medium-mtn4.large-offset-0.text-black(href="#")
                            img(src="/img/landing/books/i-know.jpg")
                            p I Know a Lot of Things
                                br
                                small.footnote 1957

                        a.card-medium.medium-mt4.text-black(href="#")
                            img(src="/img/landing/books/the-trademarks-of-paul-rand-a-selection.jpg")
                            p The Trademarks of Paul Rand — A Selection
                                br
                                small.footnote 1960

                        a.card-medium.medium-mtn3.text-black(href="#")
                            img(src="/img/landing/books/listen.jpg")
                            p Listen! Listen!
                                br
                                small.footnote 1970

                        a.card-large.text-black(href="#")
                            img(src="/img/landing/books/thoughts-on-design-3rd-edition.jpg")
                            p Thoughts on Design
                                br
                                small.footnote 1970, 3rd edition

                        a.card-medium.medium-mtn3.large-offset-1.medium-offset-1.text-black(href="#")
                            img(src="/img/landing/books/little1.jpg")
                            p Little 1
                                br
                                small.footnote 1962

                        a.card-medium.medium-mt4.text-black(href="#")
                            img(src="/img/landing/books/miscellany.jpg")
                            p A Paul Rand Miscellany
                                br
                                small.footnote 1984

                        a.card-large.medium-mtn2.large-offset-1.medium-offset-1.text-black(href="#")
                            img(src="/img/landing/books/designers-art.jpg")
                            p A Designer’s Art
                                br
                                small.footnote 1985

                        a.card-medium.large-offset-1.medium-offset-1.text-black(href="#")
                            img(src="/img/landing/books/good-design.jpg")
                            p Good Design is Good Will
                                br
                                small.footnote 1987

                        a.card-small.text-black(href="#")
                            img(src="/img/landing/books/from-cassandre-to-chaos.jpg")
                            p From Cassandre to Chaos
                                br
                                small.footnote 1992

                        a.card-small.large-offset-1.medium-offset-1.text-black(href="#")
                            img(src="/img/landing/books/some-thoughts-some-logos.jpg")
                            p Some Thoughts Some Logos
                                br
                                small.footnote 1991

                        a.card-medium.medium-mt4.text-black(href="#")
                            img(src="/img/landing/books/some-thoughts-and-some-tribulations-about-the-design-of-a-logo.jpg")
                            p Some Thoughts… and Some Tribulations about the Design of a Logo
                                br
                                small.footnote 1991

                        a.card-small.medium-mtn2.text-black(href="#")
                            img(src="/img/landing/books/failure-by-design.jpg")
                            p Failure by Design
                                br
                                small.footnote 1993

                        a.card-large.medium-mt4.text-black(href="#")
                            img(src="/img/landing/books/design-form-chaos.jpg")
                            p Design Form and Chaos
                                br
                                small.footnote 1993

                        a.card-large.medium-mtn2.text-black(href="#")
                            img(src="/img/landing/books/from-lascaux-to-brooklyn.jpg")
                            p From Lascaux to Brooklyn
                                br
                                small.footnote 1996

                        a.card-medium.medium-mt4.large-pull-1.text-black(href="#")
                            img(src="/img/landing/books/thoughts-on-design-4th-edition.jpg")
                            p Thoughts on Design
                                br
                                small.footnote 2014, 4th edition

                //- /*-----  End of GALLERY MEDIUM  ------*/

            include ../../__MIXINS/_include-footer.pug

        include ../../__MIXINS/_include-closingScript.pug 
