doctype html
html.no-js(lang='en' dir='ltr')

	include ../../__MIXINS/_include-head.pug

	body#resources(data-grid-framework="f4" data-grid-color="pink" data-grid-opacity="0.2" data-grid-zindex="10" data-grid-gutterwidth="30px" data-grid-nbcols="12")

		.animsition
			include ../../__MIXINS/_include-headerNav-secondaryNav.pug

			.cd-main-content

				//- ============================
				//- =            LIST            =
				//- ============================
				
				.grid-x.grid-margin-x
					.small-12.cell
						a.listItem
							.listItemLabel
								h4 Amazon
									.footnote www.amazon.com
								p Amazon is a great place to start. Be sure to check out any items that are used as well.

						a.listItem
							.listItemLabel
								h4 Amazon
									.footnote www.amazon.com
								p Amazon is a great place to start. Be sure to check out any items that are used as well.

						a.listItem
							.listItemLabel
								h4 Amazon
									.footnote www.amazon.com
								p Amazon is a great place to start. Be sure to check out any items that are used as well.

						a.listItem
							.listItemLabel
								h4 Amazon
									.footnote www.amazon.com
								p Amazon is a great place to start. Be sure to check out any items that are used as well.

						a.listItem
							.listItemLabel
								h4 Amazon
									.footnote www.amazon.com
								p Amazon is a great place to start. Be sure to check out any items that are used as well.

						a.listItem
							.listItemLabel.small-px3
								h4 Amazon
									.footnote www.amazon.com
								p Amazon is a great place to start. Be sure to check out any items that are used as well.

						a.listItem
							.listItemLabel.small-px3
								h4 Amazon
									.footnote www.amazon.com
								p Amazon is a great place to start. Be sure to check out any items that are used as well.



						
				.grid-x.grid-margin-x
					.large-12.cell
						.pagination-centered
							ul.pagination
								li.arrow.unavailable
									a(href='') &laquo;
								li.current
									a(href='') 1
								li
									a(href='') 2
								li
									a(href='') 3
								li
									a(href='') 4
								li.unavailable
									a(href='') &mldr;
								li
									a(href='') 12
								li
									a(href='') 13
								li.arrow
									a(href='') &raquo;



				//- /*-----  End of LIST  ------*/
				
			include ../../__MIXINS/_include-footer.pug

		include ../../__MIXINS/_include-closingScript.pug 