extends ../__MIXINS/_layout-default.pug
include ../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Coordinator of Inter American Affairs'
    - var bodyID    = 'work'
    - var bodyClass = ''

block main-content
    - var dates     = 'CHANGE_ME'
    - var nextType  = 'Client'
    - var nextTitle = 'Coronet Brandy'
    - var nextLink  = 'Coronet-Brandy'


    //- ==========  BODY  ==========
    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center.small-mb4
                .small-12.cell.text-center
                    //- /*==============================  CLIENT  ==============================*/
                    h1.text-center.small-mb2.medium-mb3.large-mb3(data-aos="fade-up")!= pageTitle
                    if dates == 'CHANGE_ME'
                    else
                        p!= dates

                    //- /*==============================  PROJECTS  ==============================*/
                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Brochure",
                        "top","2","2",
                        {SM: "https://assets.paulrand.design/Works/Coordinator%20of%20Inter%20American%20Affairs/Web/Coordinator%20of%20Inter%20American%20Affairs%2C%20brochure%201943%2001-800.jpg", LG:"https://assets.paulrand.design/Works/Coordinator%20of%20Inter%20American%20Affairs/Web/Coordinator%20of%20Inter%20American%20Affairs%2C%20brochure%201943%2001.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Works/Coordinator%20of%20Inter%20American%20Affairs/Web/Coordinator%20of%20Inter%20American%20Affairs%2C%20brochure%201943%2002-800.jpg", LG:"https://assets.paulrand.design/Works/Coordinator%20of%20Inter%20American%20Affairs/Web/Coordinator%20of%20Inter%20American%20Affairs%2C%20brochure%201943%2002.jpg", title: "", footnote: ""}
                        )

            //- /*-----  End of BODY  ------*/


        include ../__MIXINS/_include-next-work.pug

        include ../__MIXINS/_include-social-media.pug