extends ../__MIXINS/_layout-default.pug
include ../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Museum of Modern Art'
    - var bodyID    = 'work'
    - var bodyClass = ''

block main-content
    - var dates     = 'CHANGE_ME'
    - var nextType  = 'Client'
    - var nextTitle = 'The National Foundation for Infantile Paralysis'
    - var nextLink  = 'National-Foundation-for-Infantile-Paralysis'


    //- ==========  BODY  ==========
    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center.small-mb4
                .small-12.cell.text-center
                    //- /*==============================  CLIENT  ==============================*/
                    h1.text-center.small-mb2.medium-mb3.large-mb3(data-aos="fade-up")!= pageTitle
                    if dates == 'CHANGE_ME'
                    else
                        p!= dates

                    //- /*==============================  PROJECTS  ==============================*/
                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Posters",
                        "top","2","2",
                        {SM: "https://assets.paulrand.design/Works/Museum%20of%20Modern%20Art/Marcel%20Breuer%20Exhibit%20Poster/Web/Marcel%20Breuer%20Exhibit%20Poster-800.jpg", LG:"https://assets.paulrand.design/Works/Museum%20of%20Modern%20Art/Marcel%20Breuer%20Exhibit%20Poster/Web/Marcel%20Breuer%20Exhibit%20Poster.jpg", title: "", footnote: "Marcel Breuer Exhibit Poster"},
                        {SM: "https://assets.paulrand.design/Works/Museum%20of%20Modern%20Art/Portrait%20of%20Picasso%20Catalog%20Cover/Web/Portrait%20of%20Picasso%20Catalog%20Cover-color%2001-800.jpg", LG:"https://assets.paulrand.design/Works/Museum%20of%20Modern%20Art/Portrait%20of%20Picasso%20Catalog%20Cover/Web/Portrait%20of%20Picasso%20Catalog%20Cover-color%2001.jpg", title: "", footnote: "Marcel Breuer Exhibit Poster"}
                        )

            //- /*-----  End of BODY  ------*/


        include ../__MIXINS/_include-next-work.pug

        include ../__MIXINS/_include-social-media.pug