extends ../__MIXINS/_layout-default.pug
include ../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Painting'
    - var bodyID    = 'work'
    - var bodyClass = ''

block main-content
    - var dates     = 'CHANGE_ME'
    - var nextType  = 'CHANGE_ME'
    - var nextTitle = 'Photography'
    - var nextLink  = 'Photography'


    //- ==========  BODY  ==========
    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center.small-mb4
                .small-12.medium-9.large-7.cell
                    //- /*==============================  CLIENT  ==============================*/
                    h1.text-center.small-mb2.medium-mb3.large-mb3.reveal-enter-bottom!= pageTitle
                    if dates == 'CHANGE_ME'
                    else
                        p!= dates

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Not only was Paul Rand a phenomenal designer, he was also an accomplished painter. This selection of paintings was reproduced in the books *“Paul Rand: His Works from 1948 to 1956”* by Yusaku Kamekura, *“Design, Form and Chaos”* by Paul Rand, and *“Paul Rand: Modernist Designer”* by Franc Nunoo-Quarcoo.

                        Rand has stated that even though these may be paintings, the problems of form and content, light and shade, color and space still remains. Anyone of these could easily have been turned into a poster, ad or other promotional piece. This shows that Rand not just a designer, but a true artist in any medium.

            .grid-x.grid-margin-x.small-mb4
                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Abstract/Web/Abstract-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Abstract/Web/Abstract.jpg",
                    title: "Abstract",
                    footnote1: "CHANGE_ME",
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952/Web/Abstract%201952-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952/Web/Abstract%201952.jpg",
                    title: "Abstract",
                    footnote1: "1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952-02-04/Web/Abstract%201952-02-04-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952-02-04/Web/Abstract%201952-02-04.jpg",
                    title: "Abstract",
                    footnote1: "Oil with collaged elements on paper ",
                    footnote2: "February 4, 1952"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952-02-26/Web/Abstract%201952-02-26-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952-02-26/Web/Abstract%201952-02-26.jpg",
                    title: "Abstract",
                    footnote1: "Pastel and acrylic on paper",
                    footnote2: "February 26, 1952"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952-12-05/Web/Abstract%201952-12-05-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Abstract%201952-12-05/Web/Abstract%201952-12-05.jpg",
                    title: "Abstract",
                    footnote1: "December 5, 1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Animals%201954-07-19/Web/Animals%201954-07-19-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Animals%201954-07-19/Web/Animals%201954-07-19.jpg",
                    title: "Animals",
                    footnote1: "Oil on canvas",
                    footnote2: "July 19, 1954"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Animal%201954-03-13/Web/Animal%201954-03-13-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Animal%201954-03-13/Web/Animal%201954-03-13.jpg",
                    title: "Animal",
                    footnote1: "March 3, 1954",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Bell%20Hop/Web/Bell%20Hop%201952-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Bell%20Hop/Web/Bell%20Hop%201952.jpg",
                    title: "Bell Hop",
                    footnote1: "Gouache",
                    footnote2: "1952, 2 images"
                    })
                +galleryItem-imageHidden(
                    {title: "Bell Hop, color", hideMe: "https://assets.paulrand.design/Works/_Paintings/Bell%20Hop/Web/Bell%20Hop%201952%2C%20color.jpg"}
                    )

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Bird%20and%20Leaves%201954/Web/Bird%20and%20Leaves%201954-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Bird%20and%20Leaves%201954/Web/Bird%20and%20Leaves%201954.jpg",
                    title: "Birds and Leaves",
                    footnote1: "Oil on canvas",
                    footnote2: "1954"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Birds%201952-1953/Web/Birds%201952-1953-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Birds%201952-1953/Web/Birds%201952-1953.jpg",
                    title: "Birds",
                    footnote1: "1952-1953",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Bird%20and%20bird%20cage%201952-11/Web/Bird%20and%20bird%20cage%201952-11-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Bird%20and%20bird%20cage%201952-11/Web/Bird%20and%20bird%20cage%201952-11.jpg",
                    title: "Bird and bird cage",
                    footnote1: "November, 1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Birds%20cave%20painting%201952-12-13/Web/Birds%20cave%20painting%201952-12-13-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Birds%20cave%20painting%201952-12-13/Web/Birds%20cave%20painting%201952-12-13.jpg",
                    title: "Birds in cave",
                    footnote1: "December 13, 1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Bird%20in%20tree%201952-04-06/Web/Bird%20in%20tree%201952-04-06-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Bird%20in%20tree%201952-04-06/Web/Bird%20in%20tree%201952-04-06.jpg",
                    title: "Bird in tree",
                    footnote1: "April 6, 1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Cat%201956-05-13/Web/Cat%201956-05-13%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Cat%201956-05-13/Web/Cat%201956-05-13%2001.jpg",
                    title: "Cat",
                    footnote1: "May 13, 1956"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Cat%201956-05-13/Web/Cat%201956-05-13%2002-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Cat%201956-05-13/Web/Cat%201956-05-13%2002.jpg",
                    title: "Cat",
                    footnote1: "May 13, 1956"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Circus%20Clown%201952-02-23/Web/Circus%20Clown%201952-02-23-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Circus%20Clown%201952-02-23/Web/Circus%20Clown%201952-02-23.jpg",
                    title: "Circus clown",
                    footnote1: "February 23, 1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Clown%201952-03-16/Web/Clown%201952-03-16-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Clown%201952-03-16/Web/Clown%201952-03-16.jpg",
                    title: "Clown",
                    footnote1: "Pastel and ink on paper",
                    footnote2: "March 16, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Clown%20and%20Owl/Web/Clown%20and%20Owl-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Clown%20and%20Owl/Web/Clown%20and%20Owl.jpg",
                    title: "Clown and Owl",
                    footnote1: "Acrylic, graphite and charcoal on paper ",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Coffee%20Mug%201952-04-06/Web/Coffee%20Mug%201952-04-06-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Coffee%20Mug%201952-04-06/Web/Coffee%20Mug%201952-04-06.jpg",
                    title: "Coffee Mug",
                    footnote1: "Acrylic on paper",
                    footnote2: "April 6, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Dog%201952-03-16/Web/Dog%201952-03-16-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Dog%201952-03-16/Web/Dog%201952-03-16.jpg",
                    title: "Dog",
                    footnote1: "Ink and Watercolor",
                    footnote2: "March 16, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Donkey%201952-03/Web/Donkey%201952-03-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Donkey%201952-03/Web/Donkey%201952-03.jpg",
                    title: "Donkey",
                    footnote1: "Oil on canvas",
                    footnote2: "March, 1952"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Donkey%201954-04/Web/Donkey%2C%20v2%201954-04-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Donkey%201954-04/Web/Donkey%2C%20v2%201954-04.jpg",
                    title: "Donkey, v2",
                    footnote1: "April, 1954",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fish/Web/Fish-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fish/Web/Fish.jpg",
                    title: "Fish",
                    footnote1: "Watercolor and crayon on paper",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fish%20Bowl%201953-54/Web/Fish%20Bowl%201953-54-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fish%20Bowl%201953-54/Web/Fish%20Bowl%201953-54.jpg",
                    title: "Fish Bowl",
                    footnote1: "Oil on canvas",
                    footnote2: "1953-54"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fish%20Bowl%20and%20Vase%201955-05-02/Web/Fish%20Bowl%20and%20Vase%201955-05-02-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fish%20Bowl%20and%20Vase%201955-05-02/Web/Fish%20Bowl%20and%20Vase%201955-05-02.jpg",
                    title: "Fish Bowl and vase",
                    footnote1: "Oil on canvas",
                    footnote2: "May 2, 1955"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Flowers/Web/Flowers-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Flowers/Web/Flowers.jpg",
                    title: "Flowers",
                    footnote1: "Acrylic on paper",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Flower%20and%20Vase%201953/Web/Flower%20and%20Vase%201953-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Flower%20and%20Vase%201953/Web/Flower%20and%20Vase%201953.jpg",
                    title: "Flower and Vase",
                    footnote1: "1953",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fox%20and%20bird%2C%201944-03-29/Web/Fox%20and%20bird%2C%201944-03-29-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fox%20and%20bird%2C%201944-03-29/Web/Fox%20and%20bird%2C%201944-03-29.jpg",
                    title: "Fox and bird",
                    footnote1: "March 29, 1944",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fox%20and%20the%20Grapes/Web/Fox%20and%20the%20Grapes-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fox%20and%20the%20Grapes/Web/Fox%20and%20the%20Grapes.jpg",
                    title: "Fox and the grapes",
                    footnote1: "Undated",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%201941/Web/Fruit%201941-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%201941/Web/Fruit%201941.jpg",
                    title: "Fruit",
                    footnote1: "1941",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%201950-07-05/Web/Fruit%201950-07-05-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%201950-07-05/Web/Fruit%201950-07-05.jpg",
                    title: "Fruit",
                    footnote1: "Watercolor and oil on paper",
                    footnote2: "July 5, 1950"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%201952-02-16/Web/Fruit%201952-02-16-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%201952-02-16/Web/Fruit%201952-02-16.jpg",
                    title: "Fruit",
                    footnote1: "Gouache",
                    footnote2: "1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit/Web/Fruit-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit/Web/Fruit.jpg",
                    title: "Fruit",
                    footnote1: "Ink on paper",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%201952-02-18/Web/Fruit%201952-02-18-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%201952-02-18/Web/Fruit%201952-02-18.jpg",
                    title: "Fruit",
                    footnote1: "Ink, oil and pastel on paper",
                    footnote2: "February 18, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%201952%20B/Web/Fruit%201952%20B-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%201952%20B/Web/Fruit%201952%20B.jpg",
                    title: "Fruit Bowl",
                    footnote1: "Pastel and ink drawing",
                    footnote2: "1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%201953/Web/Fruit%201953-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%201953/Web/Fruit%201953.jpg",
                    title: "Fruit",
                    footnote1: "Gouache on board",
                    footnote2: "1953"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%201954-08-02/Web/Fruit%201954-08-02-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%201954-08-02/Web/Fruit%201954-08-02.jpg",
                    title: "Fruit",
                    footnote1: "Oil on cavnas",
                    footnote2: "August 2, 1954"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%20Bowl%201952-03-16/Web/Fruit%20Bowl%201952-03-16-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%20Bowl%201952-03-16/Web/Fruit%20Bowl%201952-03-16.jpg",
                    title: "Fruit bowl",
                    footnote1: "Acrylic on paper",
                    footnote2: "March 16, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%20on%20table%2C%20undated%2C%20v1/Web/Fruit%20on%20table%2C%20undated%2C%20v1-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%20on%20table%2C%20undated%2C%20v1/Web/Fruit%20on%20table%2C%20undated%2C%20v1.jpg",
                    title: "Fruit on table",
                    footnote1: "Oil on cavnas",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%20on%20table%2C%20undated%2C%20v2/Web/Fruit%20on%20table%2C%20undated%2C%20v2-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%20on%20table%2C%20undated%2C%20v2/Web/Fruit%20on%20table%2C%20undated%2C%20v2.jpg",
                    title: "Fruit on table",
                    footnote1: "Oil on cavnas",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Fruit%20on%20table%201952-10/Web/Fruit%20on%20table%201952-10-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Fruit%20on%20table%201952-10/Web/Fruit%20on%20table%201952-10.jpg",
                    title: "Fruit on table",
                    footnote1: "October, 1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Geometric%20figure%20in%20profile/Web/Geometric%20figure%20in%20profile-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Geometric%20figure%20in%20profile/Web/Geometric%20figure%20in%20profile.jpg",
                    title: "Geometric figure in profile",
                    footnote1: "Acrylic and collage on paper ",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Geometric%20people/Web/Geometric%20people-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Geometric%20people/Web/Geometric%20people.jpg",
                    title: "Geometric people",
                    footnote1: "Pastel and ink on paper",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Leaves%201952-11-27/Web/Leaves%201952-11-27-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Leaves%201952-11-27/Web/Leaves%201952-11-27.jpg",
                    title: "Leaves",
                    footnote1: "Acrylic on paper",
                    footnote2: "November 27, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Line%20Objects/Web/Line%20objects-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Line%20Objects/Web/Line%20objects.jpg",
                    title: "Line Objects",
                    footnote1: "Oil on canvasboard",
                    footnote2: "Date unknown"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Moonscape%201951-02-29/Web/Moonscape%201951-02-29-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Moonscape%201951-02-29/Web/Moonscape%201951-02-29.jpg",
                    title: "Moonscape",
                    footnote1: "Oil on canvas",
                    footnote2: "February 29, 1951"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Nude%20with%20Strawberry/Web/Nude%20with%20Strawberry-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Nude%20with%20Strawberry/Web/Nude%20with%20Strawberry.jpg",
                    title: "Nude with Strawberry",
                    footnote1: "Acrylic on paper",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Oriental%20Fruit%201951-02-20/Web/Oriental%20Fruit%201951-02-20-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Oriental%20Fruit%201951-02-20/Web/Oriental%20Fruit%201951-02-20.jpg",
                    title: "Oriental Fruit",
                    footnote1: "Oil on canvas",
                    footnote2: "February 20, 1951"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Plant%20in%20vase%20and%20tree/Web/Plant%20in%20vase%20and%20tree-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Plant%20in%20vase%20and%20tree/Web/Plant%20in%20vase%20and%20tree.jpg",
                    title: "Plant in vase and tree",
                    footnote1: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Plates/Web/Plates%2001-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Plates/Web/Plates%2001.jpg",
                    title: "Plates",
                    footnote1: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Plates/Web/Plates%2002-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Plates/Web/Plates%2002.jpg",
                    title: "Plate",
                    footnote1: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Rooster%201955-10/Web/Rooster%201955-10-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Rooster%201955-10/Web/Rooster%201955-10.jpg",
                    title: "Rooster",
                    footnote1: "Acrylic and oil on paper",
                    footnote2: "October, 1955"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Rooster%2C%20v2/Web/Rooster%2C%20v2-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Rooster%2C%20v2/Web/Rooster%2C%20v2.jpg",
                    title: "Rooster 2",
                    footnote1: "Acrylic on paper",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Sculpture/Web/Sculpture-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Sculpture/Web/Sculpture.jpg",
                    title: "Sculpture",
                    footnote1: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Skickles%20the%20Cat%201952-12-07/Web/Skickles%20the%20Cat%201952-12-07-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Skickles%20the%20Cat%201952-12-07/Web/Skickles%20the%20Cat%201952-12-07.jpg",
                    title: "Skickles the Cat",
                    footnote1: "Acrylic and pastel on paper",
                    footnote2: "December 7, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Table%20with%20food%201955-08-05/Web/Table%20with%20food%201955-08-05-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Table%20with%20food%201955-08-05/Web/Table%20with%20food%201955-08-05.jpg",
                    title: "Table with food",
                    footnote1: "August 5, 1955"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Treebird%201954-08-15/Web/Treebird%201954-08-15-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Treebird%201954-08-15/Web/Treebird%201954-08-15.jpg",
                    title: "Treebird",
                    footnote1: "Oil on canvas",
                    footnote2: "August 15, 1954"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Trees%201952-02-18/Web/Trees%201952-02-18-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Trees%201952-02-18/Web/Trees%201952-02-18.jpg",
                    title: "Trees",
                    footnote1: "February 18, 1952",
                    footnote2: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Untitled%2002/Web/Untitled%2002-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Untitled%2002/Web/Untitled%2002.jpg",
                    title: "Untitled",
                    footnote1: "CHANGE_ME"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Watercolor%201952-10/Web/Watercolor%201952-10-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Watercolor%201952-10/Web/Watercolor%201952-10.jpg",
                    title: "Untitled",
                    footnote1: "Watercolor",
                    footnote2: "October, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Watercolor%201952-11-21/Web/Watercolor%201952-11-21-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Watercolor%201952-11-21/Web/Watercolor%201952-11-21.jpg",
                    title: "Untitled",
                    footnote1: "Watercolor",
                    footnote2: "November 21, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Untitled%201952-10-19/Web/Untitled%201952-10-19-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Untitled%201952-10-19/Web/Untitled%201952-10-19.jpg",
                    title: "Untitled",
                    footnote1: "Acrylic on paper",
                    footnote2: "October 19, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Untitled%201955-12/Web/Untitled%201955-12-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Untitled%201955-12/Web/Untitled%201955-12.jpg",
                    title: "Untitled",
                    footnote1: "Oil on wood",
                    footnote2: "December, 1955"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Washington%20crossing%20the%20Delaware%201952-05-20/Web/Washington%20crossing%20the%20Delaware%201952-05-20-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Washington%20crossing%20the%20Delaware%201952-05-20/Web/Washington%20crossing%20the%20Delaware%201952-05-20.jpg",
                    title: "Washington Crossing the Delaware",
                    footnote1: "Oil on canvas",
                    footnote2: "May 20, 1952"
                    })

                +galleryItem-cardLink(
                    "4","6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/What%20Time%20is%20It%201944-03-29/Web/What%20Time%20is%20It%201944-03-29-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/What%20Time%20is%20It%201944-03-29/Web/What%20Time%20is%20It%201944-03-29.jpg",
                    title: "What Time is It",
                    footnote1: "Oil on canvas",
                    footnote2: "March 29, 1944"
                    })

                +galleryItem-cardLink(
                    "4", "6",
                    {
                    SM: "https://assets.paulrand.design/Works/_Paintings/Woman%20and%20Flowers%201944-04-06/Web/Woman%20and%20Flowers%201944-04-06-450.jpg",
                    LG: "https://assets.paulrand.design/Works/_Paintings/Woman%20and%20Flowers%201944-04-06/Web/Woman%20and%20Flowers%201944-04-06.jpg",
                    title: "Woman and Flowers",
                    footnote1: "Oil on artist board",
                    footnote2: "April 6, 1944"
                    })

            //- /*-----  End of BODY  ------*/


        include ../__MIXINS/_include-next-work.pug

        include ../__MIXINS/_include-social-media.pug