extends ../__MIXINS/_layout-default.pug
include ../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Playtex'
    - var bodyID    = 'work'
    - var bodyClass = ''

block main-content
    - var dates     = 'CHANGE_ME'
    - var nextType  = 'Client'
    - var nextTitle = 'PM Magazine'
    - var nextLink  = 'PM-Magazine'


    //- ==========  BODY  ==========
    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center.small-mb4
                .small-12.cell.text-center
                    //- /*==============================  CLIENT  ==============================*/
                    h1.text-center.small-mb2.medium-mb3.large-mb3(data-aos="fade-up")!= pageTitle
                    if dates == 'CHANGE_ME'
                    else
                        p!= dates

                    //- /*==============================  PROJECTS  ==============================*/
                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Logo",
                        "top","1","1",
                        {SM: "https://assets.paulrand.design/Works/Playtex/Playtex-1941.svg", LG:"https://assets.paulrand.design/Works/Playtex/Playtex-1941.svg", title: "", footnote: ""}
                        )

            //- /*-----  End of BODY  ------*/


        include ../__MIXINS/_include-next-work.pug

        include ../__MIXINS/_include-social-media.pug