extends ../__MIXINS/_layout-default.pug
include ../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Rainfair Storm Coats'
    - var bodyID    = 'work'
    - var bodyClass = ''

block main-content
    - var dates     = '1944'
    - var nextType  = 'Client'
    - var nextTitle = 'RCA'
    - var nextLink  = 'RCA'


    //- ==========  BODY  ==========
    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center.small-mb4
                .small-12.cell.text-center
                    //- /*==============================  CLIENT  ==============================*/
                    h1.text-center.small-mb2.medium-mb3.large-mb3(data-aos="fade-up")!= pageTitle
                    if dates == 'CHANGE_ME'
                    else
                        p!= dates

                    //- /*==============================  PROJECTS  ==============================*/
                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Logo",
                        "top","1","1",
                        {SM: "https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Rainfair-Coats-1944.svg", LG:"https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Rainfair-Coats-1944.svg", title: "", footnote: ""}
                        )

                    +galleryItem-blockGrid(
                        "DIVIDER_yes",
                        "Advertising",
                        "top","3","2",
                        {SM: "https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Web/Rainfair%20Storm%20Coats%2001-450.jpg", LG:"https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Web/Rainfair%20Storm%20Coats%20001.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Web/Rainfair%20Storm%20Coats%2002-450.jpg", LG:"https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Web/Rainfair%20Storm%20Coats%20002.jpg", title: "", footnote: ""},
                        {SM: "https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Web/Rainfair%20Storm%20Coats%2003-450.jpg", LG:"https://assets.paulrand.design/Works/Rainfair%20Storm%20Coats/Web/Rainfair%20Storm%20Coats%20003.jpg", title: "", footnote: ""}
                        )

            //- /*-----  End of BODY  ------*/


        include ../__MIXINS/_include-next-work.pug

        include ../__MIXINS/_include-social-media.pug