/*==================================================================================================================================
=            /*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/
// =====================================================================================================================================*/

// $black: #222;
// $white    : #F9F9F9;
$blue : #1463A2;
$green: #097E44;
$brown: #B2846A;
$red  : #E34C37;
$pink : #DD6A92;
$gold : #E29D2E;

/*-----  End of COLOR  ---------------------------------------------------------------------------------------*/
