extends ../../../__MIXINS/_layout-default.pug
include ../../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Learning from Rand'
    - var bodyID    = 'life'
    - var bodyClass = 'events-exhibits'

block main-content
    - var pageSubtitle1         = 'Museum of Design Atlanta'
    - var pageSubtitle2         = 'Evening of November 7, 2013'

    - var nextType              = 'Event'
    - var nextTitle             = 'Paul Rand Workshop'
    - var nextDate              = '2014'
    - var nextLink              = '2014-03-31-paul-rand-workshop'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'Images courtesy of Randall Ross, modernism101.com'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'CHANGE_ME', linkLg: 'CHANGE_ME', title: ''})

    //- =============================
    //- =            VIDEO            =
    //- =============================

    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.align-center
                //- ==========  TITLE  ==========
                .large-8.medium-11.cell
                    .grid-x.grid-margin-x
                        .large-12.cell.text-center
                            h1(data-aos="fade-up")= pageTitle
                            p.text-gray.t16(data-aos="fade-up"): em 2013

                            :markdown-it(html typographer plugins=['markdown-it-sup'])
                                Video courtesy and copyright of the [Museum of Design Atlanta (MODA)](http://www.museumofdesign.org)

            //- ==========  VIDEO  ==========
            .grid-x.grid-margin-x.align-center
                .large-12.cell
                    .small-mb3
                        div.plyr-js(data-plyr-embed-id="aXOAbmMWVTk" data-plyr-provider="youtube")

                    //- .flex-video
                    //-     iframe(src="//www.youtube.com/embed/aXOAbmMWVTk" frameborder="0" allowfullscreen)

            //- ==========  BODY  ==========
            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Steven Heller visited Atlanta for a special evening to discuss his relationship with Paul Rand in conjunction with the exhibit *Paul Rand: Defining Design*, exhibiting at The Museum of Design Atlanta (MODA) and curated by Daniel Lewandowski.

                        Speaking to a sold-out crowd of over 200 people at the High Museum of Art‘s Hill Auditorium, Heller reminisced about Rand’s influence and even shared some never-before-seend examples of his early work including packaging for a soap manufacturer and a whimsical mug for Blatz Beer.

                        Afterwards, he returned to the exhibit for a breif tour and socializing.

                        Special thanks to MODA and Portfolio Center for coordinating and sponsoring the event.


            +carouselImages(
                "View More",
                "",
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2002-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2002.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2021-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2021.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2054-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2054.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2004-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2004.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2067-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2067.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2073-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2073.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2081-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2081.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2085-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2085.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2093-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2093.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2095-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2095.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2096-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%2096.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20104-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20104.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20108-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20108.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20116-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20116.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20120-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20120.jpg"},
                {Title:"CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20140-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2013%20Paul%20Rand%20Defining%20Design/Exhibit%20Photos/Steven%20Heller%20Lecture%2C%20Evening/Web/Paul%20Rand-%20Defining%20Design%20Steven%20Heller%20Lecture%2C%20Evening%20140.jpg"}
                )






            //- /*-----  End of BODY  ------*/

        include ../../../__MIXINS/_include-next-work.pug

        include ../../../__MIXINS/_include-social-media.pug
