extends ../../../__MIXINS/_layout-default.pug
include ../../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Paul Rand Workshop'
    - var bodyID    = 'life'
    - var bodyClass = 'events-exhibits'
block main-content
    - var pageSubtitle1         = 'CHANGE_ME'
    - var pageSubtitle2         = 'CHANGE_ME'

    - var articleAuthor         = 'Barney Quick ■ Photos By Andrew Laker'

    - var nextType              = 'Event'
    - var nextTitle             = 'Standing on the Shoulders of Giants'
    - var nextDate              = '2014'
    - var nextLink              = '2014-standing-on-the-shoulders-of-giants'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2001-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2002-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2002.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2003-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2003.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2004-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2004.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2005-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2005.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2006-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2006.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2007-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2007.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2008-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2008.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2009-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2009.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2010-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2010.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2011-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2011.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2012-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2012.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2013-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2013.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2014-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2014.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2015-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2015.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2016-450.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Rand%20Workshop%2016.jpg', title: ''})


    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.small-mb3.align-center
                .large-7.medium-8.small-12.cell.text-center
                    h1(data-aos="fade-up")!= pageTitle

                    unless pageSubtitle1 == 'CHANGE_ME'
                        em.text-gray.t16(data-aos="fade-up")!= pageSubtitle1
                        br

                    unless pageSubtitle2 == 'CHANGE_ME'
                        em.text-gray.t16(data-aos="fade-up")!= pageSubtitle2

                    .small-mt3.small-mb2
                        +imageZoomSingle(
                            "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/RandWorkshop.jpg",
                            "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/RandWorkshop.jpg"
                            )

            include ../../../__MIXINS/_include-image-carousel.pug

            .grid-x.grid-margin-x.small-mb3.align-center
                .large-7.medium-8.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        ### The Paul Rand Workshop—A Big Art Bang Event

                        The Rand Workshop is a think tank for visual communications and environmental design. It provides educational experiences, critical thinking, networking and leadership growth to students with professional participants. It is a valuable resource that connects Fine Arts & Design students with opportunities to network and apply critical thinking to real world issues in connection with the professional community. This year our community partner is the Columbus Redevelopment Commission. The Rand Workshop is about bringing together the iconic work of Paul Rand and contemporary renowned artists, designers, and professionals with workshops and projects that explore ways to celebrate and enhance the visitor experience for Columbus and Design for the Future.

                        The Paul Rand Workshop—A Big Art Bang Event  
                        March 31–April 1, 2014  
                        9:00am–4:00pm

                        ### Day One (March 31)
                        Design History: Overview and Impact on Columbus region  
                        Various art, design and history workshops

                        ---

                        ### Day Two (April 1)
                        Columbus: Design for the Future  
                        Workshops and Charettes that feature work from the Driving Question

                        Driving Question: How can we as art and design students convey, enhance and fulfill the Modernist vision of downtown Columbus arts and business districts through Visual and Environmental Design for the future?

                        **Yale to Purdue, an international perspective on Typography**  
                        *Dennis Ichiyama*  
                        Mr. Ichiyama will be presenting his perspective on the historic value of visual communications, as a former student of Paul Rand, and as an international artist whose work at the Hamilton type museum has brought him worldwide acclaim.

                        **The History of Architecture and Its Impact on Columbus**  
                        *Louis Joyner Architect*  
                        This workshop will investigate and illuminate the scope and empowerment this investment brings to this small Midwestern city.

                        **The Imagineering of Columbus Architecture Through the Sketch**  
                        *Tony Costello, Director CIAA*  
                        Columbus Indiana Architectural Archives Tony is an architect and the Irving Distinquished Professor of Architecture Emeritus at Ball State University.

                        **Alexander Girard and The Miller House**  
                        *Bradley Brooks, curator Miller House*  
                        Bradley C. Brooks is director of historic resources and assistant curator of American decorative arts at the Indianapolis Museum of Art, including the Miller House.

                        **Mid Century Modern Textiles and Colour Palettes**  
                        *Maraham’s Natalie Wehr*  
                        Ms. Wehr explores the multitude of possibilities in enhancing interior design with textiles and color.

                        **Mid Century Modern Furniture History**  
                        *Josh Mercer, Knoll*  
                        Knoll Synopsis: A Presentation on the history of Knoll; with a review of the timeline and influential designers that helped shape the development of the company.

                        **One Word Workshop**  
                        *Dedicated to Paul Rand, Facilitator: Dennis Ichiyama*  
                        The One Word Workshop will investigate and explore concept development with one word. Participants will develop a concept and sketches that delve into hidden meanings and parables associated with wordsmithing and design.  
                        Heller, Steven. “Thoughts on Rand.” Print, May–June 1997: 106–109  
                        Bierut, Michael. “Tribute: Paul Rand 1914–1996.” ID, Jan–Feb. 1997: 34

                        **Film Festival, YES Cinema**  
                        *Dennis Ichiyama: Typeface the Movie; Randy Allman, YES Cinema*  
                        Typeface, Kartemquin’s latest documentary, brings this fascinating junction of historical and contemporary, as well as rural and urban America together for enjoyment and contemplation.

                        **The Rand Collection, Fine Arts & Design Gallery**  
                        Reception, exhibit of Rand works donated by Randy Tucker

                        ---

                        ### Day Two: Community Presentations, Visitor Engagement  
                        Presentations by Ivy Tech student teams and concepts for downtown Columbus.

                        **Branding: Columbus and “Design for the Future”**  
                        *Keynote Address*  
                        *Scott Johnson, Axiomport Indianapolis*  
                        Scott Johnson will present over twenty years of accomplished design and branding and discuss the value of excellence in visual communications and its impact on community.  “Design for the Future.”

                        **Family Portrait Workshop**  
                        *Jim Barnett, Photo Instructor/Coordinator; Jana Jones, Student Facilitator*  
                        This workshop will emulate the styles and fashion of the modernist era with Columbus families and volunteers as subjects featuring families from the Lincoln-Central Neighborhood.

                        **Panel Discussions**  
                        Students will present concepts, photo essays and design solutions to various community driven problems.

                        **A Modernist Catwalk**  
                        *Jana Jones, Student Facilitator; Design Consultant, Misty Dodson, Apgar Fashions  Photo Vision, Polina Osherov*  
                        The years from 1955 – 1970 were transformational to say the least. Get ready to twist and shout to these wild and wooly fashions with atomic style!

                        For more information, contact:  
                        Jan Banister, Program Chair for Environmental Design @ Ivy Tech School of Fine Arts & Design  
                        jbaniste@ivytech.edu(812-374-5148)

                        Lloyd Brooks, Program Chair for Visual Communications @ Ivy Tech School of Fine Arts and Design  
                        rbrooks12@ivytech.edu (812-374-5139)


                        ---

                        ## Business Connection Article
                        _March, 2014_

                    hr.w50.hr-red.horizontal-center.small-mt4.small-mb3

                    .text-center
                        h5.text-caps.small-m0.medium-m0.sans-serif The Original Text
                        unless articleAuthor == 'CHANGE_ME'
                            h6!= 'By ' + articleAuthor

                    .panelCallout.small-p1.medium-p3.large-p4
                        :markdown-it(html typographer plugins=['markdown-it-sup'])
                            ### **Protecting a Modern Legacy**

                            ##### Ivy Tech’s Rand Workshop has designs on the future

                            **BY BARNEY QUICK ■ PHOTOS BY ANDREW LAKER**

                            The modernist sensibility that emerged in the mid-20th century continues to be an important strain in American culture for spawning new developments in such fields as architecture and interior design. This is certainly so in Columbus, where buildings, furniture, city layout and even corporate marketing aesthetics still exhibit the legacy bestowed on the city by some visionary designers from that time.

                            One such figure was Paul Rand, widely regarded as the preceding century’s foremost graphic artist. Rand designed such corporate logos as those of Westinghouse, IBM and, more to the point, Cummins. His relationship with Columbus came to include design work for the city itself. His involvement coincided with that of several other prominent designers, and the ferment begun in that era still informs much of the conversation about the relationship between design and quality of life here.

                            It’s fitting, then, that this year’s event presented by Big Art Bang, a think tank within Ivy Tech Columbus’ design departments, should be called The Rand Workshop. It’s also appropriate that the workshop’s driving question is “How can we as art students convey, enhance and fulfill the modernist vision of downtown Columbus arts and business districts through visual and environmental design for the future?”

                            Lloyd Brooks, Ivy Tech’s program chairman for visual communications, observes that “if you think of the typical visitor to downtown, whether resident or tourist, once he or she starts walking around, the modernist experience starts to dissipate a bit.” The workshop’s mission is to explore how to bring more of that distinctive aspect of Columbus life to the feel of downtown.

                            The workshop will take place March 31 and April 1 on the Ivy Tech campus. Day 1 will focus on a historical overview, and Day 2 will examine what the future might look like. A collection of Rand’s work, most of it Columbus- and Cummins-specific, will be presented in the school’s gallery.

                            A number of speakers are being lined up, but the heart of the workshop is an array of projects that students in Ivy Tech’s graphic design and environmental design departments are developing. “The students are really central to the workshop,” says Brooks.

                            One such project is a proposal for an actual 4,000-square-foot space downtown. Teams of students have been working on plans for the basement, ground floor and second story. Panels showing what they’ve envisioned will be displayed at the space during the workshop.

                            Some ideas include retail space on the ground floor, such as a store for environmentally friendly, Indiana-made home accessories, LFED-certified apartments above and storage space and perhaps a workout room below. A member of one of the teams, Jenny Trueluck, characterizes the project as “returning Columbus to its natural charm.”

                            Jan Banister, program chairwoman for environmental design, says “we’re trying to grab on to what Rand’s contemporaries were creating.”

                            Some other ideas include a sustainable rooftop garden and a coffee shop/martini bar. On one team, Sean Lecher designed a one-bedroom bachelor apartment, while teammate Sarah McCarty created a two-bedroom unit.

                            Another project is a fashion show, for which students, as well as professional designer Misty Dodson of Apgar Fashions, are creating clothes with a modernist aesthetic. Indianapolis fashion photographer Polina Osherov will give an opening talk at the fashion show.

                            Mark Searles, an Ivy Tech instructor in visual communications, is leading a project called the One Word workshop. It’s based on Rand’s idea of taking one word and creating a design around it.

                            Other projects include a storytelling photo shoot at a modernist home in Columbus and a scavenger hunt through downtown that will make participants aware of nearby gems of design.

                            Big Art Bang is developing an “imagination library” from its yearly events, and Banister and Brooks anticipate that there will be much to contribute from The Rand Workshop. “We archive the art and design each year,” says Brooks. “It’s a great resource for the city.”

                            A number of community partners are providing various kinds of support for the event. These include the city’s Redevelopment Commission, Columbus Retail Merchants, the Visitors Center, Cummins, Viewpoint Books, the Columbus Area Arts Council, the Columbus Museum of Art and Design, the Heritage Fund and Indiana University’s Hope School of Design. “We’ve discovered that, by having community partners each year, they develop a passion for the community,” says Brooks. “It’s no longer just abstract.”

                            The exhibit of Rand’s works consists of materials donated by Randy Tucker, who worked in the public relations area for Cummins for many years and became a close friend of Rand.

                            “I had this collection of items, and I thought, what do you do with stuff like that?” says Tucker. “I decided it ought to go to people who would use it well. I had great admiration for what Jonathan Wilson

                            ---

                            ### Creative syncretism

                            A two-day workshop, April 4 and 5 at the Indiana University Center for Art and Design, will celebrate Harry Weese’s architecture. Columbus provides the perfect venue for the workshop because it contains a high concentration of Weese’s early works in close proximity to buildings by his teacher and mentor, Eliel Saarinen, and his son, Eero. The first day will provide participants with the unique opportunity of visiting the Weese buildings in the context of site and city rather than relying on two-dimensional photographs. This in situ perspective will inform the insights of the panel taking place on Day 2.

                            A concurrent exhibition will feature documents from the Columbus Architectural Archives about Weese and works from members of the panel, all of whom are regional modernists of today. Discussion of the first day’s findings will follow at a working dinner for participants.

                            On the second day, the formal workshop will convene with a keynote lecture by Robert Bruegmann. Additional presentations will follow, given by Kelly Wilson, director of IUCA + D; Eric Sandweiss, urban and architectural historian; and several others. A plenary discussion panel will be moderated by Wilson. This panel will consist of architects Ben and Cynthia Weese, Marlon Blackwell, Frank Harmon, Julie Snow and Maryann Thompson. This symposium is intended to provide a critical review of initial research into the design analysis of Harry Weese’s architectural accomplishments.

                            **_Information: www.indiana.edu/~weese_**

                    +carouselImages(
                        "View More",
                        "",
                        {Title: "CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Workshop%20Article%2001-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Workshop%20Article%2001.jpg"},
                        {Title: "CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Workshop%20Article%2002-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Workshop%20Article%2002.jpg"},
                        {Title: "CHANGE_ME", SM: "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Workshop%20Article%2003-450.jpg", LG:"https://assets.paulrand.design/Life/Exhibits%20and%20Events/2014%20Paul%20Rand%20Workshop/Web/Paul%20Workshop%20Article%2003.jpg"}
                        )









            //- /*-----  End of BODY  ------*/

        include ../../../__MIXINS/_include-next-work.pug

        include ../../../__MIXINS/_include-social-media.pug
