extends ../../../__MIXINS/_layout-default.pug
include ../../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Steven Heller: Paul Rand: A Designer’s Scribbles'
    - var bodyID    = 'life'
    - var bodyClass = 'events-exhibits'

block main-content
    - var pageSubtitle1         = 'CHANGE_ME'
    - var pageSubtitle2         = 'CHANGE_ME'

    - var nextType              = 'Event'
    - var nextTitle             = 'Cooper Union Event'
    - var nextDate              = '1991'
    - var nextLink              = '1991-cooper-union'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2001-800.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2002-800.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2002.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2003-800.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2003.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2004-800.jpg', linkLg: 'https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%2004.jpg', title: ''})

    .cd-main-content
        .grid-container
            .grid-x.grid-margin-x.small-mb3.align-center
                .large-7.medium-8.small-12.cell.text-center
                    h1.reveal-enter-top!= pageTitle

                    unless pageSubtitle1 == 'CHANGE_ME'
                        em.text-gray.t16.reveal-enter-bottom!= pageSubtitle1
                        br

                    unless pageSubtitle2 == 'CHANGE_ME'
                        em.text-gray.t16.reveal-enter-bottom!= pageSubtitle2

                    .small-mt3.small-mb2
                        +imageZoomSingle(
                            "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%20poster-970.jpg",
                            "https://assets.paulrand.design/Life/Exhibits%20and%20Events/2019%20Steven%20Heller-%20A%20Designer%27s%20Scribbles/Web/Steven%20Heller%20at%20UMMA%20poster.jpg"
                            )

            include ../../../__MIXINS/_include-image-carousel.pug

            .grid-x.grid-margin-x.small-mb3.align-center
                .large-7.medium-8.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        UMMA and Stamps School of Art Design present: Steven Heller: Paul Rand: A Designer’s Scribbles

                        On the occasion of the UMMA exhibition Paul Rand: A Designer’s Task, please join noted design writer, author, and educator Steven Heller for his talk “Paul Rand: A Designer’s Scribbles” where he will share never-before-seen sketches by Rand and discuss how they influenced his advertising work.

                        Steven Heller, is the co-chair with Lita Talarico of the MFA Design / Designer as Author + Entrepreneur program and the SVA Masters Workshop in Rome. He writes the Visuals column for The New York Times Book Review, a weekly column for The Atlantic online and The Daily Heller / Imprint online. He has written more than 180 books on graphic design, illustration and political art, including The Design Entrepreneur  (with Lita Talarico), Paul Rand, Merz to Emigre and Beyond: Avant Garde Magazine Design of the Twentieth Century, Design Literacy: Understanding Graphic Design, Citizen Designer, Stylepedia: A Guide to Graphic Design Mannerisms, Quirks, and Conceits (with Louise Fili), The Anatomy of Design: Uncovering the Influences and Inspirations in Modern Graphic Design (with Mirko Ilic), Iron Fists: Branding the 20th Century Totalitarian State and 100 Ideas that Changed Graphic Design. He is/was a contributing editor for Print, Baseline, Design Observer, Eye. Heller is the recipient of the Eric Carle Award, Art Directors Club Special Educators Award, the AIGA Medal for Lifetime Achievement, the School of Visual Arts’ Masters Series Award and the 2011 National Design Award for "Design Mind." He has received two honorary doctorates from The College for Creative Studies in Detroit and The Ladislav Sutnar Faculty at the University of West Bohemia in the Czech Republic.

                        Lead support for Paul Rand: The Designer's Task is provided by the Herbert W. and Susan L. Johe Endowment.







            //- /*-----  End of BODY  ------*/

        include ../../../__MIXINS/_include-next-work.pug

        include ../../../__MIXINS/_include-social-media.pug
