extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'The Trademark as an Illustrative Device'
    - var bodyID    = 'writing'
    - var bodyClass = 'articles'

block main-content
    - var imageHeaderBackground = 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952-450.jpg'

    - var publishedInTitle      = 'Seven Designers Look At Trademark Design'
    - var publishedInSubtitle   = '1952'
    - var publishedInThumbnail  = []
    - publishedInThumbnail.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952.jpg', title: ''})
    - var library               = 'yes'
    - var libraryLink           = 'http://www.worldcat.org/oclc/1198719'
    - var abe                   = 'yes'
    - var abeLink               = 'http://affiliates.abebooks.com/c/177653/77798/2029?u=http%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17%26tn%3DSeven%2BDesigners%2BLook%2BAt%2BTrademark%2BDesign'
    - var amazon                = 'yes'
    - var amazonLink            = 'http://amzn.to/1UXaQG4'
    - var modernism101          = 'yes'
    - var modernism101Link      = 'http://modernism101.com/products-page/graphic-design/jacobson-e-with-bayer-burtin-doner-lustig-rand-rudofsky-seven-designers-look-at-trademark-design-1952-duplicate'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'http://www.anrdoezrs.net/links/7937826/type/dlg/http://www.barnesandnoble.com/s/Seven+Designers+Look+At+Trademark+Design?_requestid=207524'
    - var ebay                  = 'yes'
    - var ebayLink              = 'https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575189232&campid=5337903203&mpre=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2050601.m570.l1313.TR0.TRC0.H0.TRS0%26_nkw%3DSeven%2BDesigners%2BLook%2BAt%2BTrademark%2BDesign%26_sacat%3D0'

    - var nextType              = 'Article'
    - var nextTitle             = 'Modern Typography in the Modern World'
    - var nextDate              = '1952'
    - var nextDescription       = 'Originally published in Typographica #5'
    - var nextLink              = '/writing/articles/1952-modern-typography-in-the-modern-world.html'


    - var relatedItemLink1      = '/writing/articles/1965-trademarks-of-the-world-preface.html'
    - var relatedItemTitle1     = 'Trademarks and Symbols of the World Preface'
    - var relatedItemFootnote1  = 'From Yusaku Kamekura’s “Trademarks of the World”, 1965'

    - var relatedItemLink2      = '/writing/articles/1991-logos-flags-and-escutcheons.html'
    - var relatedItemTitle2     = 'Logos, Flags, and Escutcheons'
    - var relatedItemFootnote2  = 'Originally published in 1991 by AIGA'

    - var relatedItemLink3      = '/writing/articles/1993-failure-by-design.html'
    - var relatedItemTitle3     = 'Failure by Design'
    - var relatedItemFootnote3  = 'Originally published in the New York Times, 1993'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2002-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2003-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2004-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2005-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2006-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2007-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2008-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2009-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2010-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2011-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2012-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2013-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2014-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2015-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/Seven%20Designers%20Look%20at%20Trademark%20Design%201952%2001.jpg', title: ''})


    .progress-container
        .progress-bar


    //- ===============================================
    //- =            FULL WIDTH IMAGE HEADER            =
    //- ===============================================
    .wrapper-parallax
        .imageHeader-full
            h1(data-aos="fade-up")!= pageTitle

            :markdown-it(html typographer plugins=['markdown-it-sup'])
                This version of the article was originally published in “Seven Designers Look At Trademark Design”, 1952.

            //- a.button.white.text-caps.radius.down-arrow#original-article-link.bottomAlign(data-aos="fade-up") View the Original #{nextType}

            img(src=imageHeaderBackground)

        //- -----  End of FULL WIDTH IMAGE HEADER  ------
    .cd-main-content
        .grid-container

            //- ==========  BODY  ==========

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    p.footnote.text-center
                        | Estimated reading time: 
                        span.text-bold.reading-time
                        |   |  Select text to share via Facebook, Twitter or Email
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        A trademark is not merely a device to adorn a letterhead, to stamp on a product, or to insert at the base of an advertisement; nor one whose sole prerogative is to imprint itself by dint of constant repetition on the mind of the consumer public. The trademark is a potential illustrative feature of unappreciated vigor and efficacy; and when used as such escapes its customary fate of being a boring restatement of the identity of the product’s maker. When fully exploited the trademark can actively stimulate interest in the product or brand. It is possible to repeat without being repetitious. This is important; monotonous repetition eventually loses its impact, and the trademark which becomes a visual cliche will fail to evoke a response from the spectator.

        .w100.text-center.medium-my3.text-center
            +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative01-800.jpg",
                "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative01.jpg"
                )
        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Two of the most important ways to transform the trademark into a stimulating illustrative device are: (1) to vary the treatment of the device itself, (2) to alter the context in which the device is presented.

                        The means by which the treatment or rendering of the trademark can be varied are infinite. The device may, for example, be drawn in line, in silhouette, or in three dimensions. Furthermore, a part of the device can be used to represent the whole. Both of these types of variation are shown in the Disney advertisements reproduced here. Changing the color or texture are other obvious ways of altering its appearance.

        .w100.text-center.small-p4.small-my2
            .grid-x.grid-margin-x
                .medium-4.small-12.small-mb2.cell(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2014-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2014.jpg"
                    )
                .medium-4.small-12mb2.cell(data-aos="fade-up")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2015-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2015.jpg"
                    )
                .medium-4.small-12mb2.cell(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2011-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2011.jpg"
                    )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        While the utmost variation in the treatment of the trademark is desirable, it must be remembered that the basic form, or the representative part of the basic form, should never change. If it does, the trademark will fail to identify the product’s maker with sufficient constancy to fulfill its chief, though not its sole, function.

                        The Borzoi dog of Alfred A. Knopf Publishing Company provides an example of diversified treatment of a trademark. The dog is not only rendered in line, in silhouette, with and without borders, and so forth; but is often executed by different artists which further varies its interpretation.

        .w100.small-p4.bg-gold.medium-my4.small-p2.medium-p4
            .grid-x.grid-margin-x
                .medium-3.small-12.cell.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2012-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2012.jpg"
                    )

                .medium-3.small-12.cell.small-mb2(data-aos="fade-bottom")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2008-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2008.jpg"
                    )

                .medium-3.small-12.cell.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2002-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2002.jpg"
                    )

                .medium-3.small-12.cell.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2001-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2001.jpg"
                    )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        By placing the trademark in new and changing contexts the device remains familiar but becomes exciting. Here again, of course, the essential form must not be altered.

                        The physical context of the trademark, layout, composition, color are susceptible to infinite variation. The trademark can move about spatially, or can be placed on backgrounds of differing shapes, sizes, colors and textures all the while retaining its identity but gaining potency.

                        The variation of the anecdotal context of the trademark is of equal importance. The trademark is enabled to assume new meaning, new emotional impact and new interest as a consequence of its association with different subject matter.

                        The advertising for Four Roses Whiskey has long used the above approach, proving that it not only has visual appeal but is economically sound.

        .w100.small-p2.medium-mt3
            .grid-x.grid-margin-x
                .medium-4.small-12.cell.small-mb2.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2010-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2010.jpg"
                    )

                .medium-4.small-12.cell.small-mb2.small-mb2(data-aos="fade-up")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2004-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2004.jpg"
                    )

                .medium-4.small-12.cell.small-mb2.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2006-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2006.jpg"
                    )

                .medium-4.small-12.cell.small-mb2.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2005-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2005.jpg"
                    )

                .medium-4.small-12.cell.small-mb2.small-mb2(data-aos="fade-up")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2003-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2003.jpg"
                    )

                .medium-4.small-12.cell.small-mb2.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2009-800.jpg",
                    "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2009.jpg"
                    )

        .w100.medium-mb4.text-center
            +imageZoomSingle("https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2007-970.jpg",
            "https://assets.paulrand.design/Works/Disney%20Hats/Web/Disney%20Hats%2007.jpg"
            )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The interaction of the trademark and its graphic context is not merely one-sided; the context is affected by the trademark as well as the trademark by the context. For example, the illustrative use of a trademark can force a “pretty baby” advertisement to become more than a pretty baby (page 68). We all know that a pretty baby has great psychological appeal, but its effectiveness becomes somewhat dulled when it is used in an ordinary or conventional manner. On the other hand the skillful relation of the pretty baby to the trademark of the product is one of the most effective means of recapturing the poignancy of the pretty baby’s appeal. In combination with the trademark it not only “appeals” but at the same time impresses the observer with the product’s brand name in an unforgetable way. This juxtaposition of two normally unrelated visual objects is primarily a surrealist technique and in advertising, as in painting, it gives new meaning to objects and devices which taken singly might be humdrum.

        .w100.small-p2.medium-my3
            .grid-x.grid-margin-x
                .medium-4.small-12.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Railroad%20Crossing-800.jpg",
                    "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Railroad%20Crossing.jpg"
                    )

                .medium-4.small-12.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Neptune-800.jpg",
                    "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Neptune.jpg"
                    )

                .medium-4.small-12.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Parrots-800.jpg",
                    "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Parrots.jpg"
                    )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        There are times when the trademark and the illustration are inseparable, as demonstrated by the advertisements for Ohrbach’s reproduced here. The use of the same element in diverse and unexpected visual situations not only dramatizes the trademark (in this case the name of the store), but also can serve to highlight specific products.

        .w100.small-p2.medium-my3
            .grid-x.grid-margin-x
                .medium-4.small-12.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Bull-800.jpg",
                    "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Bull.jpg"
                    )
                .medium-4.small-12.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Flute-800.jpg",
                    "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Flute.jpg"
                    )
                .medium-4.small-12.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Broom-800.jpg",
                    "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Broom.jpg"
                    )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Furthermore, the use of the trademark as an illustration affects the style of advertisements. The whole concept of the trademark is a natural outgrowth of contemporary design: it is functional as opposed to purely decorative, and it is symbolic in essence. Therefore it tends to bring the layouts with which it is intimately associated into harmony with present trends in design. And it also acts to inhibit trite or commonplace visual interpretations.

        .w100.medium-p4.medium-my3
            .text-center
                +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Girl%20on%20Horse-970.jpg",
                "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Girl%20on%20Horse.jpg"
                )

        .w100.medium-p4.medium-my3.bg-black
            .text-center
                +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Baby%20and%20Blocks%20v2-970.jpg",
                "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Baby%20and%20Blocks%20v2.jpg"
                )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    .small-my4.text-center
                        +imageZoomSingle("https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Easter%20Bunny-970.jpg",
                        "https://assets.paulrand.design/Works/Ohrbachs/Web/Ohrbachs-%20Easter%20Bunny.jpg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The trademark may, on occasion, evolve from the illustration. For example, the proposed trademark for Century Lighting Company shown here combines the major illustrative elements of three booklets designed by the author, which were used to describe various types of lighting equipment.

        .w100.small-p2
            .grid-x.grid-margin-x
                .medium-4.small-12.cell.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Century%20Lighting/Catalogs/Catalog%201/Web/Century%20Lighting%20Catalog%201%20Front-800.jpg",
                    "https://assets.paulrand.design/Works/Century%20Lighting/Catalogs/Catalog%201/Web/Century%20Lighting%20Catalog%201%20Front.jpg"
                    ) 

                .medium-4.small-12.cell.small-mb2(data-aos="fade-left")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Century%20Lighting/Catalogs/Catalog%202/Web/Century%20Lighting%20Catalog%202%20Front-800.jpg",
                    "https://assets.paulrand.design/Works/Century%20Lighting/Catalogs/Catalog%202/Web/Century%20Lighting%20Catalog%202%20Front.jpg"
                    ) 

                .medium-4.small-12.cell.small-mb2(data-aos="fade-up")
                    +imageZoomSingle("https://assets.paulrand.design/Works/Century%20Lighting/Catalogs/Catalog%204/Web/Century%20Lighting%20Catalog%204%20Front-800.jpg",
                    "https://assets.paulrand.design/Works/Century%20Lighting/Catalogs/Catalog%204/Web/Century%20Lighting%20Catalog%204%20Front.jpg"
                    ) 

        .w100.small-p4.medium-my3.bg-gold.text-center.small-p2.medium-p4
            +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative15.svg",
            "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative15.svg"
            )

        .grid-container
            .grid-x.grid-margin-x.align-center.medium-mt4
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        In the case of Coronet Brandy the original trademark, a brandy snifter, was augmented by the “waiter”, similar in form to the snifter but intended for use in only one advertisement. However, the client decided to retain it for the trademark in place of the snifter.

        .w100.small-p2
            .grid-x.grid-margin-x
                .medium-6.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative13.svg",
                    "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative13.svg"
                    )
                .medium-6.cell.small-mb2
                    +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative14.svg",
                    "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative14.svg"
                    )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The illustrative material used in advertising a particular product may even become so identified with the product that it develops into what is virtually a multiple trademark. Such a development is usually gradual. For instance, in the series of advertisements done for Disney hats, the original mark was an escutcheon. However, the nineteenth century figure which was employed in the ads to convey the impression of authority in the fashion field came to be so closely associated with the product that now the two appear together to form the trademark. For a time a third visual element was used, that of rectangular forms, and these three elements in diverse combinations, symbolized the identity of the product.

                        Another approach to the revitalization of the trademark is to combine the trademark with an illustration wherein the dominant feature of the illustration is derived from the basic form of the trademark. This has been done in the advertisements for Robeson Cutlery. The projection of the triangular trademark is the illustrative motif, and the illustration reinforces and emphasizes the trademark. This approach obviously impresses the identity of the product indelibly on the mind of the spectator since it repeats the trademark more frequently.

                    +imageZoomSingle("https://assets.paulrand.design/Works/Shur-Edge%20Knives/Shuredge-1947.svg",
                    "https://assets.paulrand.design/Works/Shur-Edge%20Knives/Shuredge-1947.svg"
                    )


            .grid-x.grid-margin-x.text-center.align-center.medium-my3

                +galleryItem-blockGrid(
                    "DIVIDER_no",
                    "CHANGE_ME",
                    "top", "3", "3",
                    {SM: "https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Birds-800.jpg", LG:"https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Birds.jpg", title: "", footnote: ""},
                    {SM: "https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Chef%20Color-800.jpg", LG:"https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Chef%20Color.jpg", title: "", footnote: ""},
                    {SM: "https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Reindeer-800.jpg", LG:"https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Reindeer.jpg", title: "", footnote: ""},
                    {SM: "https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Turkey-800.jpg", LG:"https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Turkey.jpg", title: "", footnote: ""},
                    {SM: "https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Santa%2002-800.jpg", LG:"https://assets.paulrand.design/Works/Shur-Edge%20Knives/Advertising/Web/Shur%20Edge%20Santa%2002.jpg", title: "", footnote: ""}
                    )

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        A trademark is often used to identify more than one product of the same manufacturer. Such a mark must function illustratively and yet must not change its basic form. In the DuBouchett advertisements opposite the trademark is in no way altered when, for example, the bottle of Creme de Menthe is replaced by a bottle of Blackberry Brandy.

            .medium-my3.small-mx-0.p0.text-center
                +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative23-800.jpg",
                "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative23.jpg"
                )

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    p A similar problem was solved for Ancient Age Whiskey. Here, however, various types of mixed, drinks are placed on the tray from time to time.

                    .articleImageRight
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative22-450.jpg",
                        "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative22.jpg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The stylized and familiar trademark in a new and unexpected context produces a spark and revitalizes our thinking. Contemporary society is no longer simple, and mass production has fairly well destroyed the mystery of visual things; therefore, it is necessary to depend on the ingenious variation and the dramatic interrelation of visual things to catch the spectator’s interest. And to hold his interests visual concepts have to be “loaded”: they must be ambivalent. The trademark becomes doubly meaningful when it is used both as an identifying device and as an illustration, each working hand in hand to enhance and dramatize the effect of the whole.

            .grid-x.grid-margin-x.align-center.medium-mt3
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        There are other categories of trademarks where letters themselves become the illustrative device. For example the Country Club. Ice Cream Company experimental trademark is composed of especially drawn letters which portray a smiling face. Although these letters are drawn freely they have not been forced nor deformed to accommodate the illustration. The “eyes” are component parts of the C’s, they are neither superimposed nor added, but are organically related to the letters. The “mouth” or smile is a parody on the old fashioned paraph. The yellow dots in the background add a certain gayety to the device, but at the same time are extensions of the “eye” motif.

        .w100.small-p4.text-center
            +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative24.svg",
            "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative24.svg"
            )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    .articleImageRight
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative25.svg",
                        "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative25.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The trademark for Dunhill, a custom tailor for men, also makes use of letters in an illustrative manner, but does so in quite a different way. Here a conventional type face has been used, but the addition of a new element, i.e., the stylized heads, has given these letter forms a totally new meaning, each letter becoming the figure of a man. The point demonstrated by this trademark is that lettering need not be “different” nor “distinctive” in itself, but can become so by the addition of a surprise element.





            //- /*-----  End of BODY  ------*/

        include ../../__MIXINS/_include-image-carousel.pug

        include ../../__MIXINS/_include-published-in.pug

        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug

        
