extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Black in the Visual Arts'
    - var bodyID    = 'writing'
    - var bodyClass = 'articles'

block main-content
    - var imageHeaderBackground = "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book-800.jpg"

    - var publishedInTitle      = 'Graphic Forms: The Arts as Related to the Book'
    - var publishedInSubtitle   = '1949'
    - var publishedInThumbnail  = []
    - publishedInThumbnail.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book.jpg', title: ''})
    - var library               = 'yes'
    - var libraryLink           = 'http://www.worldcat.org/oclc/252867'
    - var abe                   = 'yes'
    - var abeLink               = 'http://affiliates.abebooks.com/c/177653/77798/2029?u=http%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17%26tn%3DGraphic%2BForms%253A%2BThe%2BArts%2Bas%2BRelated%2Bto%2Bthe%2BBook'
    - var amazon                = 'yes'
    - var amazonLink            = 'http://amzn.to/1iwupny'
    - var modernism101          = 'no'
    - var modernism101Link      = 'CHANGE_ME'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'http://www.anrdoezrs.net/links/7937826/type/dlg/http://www.barnesandnoble.com/w/graphicforms-gy-rgy-kepes/1117246143?ean=9780674334021'
    - var ebay                  = 'yes'
    - var ebayLink              = 'https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575189232&campid=5337903203&mpre=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2050601.m570.l1313.TR0.TRC0.H0.TRS0%26_nkw%3DGraphic%2BForms%253A%2BThe%2BArts%2Bas%2BRelated%2Bto%2Bthe%2BBook%26_sacat%3D0'

    - var nextType              = 'Article'
    - var nextTitle             = 'Posters'
    - var nextDate              = '1952'
    - var nextDescription       = 'Originally published in “Posters: Fifty artists and designers analyze their approach, their methods, and their solutions to poster design and poster advertising”'
    - var nextThumb             = 'https://assets.paulrand.design/Writing/Books/1985%20A%20Designer%e2%80%99s%20Art/jpegs/designers%20art%20front.jpg'
    - var nextLink              = '/writing/articles/posters.html'

    - var relatedItemLink1      = '/writing/articles/object-lessons.html'
    - var relatedItemTitle1     = 'Object Lessons'
    - var relatedItemFootnote1  = 'Originally published in The New Criterion, 1993'

    - var relatedItemLink2      = '/writing/articles/language-of-art.html'
    - var relatedItemTitle2     = 'Language of Art'
    - var relatedItemFootnote2  = 'Contributed by John Maeda'

    - var relatedItemLink3      = '/writing/articles/observations-on-intuition.html'
    - var relatedItemTitle3     = 'Observations on Intuition'
    - var relatedItemFootnote3  = 'Originally published in “STA Design Journal”, 1987'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2001-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2001.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2002-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2002.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2003-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2003.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2004-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2004.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2005-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2005.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2006-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2006.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2007-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2007.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2008-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2008.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2009-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2009.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2010-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2010.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2011-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2011.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2012-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2012.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2013-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2013.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2014-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2014.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2015-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2015.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2016-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2016.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2017-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2017.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2018-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2018.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2019-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book%2019.jpg', title:'Graphic Forms: The Arts as Related to the Book'})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book,%20brochure,%20front-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book,%20brochure,%20front.jpg', title:"Graphic Forms program"})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book,%20brochure,%20%20interior-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book,%20brochure,%20%20interior.jpg', title:"Graphic Forms program interior"})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book,%20program-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1949%20Graphic%20Forms%20The%20Arts%20as%20Related%20to%20the%20Book/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book,%20program.jpg', title:"Graphic Forms brochure"})



    .progress-container
        .progress-bar

    //- ===============================================
    //- =			FULL WIDTH IMAGE HEADER			=
    //- ===============================================
    .wrapper-parallax
        .imageHeader-full
            h1(data-aos="fade-up")!= pageTitle

            :markdown-it
                This version of the article was originally published in “Graphic Forms: The Arts as Related to the Book”, 1949.  
                It was revised and reprinted in “A Designer’s Art”, 1985.

            //- a.button.white.text-caps.radius.down-arrow#original-article-link.bottomAlign(data-aos="fade-up") View the Original #{nextType}

            img(src=imageHeaderBackground)

        //- -----  End of FULL WIDTH IMAGE HEADER  ------
    .cd-main-content
        //- ==========  BODY  ==========
        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell
                    p.footnote.text-center
                        | Estimated reading time: 
                        span.text-bold.reading-time
                        |   |  Select text to share via Facebook, Twitter or Email
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Taboos and prejudices have long created limiting barriers to experimentation and to meaningful work in the graphic arts. In this paper I should like to attack one particular prejudice — that against the color black.^1^

                    .sidenoteLeft 1 It should be noted that it is impossible to discuss black without mentioning or implying white, grays, and dark umbers the greater part of the time.


                    blockquote Vowels: black A, white E, red I, green U, blue O, Someday I shall name the birth from which you rise: A, a black furry corset of loud flies Boiling where the cruel stenches flow…
                        sup *

                    .sidenoteRight * By permission of the translator, Muriel Rukeyser. Sergei M. Eisenstein, The Film Sense (New York: Harcourt, Brace and Company, 1942) p. 90.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        In these lines the French poet, Rimbaud, uses the word black to describe and symbolize carnality, death, and decay. This traditional association of the color black with death and sin is long standing and has led to the widespread conviction in both art and lay circles that black is depressing and sinister and therefore, if possible, must be avoided. As a result, the power and usefulness of black has been limited or misunderstood. During this century many individual artists, architects, and designers have rebelled against the conventional use and misuse of black. However, the prejudices against this color are still sufficiently strong to require a discussion of the properties of black and a vigorous defense of its many virtues.


                        In nature, black and its companion color white are dramatically juxtaposed in the contrast between day and night. The monotony of uninterrupted darkness or light would be intolerable. Black in the trunks of trees subtly sets off the brilliance of green or autumn-colored leaves. Throughout nature we find the equivalent of black and white in shadow and light—there are caves and canyons as well as fields and meadows. Man as a rule does the least violence to nature when he uses either natural materials, such as stone or wood, or black and white for the objects he places out of doors. Natural colors are integrated, white participates by reflecting its environmental color, and black modestly provides perfect background for the riotous nature colors. Certainly those people who observed with pleasure the old-fashioned black steam engine wind its way agreeably through green fields and forests, have watched with a kind of horror the orange or blue streamliner that now streaks garishly across the countryside.

                        The decidedly ambivalent nature of black has been understood in daily use. In the east and southwest of the United States and in Europe black is by far the most popular color for pleasure vehicles, but it is also the color of the hearse. In clothes black is the color of tragedy, mourning. At the same time it is the color of elegance and of sensuous enjoyment in the conventionally “sexy” black lingerie.

                        If we look further into the psychological significance of black, it is linked with mystery, with death which is unknowable, with night which is full of hidden things—of fear and magic.

                        In some countries black or near-black has been employed extensively in architecture and interior design, The color pattern of the Japanese house is based on the contrasting use of dark and light materials. Dark wood often delineates the basic structure of the house and separates it aesthetically from the light colored partition walls (fusuma) and floor mats (tatami).

                    .articleImageLeft
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-a-450.jpg",
                            "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-a.jpg"
                            )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The first of my illustrations (A) shows a building designed by Mies van der Rohe in which black is a crucial aesthetic factor. The structural members of this steel building are exposed and painted black. The effect of this is manifold: the structure is clearly defined, it is placed in dramatic contrast to the pale non-bearing brick walls, the bulk of its members is reduced making them appear light and delicate, great elegance is achieved without the use of expensive materials or decoration, and the restraint and restfulness of black makes the building a welcome oasis in the chaotic heart of the city.

                        It is, of course, understood that like any color the value of black depends upon the manner in which it is used. Black will be lugubrious or bright and elegant depending on its context and form. Despite the successful use of black in Japan and in modern buildings and interiors there are still many people who deny black categorically.


                        A doctor writing on the use of color in interiors issues a grim warning against black: **_“This is the most dismal of all colors—it expresses all that is opposite to white.”_**^[2]^ Among these opposites he lists the grave, sin, and crime.

                    .sidenoteLeft 2 Edward Podolsky, The Doctor Prescribes Colors, p. 48.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        This type of blanket denunciation of a color completely ignores the relative nature of any color or form. Eisenstein writing about the film says: **_“Even within the limitations of a color-range of black and white … one of these tones not only evades being given a single ‘value’ as an absolute image, but can even assume absolutely contradictory meanings, dependent only upon the general system of imagery that has been decided upon for the particular film.”_** ^[3]^ He goes on to illustrate this important point by the reversal of the role of black in relation to white in the two films Old and New and Alexander Nevsky. In the former, black signified things reactionary, outdated, and criminal, while white denoted happiness, life, and progress; whereas in Alexander Nevsky white was the color of cruelty, oppression, and death, and black, identified with the Russian warriors, represented heroism and patriotism. Eisenstein’s response to the surprise and protest of the critics at this reversal of traditional symbolism is to cite Moby Dick’s famous white whale—the reader will recall that the leprous, livid whiteness of this whale symbolized the world’s monstrous and baffling evil.

                    .sidenoteLeft 3 Eisenstein, The Film Sense, pp. 151-152.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        During the Middle Ages and the Renaissance, black (with some notable exceptions) was treated as a linear element or was associated with modeling and chiaroscuro. Kahnweiler in The Rise of Cubism says: **_“Since it was the mission of color to create the form as chiaroscuro, or light that had become perceivable, there was no possibility of rendering local color or color itself.”_**^[4]^ Although Kahnweiler is referring to color in general, this statement applies very forcibly to black. In the twentieth century the possibilities of rendering color as a thing in itself and not primarily as a description of three dimensionality or “objectivated light,” have been rediscovered and exploited. Coincident with this trend, black has come into its own as a positive “plastic” value.

                    .sidenoteRight 4 Daniel-Henry Kahnweiler, The Rise of Cubism (New York, 1949), p. 11.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Among the many artists who have used black as a vital element in their work are Rouault, Braque, Miro, Leger, Arp, and Picasso. Beardsley, Masereel, and Posada, for example, have used it almost exclusively.

                        Arp, describing his painting reproduced here (B), says:



        .w100.bg-black.small-p3.medium-p4.small-my2
            .grid-container
                .grid-x.grid-margin-x.align-middle
                    .large-6.cell.small-text-center.medium-text-left.equalheight-child
                        h3.text-white.blockquote The black grows deeper and deeper darker and darker before me. It menaces me like a black gullet. I can bear it no longer. It is monstrous. It is unfathomable.

                            br
                            | As the thought comes to me to exorcise and. transform this black with a white drawing, it has aheady become a surface. Now I have lost all fear, and begin to draw on the black surface. I draw and dance at once, twisting and winding, a winding, twining soft white flowery round. A round of snakes in a wreath…white shoots this way and that… 
                            sup.text-red [5]

                    .large-6.cell.medium-text-left.equalheight-child
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-b.svg",
                            "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-b.svg"
                            )

                .footnote 5 Jean Arp, On My Way (New York, 1948), p. 52.

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell

                    p.small-m0.small-py4 Arp understands that black alone and out of context is frightening, but he also knows its potency once it is formed and related.


        .w100.small-mb4
            +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-c.jpg",
                "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-c.jpg"
                )

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell
                    :markdown-it(html plugins=['markdown-it-sup'])
                        Picasso’s “Guernica” (C) is eloquent testimony of the expressive power of black and its natural companions gray and white. Although we do not know the intentions of the artist, we can venture a few statements about the more obvious effects achieved by the substitution of black, white, and gray for the usual colors. The absence of the expected pictorial colors in this mural dramatizes the impact of the work. Furthermore, the lack of color implies all colors and forces the spectator’s imagination into activity by not telling him everything. The use of black, white, and gray is an understatement which makes possible and bearable the horror and violence of the imagery. At the same time, paradoxically, it emphasizes the brutally tragic imagery. It is probably beyond question that in this mural black and white play their ancient, symbolic roles. They are the raw unadulterated colors of the struggle between life and death.

                        For many centuries Chinese and Japanese painters have revered black as a color. In Japanese painting, black (sumi) is often the only color employed. The Japanese artist feels that **_“colors can cheat the eye but sumi never can; it proclaims the master and exposes the tyro.”_**^[6]^ One famous Japanese painter, Kubota, frequently expressed the wish that he might live long enough to be able to discard color altogether and use  **_“sumi alone for any and all effects in paintings.”_**^[7]^

                    .sidenoteLeft 6 Henry P. Bowie, On the Laws of Japanese Painting (San Francisco, 1911), p. 39.
                        br 
                        br
                        | 7 Ibid., p. 43.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        In 1860 Chevreul wrote: **_“I do not know whether the use of black for mourning prevents the use of it, in numberless cases, where it would produce most excellent effects.”_** ^[8]^ This quotation is as pertinent today as it was in the nineteenth century. Most graphic artists still shy away from black. When they are confronted with no alternative other than black, as in newspaper advertising or typography, they often accept it grudgingly and make little effort to discover or develop its potentialities. However, the psychological and physical qualities of black which have been discussed so far in relation to architecture and painting are equally significant for the graphic arts: advertising, cover design, and typography. I should like to illustrate this with several examples of the use of black in my own work.

                    .sidenoteRight 8 M. E. Chevreul, The Laws of the Contrast of Color (London, 1883), p.54.

        .bg-white.small-mt3
            .grid-container
                .grid-x.grid-margin-x.expanded.align-middle.small-p3
                    .large-6.cell
                        :markdown-it(html typographer plugins=['markdown-it-sup'])
                            The first illustration (D) is that of a photogram ^[9]^ for a cover design. Although this photogram is technically a light and shadow picture of an abacus, it is primarily a pattern of light and dark forms that seem to move vertically across the surface. Because the photogram is an abstraction the plastic qualities of the object become more important than its literal ones.


                            One of the prime sources of the visual power of the photogram lies in its black, white, and gray tonality. The photogram portrays a world of light, shadow, and darkness peopled by mysterious suggestive forms. The ability of these forms to stimulate varied and imaginative associations in the mind of the observer is menaced when the photogram is rendered in color. It may still be an effective work of art, but its peculiar evocative power may be destroyed.

                        .footnote 9 The photogram attained the status of a legitimate art form as a result of the pioneering work done by such people as Man Ray and Moholy-Nagy. Since then it has become increasingly popular in the graphic field.

                    .large-6.cell.text-center(data-aos="fade-left")
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-d-450.jpg",
                            "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-d.jpg"
                            )

        .bg-black.small-mb3
            .grid-container
                .grid-x.grid-margin-x.expanded.align-middle.small-p3
                    .large-6.cell.text-center(data-aos="fade-right")
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-e-450.jpg",
                            "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-e.jpg"
                            )

                    .large-6.cell.text-white
                        :markdown-it(html typographer plugins=['markdown-it-sup'])
                            The typographic example (E) is the cover of a catalogue for the Arensberg Collection which I recently designed for the Art Institute of Chicago. This cover is composed of a series of contrasts, the most important of which is that of black and white. Together black and white act in a certain sense as complementary colors. Chevreul described them as such because when they are juxtaposed each becomes more vivid. This, he says, is due to the fact that the bright light reflected by the white area nullifies the reflected light from the black area. This makes the black seem blacker and the white more brilliant.

        .grid-container
            .grid-x.grid-margin-x.align-center
                .large-7.medium-9.small-12.cell
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The tension between black and white in the cover is heightened by opposing a large area of black to a small area of white. The contrast theme is carried out further by the drastic variation in the size of the letters. The roughness of the edges of the large A emphasizes the sharpness of those of the smaller A’s, and the extreme diagonals of the letters are counteracted by the right angles of the book itself. But the most dramatic element of contrast lies in the use of black and white. Black and white lend dignity and elegance to the book cover, yet the vigorous contrast between the two gives it a poster-like quality.

                        Thomas B. Stanley in The Technique of Advertising Production ^[10]^ says: “While color has high attention value on short exposure, psychological tests indicate that the longer the time during which advertisements are examined, the more a black and white treatment tends to regain the attention lost at first glance to a color competitor.”

                    .sidenoteLeft 10 New York (1947).

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Many advertisers and advertising artists feel that an advertisement becomes more colorful in proportion to the amount of color used in it. This is often untrue. Limited color when combined with black and white, which provide a brilliant but neutral background, is often far more effective than the use of many colors. Furthermore, the tendency of black and white to brighten and enliven other colors often makes any color used more articulate than when it is employed alone or combined with other primary or secondary colors. This is especially important in the case of dark colors.


                        In the advertisement for the Kaufman store reproduced here (F), I chose black and white combined with a strong light pink (shown in this reproduction as gray) for the reasons indicated in the above paragraph as well as others which I shall discuss.

        .w100.small-p3.small-my3(style="background:#E19895")
            .text-center(data-aos="fade-up")
                +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-f-800.jpg",
                    "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/black-in-the-visual-arts-f.jpg"
                    )

        .grid-x.grid-margin-x.align-center
            .large-7.medium-9.small-12.cell
                :markdown-it(html typographer plugins=['markdown-it-sup'])
                    Black was used for the large Easter egg primarily because of its ambivalent qualities. The combination of the egg form, which is a literal symbol of life and also suggests life by its swelling breathing shape, with black, the color of death, has shock value. A black egg is a paradox. Because of this the egg symbol is far more striking in black than if it were presented in its natural hue or in any other color.

                    Light pink which is a gay and playful color becomes increasingly effective when juxtaposed with black, again because of the associative paradox which their combination produces and because of the brightening action of black. Also the thin white lettering becomes livelier when set on a heavy contrasting background.

                    It is impossible to define cold without contrasting it with heat. It is impossible to comprehend life if death is ignored. Black is the color of death, but by virtue of this very psychological fact it is the color of life it defines, contrasts, and enhances life, light, and color. It is through the artist’s awareness of black as a polar element and consequently of its paradoxical nature that black as a color can be appreciated and effectively used. Nor must he forget that the neutrality of black makes it the common denominator of a multicolored world.

                    The necessity for the artist to free himself of traditional and conventional thought patterns if he is to create freely is obvious. Prejudices must be broken down, ruts avoided, and new paths or old forgotten ones explored if the artist is to perform one of his most important functions, that of broadening our visual world.







        //- /*-----  End of BODY  ------*/

        include ../../__MIXINS/_include-image-carousel.pug

        include ../../__MIXINS/_include-published-in.pug

        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug