extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Confusion and Chaos: The Seduction of Contemporary Graphic Design'
    - var bodyID    = 'writing'
    - var bodyClass = 'articles'

block main-content
    - var imageHeaderBackground = ''

    - var publishedInTitle      = 'AIGA Journal of Graphic Design, Volume 10, Number 1'
    - var publishedInSubtitle   = '1992'
    - var publishedInThumbnail  = []
    - publishedInThumbnail.push({linkSm: 'CHANGE_ME', linkLg: 'CHANGE_ME', title: ''})
    - var library               = 'yes'
    - var libraryLink           = 'http://www.worldcat.org/oclc/8962753'
    - var abe                   = 'yes'
    - var abeLink               = 'http://affiliates.abebooks.com/c/177653/77798/2029?u=http%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26kn%3DAIGA%2BJournal%2Bof%2BGraphic%2BDesign%252C%2BVolume%2B10%252C%2BNumber%2B1%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17'
    - var amazon                = 'yes'
    - var amazonLink            = 'http://amzn.to/1QmOuXL'
    - var modernism101          = 'no'
    - var modernism101Link      = 'CHANGE_ME'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'http://www.anrdoezrs.net/links/7937826/type/dlg/http://www.barnesandnoble.com/noresults/AIGA+Journal+of+Graphic+Design%2C+Volume+10%2C+Number+1'
    - var ebay                  = 'yes'
    - var ebayLink              = 'https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575189232&campid=5337903203&mpre=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2050601.m570.l1313.TR0.TRC0.H0.TRS0%26_nkw%3DAIGA%2BJournal%2Bof%2BGraphic%2BDesign%252C%2BVolume%2B10%252C%2BNumber%2B1%26_sacat%3D0'

    - var nextType              = 'Article'
    - var nextTitle             = 'Object Lessons'
    - var nextDate              = '1993'
    - var nextDescription       = 'Originally published in The New Criterion'
    - var nextLink              = '/writing/articles/object-lessons.html'


    - var relatedItemLink1      = '/writing/articles/black-in-the-visual-arts.html'
    - var relatedItemTitle1     = 'Black in the Visual Arts'
    - var relatedItemFootnote1  = 'Originally published in “Graphic Forms: The Arts as Related to the Book”, 1949'

    - var relatedItemLink2      = '/writing/articles/the-art-of-the-package.html'
    - var relatedItemTitle2     = 'The Art of the Package'
    - var relatedItemFootnote2  = 'Originally published in PRINT: January/February, 1960'

    - var relatedItemLink3      = '/writing/articles/language-of-art.html'
    - var relatedItemTitle3     = 'Language of Art'
    - var relatedItemFootnote3  = 'Contributed by John Maeda'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'CHANGE_ME', linkLg: 'CHANGE_ME', title: ''})


    .progress-container
        .progress-bar

    //- ===============================================
    //- =            FULL WIDTH IMAGE HEADER            =
    //- ===============================================
    .wrapper-parallax
        .imageHeader-full.bg-black
            h1.reveal-enter-top!= pageTitle

            p Originally published in the AIGA Journal of Graphic Design, Volume 10, Number 1, 1992

            //- a.button.white.text-caps.radius.down-arrow#original-article-link.bottomAlign.reveal-enter-bottom View the Original #{nextType}

            img(src=imageHeaderBackground)

        //- -----  End of FULL WIDTH IMAGE HEADER  ------
    .cd-main-content
        .grid-container


            //- ==========  BODY  ==========

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    p.footnote.text-center
                        | Estimated reading time: 
                        span.text-bold.reading-time
                        |   |  Select text to share via Facebook, Twitter or Email
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        In the torturous history of painting and design, from Cimabue (1240-1302), to Cassandre (1901-1968), communications between artist and spectator — even if one disagreed with what was being communicated – was rarely a problem. Today, with emphasis on self, on style, rather than on content or idea, and in much of what is alleged to be graphic design, communication at best, is puzzling. Order out of chaos, it seems, is not the order of the day.

                        The deluge of design that colors our lives, our print, and video screens is synchronous with the spirit of our time. No less than drugs and pollution, and all the fads and -isms that have plagued our communities, the big brush of graffiti for example, has been blanketing our cities from Basel to Brooklyn. Much of graphic design today is a grim reminder of this overwhelming presence. The qualities which evoke this bevy of depressing images are a collage of confusion and chaos, swaying between high tech and low art, and wrapped in a cloak of arrogance: squiggles, pixels, doodles, dingbats, ziggurats; boudoir colors: turquoise, peach, pea green, and lavender; corny woodcuts on moody browns and russets; Art Deco rip-offs, high gloss finishes, sleazy textures; tiny color photos surrounded by acres of white space; indecipherable, zany typography with miles of leading; text in all caps (despite indisputable proof that lowercase letters are more readable); omnipresent, decorative letterspaced caps; visually annotated typography and revivalist caps and small caps; pseudo-Dada and Futurist collages; and whatever ‘special effects’ a computer makes possible. These inspirational decorations are, apparently, convenient stand-ins for real ideas and genuine skills. And all this is a reflection, less of the substance, than of the spirit of graffiti - less of the style, than of the quality.

                        That these cliches are used repeatedly, irrespective of needs, is what defines trendiness. The ‘Memphis’ fad was also based on cliches and on outrageous, kitschy notions. (Occasionally, however, some potentially useful ideas seeped through — only proving that it takes talent to make something out of nothing.) The huge investments involved in the manufacture and storage of Memphis products have probably helped speed its demise. Trendy printed ephemera, on the other hand, which involves less capital, may take a bit longer.

                        There is something about graffiti and graffiti-like design that smacks of WW I Dada. But that was a revolt against the lopsided conventions of the time. The participants were often great artists and reformers: Arp, Grosz, Heartfield, Duchamp, Ernst, Schwitters, etc. And the work was not, in any way, trendy; it was serious, often amusing, and always interesting. Today’s Dada, if it can be called that, is a revolt against anything that is deemed old hat. Faddish and frivolous, it harbors its own built-in boredom.

                        ‘I feel that the ideas I tried to outline…will strike many of you as consisting too much of the atrabiliar grumblings of a disgruntled elder,’ is how Roger Fry,<sup>[1]</sup> the distinguished British critic, expressed the fear that his message might be falling on deaf ears.

                    .sidenoteLeft 1. Roger Fry, Art and Commerce (London, 1925), 23.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Most of this ‘new’ style of design is confined to pro bono work, small boutiques, fledgling studios, trendy publishers, misguided educational institutions, anxious graphic arts associations, and a few innocent paper manufacturers, who produce beautiful papers, but then spoil them with ‘the latest’ graphics, and who, undoubtedly, see themselves as the avant-garde - and are comforted by the illusion that this must be progress. Unhappily, this is infecting some of the graphics of the corporate world: annual reports, identity programs, direct mail, etc. Trendiness is seductive, especially to the young and inexperienced, for the principal reason that it offers no restraints, is lots of ‘fun’, permits unlimited possibilities for ‘self-expression,’ and doesn’t require conforming to the dictates of reason or aesthetics. ‘… Self-expression is real only after the means to it have been acquired’,<sup>[2]</sup> comments the author of a brilliant commentary on the foibles of education, ‘Begin Here.’

                    .sidenoteRight 2. Jacques Barzun, ‘The Centrality of Reading.’ Begin Here (Chicago, 1991), 24.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Lack of humility and originality and the obsession with style, is what seem to encourage these excesses. The absence of restraint, the equation of simplicity with shallowness, complexity with depth of understanding, and obscurity with innovation, distinguishes the quality of work of these times. The focus on freedom is just another sign that suggests a longing to reject the past — ‘the infinite greatness of the past,’<sup>[3]</sup> is how Walt Whitman put it. All this, of course, carries little weight with critics who, out of hand, reject the styles of their predecessors, and respond to reason with disdain.

                    .sidenoteLeft 3. Walt Whitman, Passage to India (1868).

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Added to this is the obsession with theory which, instead of being fuel for action as it was at other times, during the Renaissance, for example, is merely the vehicle for fathomless language, variously described as ‘extravagantly obscure, modish, opaque verbal shenanigans - and the authors as masters of impenetrability’.<sup>[4]</sup> Although these descriptions are aimed at architects, they seem equally appropriate for graphic design theorists of the ‘new’, (a buzzword often seen in advertising sometimes preceded by the expression ‘amazing’.) Reaching for the new is tilting at windmills; the goal is not what is new (original), as Mies put it, but what is good.

                    .sidenoteRight 4. Roger Kimball, ‘Deconstruction Comes to America,’ Tenured Radicals (New York, 1990), 123.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Twenty-eight years ago, my friend Charles Eames (1908-1977) spoke at the Pasadena Art Museum, concerning a growing preoccupation with the problem of creativity. ‘This preoccupation in itself’, said Eames, ‘suggests that we are in some special kind of trouble — and indeed we are.’ A look at graphic design today suggests that, perhaps, we are even in greater trouble now than we were 28 years ago. As a matter of fact, design today, is reminiscent of the trials of an earlier era in which Edward Gibbon, author of The History of the Decline and Fall of the Roman Empire (1776), astutely described the arts in theatre, music, and painting, as ‘freakishness pretending to originality, enthusiasm masquerading as vitality’.<sup>[5]</sup>

                    .sidenoteLeft 5. Alistair Cooke, America Observed (New York, 1990), 14.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Eames would probably turn in his grave if he knew what was happening even in academia today. ‘It is no secret,’ asserts the author of Tenured Radicals, ‘that the academic study of the humanities in this country is in a state of crisis’…’Every special interest — women’s studies, black studies, gay studies, and the like — and every modish interpretive gambit — deconstructivism, post structuralism, new historicism {postmodernism}, …has found a welcome roost in the academy {and in many studios}, while the traditional curriculum and modes of intellectual inquiry are excoriated as sexist, racist, or just plain reactionary’,<sup>[6]</sup> ‘It is also necessary,’ adds another critic, ‘to remind oneself of the dangers that ensue when metaphors substitute for facts, when words lose their meaning, and when signifiers and signifieds part company, with the deconstructionists’ blessing’.<sup>[7]</sup>

                    .sidenoteRight 6 Roger Kimball, Tenured Radicals (New York, 1990), XL, XIII.
                        br
                        br
                        | 7 David Lehman, ‘A Scandal of Academe’ Signs of the Times (New York, 1991), 243.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Today, the popular sport is to put down whatever isn’t perceived as change — the very latest — subjects like: the classics, the curriculum, Modernism, functionalism and, for example, the Bauhaus, into whose history is woven the very fabric of Modernism, is seen as a style rather than as an idea, a cultural manifestation. Socially aware, and like neoplasticism and constructivism, it harbored a strain of the ascetic. To say that the Bauhaus (1919) and its ideology are defunct is to cast aspersions on its antecedents: on Ruskin and Morris, on the Arts and Crafts movement, on the Secessionists, on Hoffman and Moser, on Muthesius and the Werkbund (1907), on Behrens, on the predecessor of the Bauhaus - van de Velde - the director of the Weimar Academy, on Gropius, Klee, Kandinsky, Moholy-Nagy, Albers, Mies, and on outsiders like Malevich, Mondrian, Van Doesburg and Lissitzsky. Cubism and some of its progeny, suprematism, neoplasticism, constructivism, futurism, were its aesthetic foundation. The Bauhaus Archives in Berlin, the refurbished building in Dessau, and original products now available to all, are stark evidence that the Bauhaus is breathing vigorously.

                        ‘There are two principles inherent in the very nature of things…’ writes Whitehead,<sup>[8]</sup> ‘the spirit of change, and the spirit of conservation. There can be nothing real without both. Mere change without conservation is a passage from nothing to nothing. Mere conservation without change cannot conserve’. Elsewhere, he says, ‘Mere change before the attainment of adequacy of achievement, either in quality or output, is destructive of greatness’.

                    .sidenoteLeft 8 Alfred North Whitehead, ‘Requisites for Social Progress,’ Science and the Modern World (New York, 1925), 289.

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Interminable disputes about whether or not design at the Kunstgewerbeschule of Basel is focused too much on form at the expense of other goals is to deny what Mies espoused: ‘Form is not the goal but the result of our work.’ Fads are governed by the same immutable laws of form as are other visual phenomena. Wishful thinking will not make them go away; and one can no more escape from the exigencies of form than from one’s shadow. To poke fun at form or formalism is to poke fun at Roger Fry, Clive Bell, John Dewey, and the philosophy called aesthetics. Ironically, it also pokes fun at trendy design, since the devices which characterize this style of ‘decoration’ are, primarily, formal. Furthermore, it denies what the great historian, painter, and architect of the Renaissance, Vasari,<sup>[9]</sup> had already stated about design (form): ‘It is the animating principle of all creative processes.’

                    .sidenoteRight 9 T.S.R. Boase, ‘The Critic,’ Giorgio Vasari (Washington, D.C., 1971), 124

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The quality of teaching in the university and art school is rarely taken to task. To teach in a university, practical experience, it seems, is not one of the prerequisites (at least, not long-term experience). Experience in the work place, and a thorough knowledge of the history of one’s specialization is indispensable, both for imparting information and for one’s well being. But such experience, with some exceptions, is rare among students as well as among faculty. Absence of these disciplines can only help perpetuate mediocrity, and insure the continual flow of questionable work in the marketplace.

                        But for the familiarity with a few obvious names and facts about the history of painting and design, history is a subject not taken too seriously. This does not imply that just because some work is a product of the past it is privileged, willy-nilly, to join the ranks of the immortals. The historical process is (or should be), a process of distillation and not accumulation. In a certain sense it is related to natural selection - survival of the fittest. Furthermore, to shun history is to reinvent the wheel — the probability of repeating what has already been done.

                        Gutenberg, Picasso, Cubism, Futurism, Lissitzsky and Tschichold are among the historical facts and figures that a student or teacher may be aware of. But what about the history of art pre-Renaissance, which is so well documented? What about the history of design, largely a product of journals and a few isolated books, which is not so well documented?

                        Even though artists of the 1890s, like Lautrec, Bonnard, and the Beggarstaff Brothers, may be familiar to some schools, designers of the 20s and 30s are little known. If the artist happens to wear two hats — a painter as well as a designer — more time is spent discussing the relative merits of ‘fine’ as opposed to ‘applied’ arts, than on intrinsic values. Mention of some of the Europeans (not necessarily linked with the avant-garde), whose work appeared in periodicals like Gebrauchsgraphik and Arts et Metiers Graphiques (before WW II) will probably be greeted with silence. With few exceptions, a blank stare is the usual reaction when some of these names are ticked off, from students and teachers alike.

                        This, by no means, is a complete roster: Ehmeke, Parzinger, Klinger, Arpke, Schulpig, Bernhard, Dexel, Buchartz, Leistikow, Zietara, Deffke, Mahlau, Goedecker, Ahlers, Hadank, Fuss, Koerner, Gipkens, Boehm, Corty, Garetto, Brissaud, Benito, Renner, Depero, Schleger, Koch, Schwichtenberg, Trump, Colin, Martin, Satomi, Scheurich, Boutz de Monvel, Berzny, Kozma — designers, illustrators, fashion artists, and others too numerous to list. And among Americans, in the 30s and 40s, there were Jensen, Trafton, Bobri, Sinel, Switzer, and others like McKnight Kauffer, who spent most of his life in England. Designers like Dwiggins or Gill occupy a different category.

                        The purpose of listing these names should not be seen as mere pedantry; rather it provides an opportunity to learn by example, by studying the work of an extraordinary number of out-of-the-ordinary talents.

                        Both in education and in business graphic design is often a case of the blind leading the blind. To make the classroom a perpetual forum for political and social issues for instance is wrong; and to see aesthetics as sociology, is grossly misleading. A student whose mind is cluttered with matters which have nothing directly to do with design; whose goal is to learn doing and making; who is thrown into the fray between learning how to use a computer, at the same time that he or she is learning design basics; and being overwhelmed with social problems and political issues is a bewildered student; this is not what he or she bargained for, nor, indeed, paid for.

                        ‘Schools are not intended to moralize a wicked world,’ says Barzun,<sup>[10]</sup> ‘but to impart knowledge and develop intelligence, with only two social ends in mind: prepare to take on one’s share in the world’s work and, perhaps in addition, lend a hand in improving society after schooling is done. Anything else is the nonsense we have been living with.’ Further on he continues, ‘All that such good samaritan courses amount to is pieties. They present moralizing mixed with anecdotes, examples of good and bad, discussions of that catch-all word ‘values.”…and finally, he admonishes, ‘Make the school a place for academic vocational instruction, not social reform…’<sup>[11</sup>

                    .sidenoteLeft 10 Jacques Barzun, ‘Ideas vs. Notions,’ Begin Here (Chicago, 1991), 50.
                        br
                        br
                        | Ibid., 208

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        This does not suggest that social or political issues are mere trivia. On the contrary, they are of real significance and deserve the kind of forum that is free of interference. Even though common decency implies continuing concern for human needs - social issues are not aesthetic issues, nor can they be the basis for aesthetic judgments. Where, for example, would Caravaggio, Lautrec, or even Degas be if work were judged on issues other than aesthetics? And where, today, would so many schools, studios, and advertising agencies be if important decisions depended on aesthetic priorities?

                        Coping with the problems relating to the understanding of design in business, depends a great deal on how well informed, genuinely interested, and experienced a businessman is. Managers responsible for design are chosen, not for their aesthetic judgments, nor for their impeccable taste, but for their administrative skills. Few, if any, understand the intricacies of design, or even the role, beyond the obvious, that design and designers play.

                        Most see the designer as a set of hands — a supplier — not as a strategic part of a business. Their background is primarily that of marketers, purchasing agents, or advertising specialists, not of connoisseurs of design. It is their uninformed, unfocused preferences or prejudices, their likes or dislikes that too often determine the look of things. Yet, much of the time, they are not even discriminating enough to distinguish between good and bad, between trendy and original, nor can they always recognize talent or specialized skills. In the field of design theirs is the dichotomy of being privileged but not necessarily being qualified — after all, design is not their business.

                        Bureaucrats largely responsible for the administration of design spend endless hours at meetings allegedly about design, in which miscellaneous subjects are discussed; and in which marketing, production, and administration problems are treated as if they were design problems. Whether or not the participants really understand the nature of the problems, or the implication of design, is questionable. If quality, for example, is the subject for discussion, it is dealt with only as an abstraction, with participants assuming the other person understands what is being discussed, when, in fact, nobody can be sure. Since perception is so intimately a part of taste and design, it is the experienced designer who might possibly point the way to meaningful solutions, and smooth the path for an administrator’s needs.

                        Even though there are comparatively few experienced and really innovative designers around, there are regrettably, even fewer administrators who are receptive to innovative work.

                        ##### Editor’s note:

                        Paul Rand is currently working on his third book, Design, Form, and Chaos, from which this essay is excerpted. Paul Rand; A Designer’s Art (Yale University Press) was published in 1985.

                        ##### End of an Era

                        After more than three decades, Paul Rand and Armin Hofmann have announced their resignations as professors in the graphic design graduate program at Yale University, citing differences with current school policy and curricula. They will continue to teach at Yale’s satellite in Brissago, Switzerland. Yale’s graphic design department was noted for its emphasis on formalism and its American and European Modernist professors. Rand and Hofmann represented the last of that unique faculty.






            //- /*-----  End of BODY  ------*/

        //- include ../../__MIXINS/_include-image-carousel.pug

        include ../../__MIXINS/_include-published-in.pug

        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug

        br(style="clear:both")
