extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Design and the Play Instinct'
    - var bodyID    = 'writing'
    - var bodyClass = 'articles'

block main-content
    - var imageHeaderBackground = 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965-450.jpg'

    - var publishedInTitle      = 'Education of Vision'
    - var publishedInSubtitle   = '1965'
    - var publishedInThumbnail  = []
    - publishedInThumbnail.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965.jpg', title: ''})
    - var library               = 'yes'
    - var libraryLink           = 'http://www.worldcat.org/oclc/692823'
    - var abe                   = 'yes'
    - var abeLink               = 'http://affiliates.abebooks.com/c/177653/77798/2029?u=http%3A%2F%2Fwww.abebooks.com%2Fservlet%2FSearchResults%3Fbi%3D0%26bx%3Doff%26ds%3D30%26servlet%3DImpactRadiusAffiliateLinkEntry%26sortby%3D17%26tn%3D%2522Education%2Bof%2BVision%2522'
    - var amazon                = 'yes'
    - var amazonLink            = 'http://amzn.to/1MeIYpi'
    - var modernism101          = 'no'
    - var modernism101Link      = 'CHANGE_ME'
    - var barnesnoble           = 'no'
    - var barnesnobleLink       = 'http://www.anrdoezrs.net/links/7937826/type/dlg/http://www.barnesandnoble.com/s/Education+of+Vision?_requestid=202146'
    - var ebay                  = 'yes'
    - var ebayLink              = 'https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575189232&campid=5337903203&mpre=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2050601.m570.l1313.TR0.TRC0.H0.X.TRS0%26_nkw%3DEducation%2Bof%2BVision%26_sacat%3D0'

    - var nextType              = 'Article'
    - var nextTitle             = 'Trademarks and Symbols of the World Preface'
    - var nextDate              = '1965'
    - var nextDescription       = 'From Yusaku Kamekura’s “Trademarks of the World”'
    - var nextLink              = '/writing/articles/trademarks-of-the-world-preface.html'


    - var relatedItemLink1      = '/writing/articles/observations-on-intuition.html'
    - var relatedItemTitle1     = 'Observations on Intuition'
    - var relatedItemFootnote1  = 'Originally published in “STA Design Journal”, 1987'

    - var relatedItemLink2      = '/writing/articles/the-politics-of-design.html'
    - var relatedItemTitle2     = 'The Politics of Design'
    - var relatedItemFootnote2  = 'from “A Designer’s Art”'

    - var relatedItemLink3      = '/writing/articles/language-of-art.html'
    - var relatedItemTitle3     = 'Language of Art'
    - var relatedItemFootnote3  = 'Contributed by John Maeda'

    - var imageCarouselTitle    = 'The Original ' + nextType
    - var imageCarouselSubtitle = 'CHANGE_ME'
    - var imageCarousel         = []
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2001-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2001.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2002-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2002.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2003-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2003.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2004-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2004.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2005-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2005.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2006-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2006.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2007-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2007.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2008-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2008.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2009-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2009.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2010-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2010.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2011-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2011.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2012-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2012.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2013-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2013.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2014-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2014.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2015-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2015.jpg', title: ''})
    - imageCarousel.push({linkSm: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2016-450.jpg', linkLg: 'https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965%2016.jpg', title: ''})


    .progress-container
        .progress-bar

    //- ===============================================
    //- =            FULL WIDTH IMAGE HEADER            =
    //- ===============================================
    .wrapper-parallax
        .imageHeader-full
            h1(data-aos="fade-up")!= pageTitle

            :markdown-it(html typographer plugins=['markdown-it-sup'])
                This version of the article was originally published in “Education of Vision”, 1965.

            //- a.button.white.text-caps.radius.down-arrow#original-article-link.bottomAlign(data-aos="fade-up") View the Original #{nextType}

            img(src=imageHeaderBackground)


        //- -----  End of FULL WIDTH IMAGE HEADER  ------
    .cd-main-content
        .grid-container


            //- ==========  BODY  ==========

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    p.footnote.text-center
                        | Estimated reading time: 
                        span.text-bold.reading-time
                        |   |  Select text to share via Facebook, Twitter or Email
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The absence in art of a well-formulated and systematized body of literature makes the problem of teaching a perplexing one. The subject is further complicated by the elusive and personal nature of art. Granted that a student’s ultimate success will depend largely on his natural talents, the problem still remains: how best to arouse his curiosity, hold his attention, and engage his creative faculties.

                        Through trial and error, I have found that the solution to this enigma rests, to a large extent, on two factors: the kind of problem chosen for study, and the way in which it is posed. I believe that if, in the statement of a problem, undue emphasis is placed on freedom and self expression, the result is apt to be an indifferent student and a meaningless solution. Conversely, a problem with defined limits, implied or stated disciplines which are, in turn, conducive to the instinct of play, will most likely yield an interested student and, very often, a meaningful and novel solution.

                        Of the two powerful instincts which exist in all human beings and which can be used in teaching, says Gilbert Highet, one is the love of play.” The best Renaissance teachers, instead of beating their pupils, spurred them on by a number of appeals to the play-principle. They made games out of the chore of learning difficult subjects—Montaigne’s father, for instance, started him in Greek by writing the letters and the easiest words on playing cards and inventing a game to play with them.”<sup>[1]</sup>

                    .sidenoteLeft 1 Gilbert Highet, The Art of Teaching, Alfred A. Knopf, New York (1950), p.194

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Depending on the nature of the problem, some or all of the psychological and intellectual factors implicit in game-playing are equally implicit in successful problem-solving:

                    .grid-x.grid-margin-x.align-center
                        .large-4.medium-3.small-12.cell
                            ul
                                li motivation
                                li competition
                                li challenge
                                li stimulus
                                li goal
                                li promise
                                li anticipation
                                li interest
                                li curiosity
                                li skill

                        .large-4.medium-3.small-12.cell
                            ul
                                li observation
                                li analysis
                                li perception
                                li judgment
                                li improvisation
                                li coordination
                                li timing
                                li concentration
                                li abstraction
                                li discretion

                        .large-4.medium-3.small-12.cell
                            ul
                                li discrimination
                                li economy
                                li patience
                                li restraint
                                li exploitation
                                li excitement
                                li enjoyment
                                li discovery
                                li reward
                                li fulfillment

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Without the basic rules or disciplines, however, there is no motivation, test of skill, or ultimate reward—in short, no game. The rules are the means to the end, the conditions the player must understand thoroughly, and work with, in order to participate. For the student, the limits of a well-stated problem operate in much the same way. “Limited means,” says Braque, “beget new forms, invite creation, make the style. Progress in art does not lie in extending its limits, but in knowing them better.”<sup>[2]</sup>

                    .sidenoteRight 2 Cahier de Georges Braque, Maeght Editeur, Paris (1947)

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Unfortunately, in some of our schools little attempt is made to guide the student’s thinking in a logical progression from basic design to applied design. We are all familiar with the so-called practical problems which attempt to duplicate the conditions of industry-the atmosphere of the advertising agency, for example. Such problems are frequently stated in the broadest terms with emphasis, if any, on style and technique in advertising, rather than on interpreting advertising in terms of visual design principles.

                        Without specific formal limitations, without the challenging possibilities of introducing the element of play, both teacher and student cannot help but be bored. The product may take the form of a superficial (but sometimes “professional looking”) literal translation of the problem, or of a meaningless abstract pattern or shape, which, incidentally, may be justified with enthusiasm but often with specious reasoning.

                        Similarly, there are badly stated problems in basic design, stressing pure aesthetics, free expression, without any restraints or practical goals. Such a problem may be posed in this fashion: arrange a group of geometric shapes in any manner you see fit, using any number of colors, to make a pleasing pattern. The results of such vagaries are sometimes pretty, but mostly meaningless or monotonous. The student has the illusion of creating great art in an atmosphere of freedom, when in fact he is handicapped by the absence of certain disciplines which would evoke ideas, make playing with those ideas possible, work absorbing, and results interesting.

                        The basic design problem, properly stated, is an effective vehicle for teaching the possibilities of relationships: harmony, order, proportion, number, measure, rhythm, symmetry, contrast, color, texture, space. It is an equally effective means for exploring the use of unorthodox materials and for learning to work within specific limitations.

                        To insure that theoretical study does not end in a vacuum, practical applications of the basic principles gleaned from this exercise should be undertaken at the proper time (they may involve typography, photography, page layout, displays, symbols, etc.). The student learns to conceptualize, to associate, to make analogies; to see a sphere, for example, transformed into an orange, or a button into a letter, or a group of letters into a broad picture. “The pupils,” says Alfred North Whitehead, “have got to be made to feel they are studying something, and are not merely executing intellectual minuets.”<sup>[3]</sup>

                    .sidenoteLeft 3 Alfred North Whitehead, The Aims of Education, Mentor, New York (1949), p.21

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        If possible, teaching should alternate between theoretical and practical problems-and between those with tightly stated “rules” imposed by the teacher and those with rules implied by the problem itself. But this can happen only after the student has been taught basic disciplines and their application. He then is able to invent his own system for “playing the game”. “A mind so disciplined should be both more abstract and more concrete. It has been trained in the comprehension of abstract thought and in the analysis of facts.”<sup>[4]</sup>

                    .sidenoteRight 4 Ibid., p.24

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        There are many ways in which the play-principle serves as a base for serious problem-solving, some of which are discussed here. These examples indicate, I believe, the nature of certain disciplines and may suggest the kind of problems which will be useful to the student as well as to the teacher of design.


                    .w100.small-my4.small-mx0
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_01.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_01.svg"
                        )


                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The crossword puzzle is a variation on the acrostic, a word game that has been around since Roman times. There have been many reasons given for the popularity of the game. One is that it fulfills the human urge to solve the unknown, another that it is orderly, a third that it represents, according to the puzzle editor of the New York Times, “a mental stimulation… and exercise in spelling and vocabulary-building”.<sup>[5]</sup> But the play in such a game is limited to finding the exact word to fit a specific number of squares in a vertical and horizontal pattern. It allows for little imagination and no invention or aesthetic judgment, qualities to be found in abundance, for example, in the simple children’s game, the Tangram.

                    .sidenoteLeft 5 The New York Times Magazine, December 15, 1963



                    .w100.small-my4.small-mx0
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_02.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_02.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The Tangram is an ingenious little Chinese toy in which a square is divided into this configuration. It consists of seven pieces, called “tans”: five triangles, one square, and one rhombus. The rules are quite simple: rearrange to make any kind of figure or pattern.

                        Here above is one possibility. Many design problems can be posed with this game in mind, the main principle to be learned being that of economy of means-making the most of the least. Further, the game helps to sharpen the powers of observation through the discovery of resemblances between geometric and natural forms. It helps the student to abstract: to see a triangle, for example, as a face, a tree, an eye, a nose, depending on the context in which the pieces are arranged. Such observation is essential in the study of visual symbols.



                    .float-right.medium-ml2.medium-mrn4.medium-my2.w50.small-mx0
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_03.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_03.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        This drawing is reproduced from the first volume of Hokusai’s Rapid Lessons in Abbreviated Drawing (Riakougwa Hayashinan, 1812). In the book Hokusai shows how he uses geometric shapes as a guide in drawing certain birds. This exercise may be compared to the Tangram in that both use geometric means. The Tangram, however, uses geometry as an end in itself to indicate or symbolize natural forms-whereas Hokusai uses it as a clue or guide to illustrate them. In the artist’s own words, his system “concerns the manner of making designs with the aid of a ruler or compass, and those who work in this manner will understand the proportion of things”.

                    .float-left.medium-mr3.medium-mln4.medium-my2.w50
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_04.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_04.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        This character for the word “tan” (sunrise) is designed within an imaginary grid. Geometry functions here in a manner similar to the previous illustration, namely as a guide to filling the space correctly, but not to produce a geometric pattern.

                        The Chinese character is always written in an imaginary square. The ninefold square, invented by an anonymous writer of the T’ang dynasty, has been employed as the most useful, because it prevents rigid symmetry and helps to achieve balanced asymmetry.<sup>[6]</sup> At the same time it makes the writer aware of negative and positive spaces. Each part of the character touches one of the nine squares, thus achieving harmony between the two elements and the whole.

                    .sidenoteRight 6 Chiang Yee, Chinese Calligraphy, Methuen & Co., Ltd., London (1938), p.167

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Within this rather simple discipline the calligrapher is able to play with space, filling it as he feels would be most appropriate. The composition of Chinese characters, says Chiang Yee, “is not governed by inviolable laws… however, there are general principles which cannot be ignored with impunity”.<sup>[7]</sup>

                    .sidenoteLeft 7 Ibid., p.166.

                    .w100.small-my4.small-mx0
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_05.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_05.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The Modulor is a system based on a mathematical key. Taking account of the human scale, it is a method of achieving harmony and order in a given work.

                        In his book, The Modulor, Le Corbusier describes his invention as “a measuring tool (the proportions) based on the human body (6-foot man) and on mathematics (the golden section). A man-with-arm-upraised provides, at the determining points of his occupation of space-foot, solar plexus, head, tips of fingers of the upraised arm-three intervals which give rise to a series of golden sections, called the Fibonacci series.”<sup>[8]</sup> (1, 1, 2,3,5,8, 13, etc.) (Italics are mine.)

                    .sidenoteRight 8 Le Corbusier, The Modulor, Harvard University Press (1954), p.55

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    .float-left.medium-mr3.medium-mln4.medium-my2.w66
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_06.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_06.svg"
                        )

                    p.w50 The Modulor is a discipline which offers endless variations and opportunities for play. Le Corbusier’s awareness of these potentialities is evident from the numerous references to the game and play in his book, such as: “AlI this work on proportioning and measures is the outcome of a passion, disinterested and detached, an exercise, a game.”
                        sup [9] 
                        | Further, he goes on to say, “for if you want to play modular…”
                        sup [10] 



            .sidenoteLeft 9 Ibid., p.80
                p
                | 10 Ibid., p.101

            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        In comparison to most so-calIed systems of proportion, the Modulor is perhaps the least confining. The variations, as wilI be seen from this ilIustration, are practicalIy inexhaustible (and this example utilizes only a very limited number of possibilities). If, however, the system presents any difficulties which happen to go counter to one’s intuitive judgment, Le Corbusier himself provides the answer: “I still reserve the right at any time to doubt the solutions furnished by the Modulor, keeping intact my freedom which must depend solely on my feelings rather than on my reason.”<sup>[11]</sup>

                    .sidenoteRight 11 Ibid., p.63


                    .float-right.medium-ml2.medium-mrn4.medium-my2.w50
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_07.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_07.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Like the architect’s plan, the grid system employed by the graphic designer provides for an orderly and harmonious distribution of miscellaneous graphic material. It is a system of proportions based on a module, the standard of which is derived from the material itself. It is a discipline imposed by the designer.

                        Unlike the Modulor, it is not a fixed system based on a specific concept of proportion, but one which must be custom-made for each problem. Creating the grid calls for the ability to classify and organize miscellaneous material, with sufficient foresight to allow for flexibility in handling content which may, for one reason or another, be altered. The grid must define the areas of operation and provide for different techniques, pictures, text, space between text and pictures, columns of text, page numbers, picture captions, headings and other miscellaneous items.

                        Here is a simple grid system for a booklet. Devising such a grid involves two creative acts: developing the pattern that is suitable for the given material and arranging this material within the pattern. In a sense, the creative ability required for the former is no less than that for the latter, because the making of the grid necessitates analyzing simultaneously all the elements involved. But once it is evolved, the designer is free to play to his heart’s content: with pictures, type, paper, ink, color, and with texture, scale, size and contrast.


                    .float-left.medium-mr2.medium-mln4.medium-my2.w66
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_08.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_08.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The grid, then, is the discipline which frees him from the time-consuming burden of making certain decisions (dimensions, proportions) without which fruitful and creative work is extremely difficult. He can move directly to those aspects of the problem in which individual expression, novel ideas, and freedom of choice are essential.

                        The grid system has as many detractors as it has adherents. It has been condemned as stifling, rigid and cold. But this is to confuse the product with the process. The grid does not automatically insure an exciting product. The designer must still exercise all the experience at his command, discretion, timing, and a sense of drama and sequence. In brief, the intelligent designer will recognize that the grid can help him achieve harmony and order, but also that it may, when and if necessary, be abandoned.

                        In addition to those already discussed, variations of the geometric plan are to be found, among other places, in Japanese architecture, modern painting, and in Byzantine masons’ marks, such as the seal at left. This seal “employs a mathematical key as its design basis. The thick lines represent the mark, the thin lines represent the ground lattice which allows an infinite number of combinations.”<sup>[12]</sup> The geometric scheme is the discipline in which the designer works. Designs stemming from such a scheme are limited only by his imagination.

                    .sidenoteRight 12 Matila Ghyka, The Geometry of Art and Life, Sheed & Ward, New York (1946), p.120


                    .w100.small-my3.small-mx0
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_09.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_09.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Much of the painting of Josef Albers is based on this geometric pattern. The pattern is not used, however, in the same manner as the masons’ lattice. Here it is the painting itself. It represents a strict, immutable arrangement (theme) in which the artist, by juxtaposing colors (variations) plays the fascinating game of deceiving the eye. The squares as we see them here appear to recede into the picture plane. However, by skillful manipulation of colors, the painting flattens out and is thus seen as a two-dimensional picture.

                        The many variations based on this and similar designs attest to the fascination the artist finds from the interplay of a great variety of color schemes and an extremely limited geometric format.


                    .float-right.medium-ml2.medium-mrn4.medium-my2.w50
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_10.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_10.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The kind of grid employed by Japanese architects in their traditional houses combines the virtues of determining the size of various rooms in the house, floors, walls, furniture, etc., and creating the style and appearance of the house. The Tatami, a straw mat approximately 3 by 6 feet and 2 inches thick, is the module or standard from which the plan of the house grows. Edward S. Morse, in his book, Japanese Homes, describes the mat system as follows: “The architect invariably plans his rooms to accommodate a certain number of mats; and since these mats have a definite size, any indication on the plan of the number of mats a room is to contain gives at once its dimensions also. The mats are laid in the following numbers: two, three, four-andone-half, six, eight, ten, twelve, fourteen, sixteen, and so on.” <sup>[13]</sup> This illustration shows the “plan” of a four and-one-half mat room. Once the outer dimensions of the house are determined, the mats, together with the Japanese system of sliding doors, give complete flexibility in the arrangement and number of rooms. A perfect example of form and function, of discipline and play.

                    .sidenoteLeft 13 Edward S. Morse, Japanese Homes, Ticknor & Co., Boston (1885), p.122


                    .w100.small-my3.small-mx0
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_11.svg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct_11.svg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        There are disciplines other than those based on geometry, among them availability of materials, reproduction processes, mechanical limitations, economic considerations, legal requirements, time factors, physical handicaps. Some of these are self-imposed, others are involuntary, but in the hands of the artist each may contribute to, rather than detract from, the end product.

                        It is inconceivable to consider Matisse’s compositions with cut paper without, in some way, linking them to the play element—the joy of working with simple colors and the fun of “cutting paper dolls”. But the greatest satisfaction, perhaps, is derived from creating a work of art with ordinary scissors and some colored paper—with so simple means, such satisfying ends.


                    .float-left.medium-mr2.medium-mln4.medium-my2.w66
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct12b.jpg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct12b.jpg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        Similarly, the early Cubist collages, in which cut paper played an important part, are products of strict rules, limited materials: newspaper mounted on a surface, with the addition of a few charcoal or pencil lines, usually in black and white and sometimes with tan or brown or similarly muted colors. These elements were juggled until they satisfied the artist’s eye. The playfulness and humor in the production of some of these compositions in no way detracts from the end result—a serious work of art.

                        One cannot underestimate the importance of restraint and playfulness in almost any phase of Picasso’s work. Here, for example, one sees a restrained use of the brush and one flat color. The drawing of the child’s face, the ornament and the lettering are all one. Lettering is not used as a complement to the drawing, but as an integral part of the drawing. It serves as both a garland and a verbal image—a visual pun. What emerges is a kind of game itself, revealing the ingenuity and playfulness of the artist, his ability to deal with problems in the simplest, most direct, and meaningful manner.


            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content.

                    p.w50 Similarly, this ability to do much with little—to find a bull’s head in a bicycle seat and handle bars—is another aspect of Picasso’s wizardry, his humor, his childlike spontaneity, his skill as a punster and ability to improvise and invent with limited, often surprising means.

                    .float-right.medium-ml2.medium-mrn4.medium-my2.w50
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct13b.jpg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct13b.jpg"
                        )

            .grid-x.grid-margin-x.align-center.small-my3
                .large-7.medium-10.small-12.cell.entry-content.
                    .medium-mr3.medium-mln4.w66
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct14b.jpg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct14b.jpg"
                        )

                    p.w50 This monochrome, Persimmons, by Mu Ch’i, a thirteenth century Zen priest and painter, is a splendid example of a painting in which the artist plays with contrasts (the male and female principle in Chinese and Japanese painting): rough and smooth, empty and full, one and many, line and mass, black and white, tint and shade, up and down. It is a study in the metamorphosis of a fruit, as well as of a painting. (The artist, incidentally, never used any color but black.)



            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The reader may find a parallel, at least in spirit, between this painting and the preceding one by Picasso. Both employ a single color, and exploit this limitation to achieve as much variety as possible, and both undoubtedly were painted very rapidly, a condition often conducive to utmost simplification and improvisation.

                    .w100.small-my3.small-mx0
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct15.jpg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct15.jpg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        In modern times artists like Man Ray and MoholyNagy, working with the most limited photographic means, the photogram, created highly significant pictures. This technique offers the artist ample opportunity to play with light and a great variety of materials, opaque, translucent, and transparent, to produce, very rapidly, rich and unexpected effects.

                        The photogram, at the left, made by the writer some years ago, shows how simply one is able to capture movement and achieve interesting tonal effects. Because the technique itself dictates a certain degree of speed the time factor becomes an additional discipline, which acts as a creative stimulus.



            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content.
                    .float-left.medium-mr2.medium-mln4.medium-my2.w100
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct16.jpg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct16.jpg"
                        )

                    p.w50 The de Stijl movement, founded in 1917, had a profound influence on painting, architecture, and typography. Piet Zwart, the designer responsible for this advertisement for the Dutch firm Nederlansche Kabelfabriek, was associated with this group.
                        br
                        br
                        | The disciplines which de Stijl encouraged—functional use of material and meaningful form, and the restrained use of color (black and/or primary colors)—are evident in this design. With a few simple typographic elements and an ingenious play on the letter “O”, a humorous, yet significant design was evolved. A picture is created by typographic means: a few type characters and type rules are so manipulated as to make a useful product, an advertisement. Many examples of this artist’s work reveal this same playful approach and are worthy of serious study.



            .grid-x.grid-margin-x.align-center
                .large-7.medium-10.small-12.cell.entry-content
                    .float-right.medium-ml2.medium-mrn4.medium-my2.w50
                        +imageZoomSingle("https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct17-450.jpg",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Design%20and%20the%20Play%20Instinct/Web/playInstinct17.jpg"
                        )

                    :markdown-it(html typographer plugins=['markdown-it-sup'])
                        The earth colors of Africa, the ice of the polar regions, the bamboo of Japan, are among the many challenging materials with which artists and artisans create their idols, their utensils, and their houses—all natural limitations which provide their own built-in disciplines which, in turn, contribute to the creative solution.

                        Some years ago in Kyoto I was fortunate enough to witness a young Japanese craftsman make the “chasen” you see here. It is a whisk used in the tea ceremony and is cut from a single piece of bamboo with a simple tool resembling a penknife. Both the material and manufacturing process (about one-half hour) are the quintessence of discipline, simplicity and restraint. The invention of such an article could not possibly have been achieved by anyone lacking the ability to improvise and the patience to play with a specific material: to see the myriad possibilities and discover the ideal form.

                        It has not been the purpose of this discussion to provide a glossary of disciplines or recipes, but merely to indicate the virtue of the challenge implicit in discipline. “I demand of art”, says Le Corbusier, “the role of the challenger… of play and interplay, play being the very manifestation of the spirit.”<sup>[14]</sup>

                    .sidenoteLeft 14 Le Corbusier, op.cit., p.220


            //- /*-----  End of BODY  ------*/

        include ../../__MIXINS/_include-image-carousel.pug

        include ../../__MIXINS/_include-published-in.pug

        include ../../__MIXINS/_include-next-item.pug

        include ../../__MIXINS/_include-social-media.pug

        br(style="clear:both")
