extends ../../__MIXINS/_layout-default.pug
include ../../__MIXINS/_mixins.pug

block vars
    - var pageTitle = 'Articles by Paul Rand'
    - var bodyID    = 'writing'
    - var bodyClass = 'articles'

block main-content
    .cd-main-content

        //- ======================================
        //- =            ARTICLES BY PAUL RAND           =
        //- ======================================

        .grid-container
            .grid-x.grid-margin-x
                .small-12.cell
                    h1.text-center.small-mb2.medium-mb3.large-mb3.reveal-enter-bottom!= pageTitle

                    +listItem-thumb(
                        "black-in-the-visual-arts.html",
                        "https://assets.paulrand.design/Writing/Articles/1949%20Black%20in%20the%20Visual%20Arts/Web/Graphic%20Forms-%20The%20Arts%20as%20Related%20to%20the%20Book-450.jpg",
                        "Black in the Visual Arts",
                        "1949",
                        "Originally published in “Graphic Forms: The Arts as Related to the Book”, Harvard University Press."
                    )

                    +listItem-thumb(
                        "posters.html",
                        "https://assets.paulrand.design/Writing/Articles/1952%20Posters-%20Fifty%20artists%20and%20designers%20analyze%20their%20approach%e2%80%a6/Web/Posters-%20Fifty%20artists%20and%20designers%20analyze%20their%20approach,%20cover-450.jpg",
                        "Posters",
                        "1952",
                        "Originally published in “Posters: Fifty artists and designers analyze their approach, their methods, and their solutions to poster design and poster advertising”."
                    )

                    +listItem-thumb(
                        "design-for-point-of-sale.html",
                        "https://assets.paulrand.design/Writing/Articles/1952%20Design%20for%20Point%20of%20Sale/Web/Design%20for%20Point%20of%20Sale%2001-450.jpg",
                        "P-O-S devices and advertising linked together by a symbol",
                        "1952",
                        "Originally published in “Design for Point of Sale” by Ladislav Sutnar."
                    )

                    +listItem-thumb(
                        "gene-and-helen-federico.html",
                        "https://assets.paulrand.design/Writing/Articles/1952%20Gene%20and%20Helen%20Federico/Web/Graphis%2043%201952%2001-450.jpg",
                        "Gene & Helen Federico",
                        "1952",
                        "Originally published in Graphis 43, 1952."
                    )

                    +listItem-thumb(
                        "the-trademark-as-an-illustrative-device.html",
                        "https://assets.paulrand.design/Writing/Articles/1952%20The%20Trademark%20as%20an%20Illustrative%20Device/Web/illustrative00-450.jpg",
                        "The Trademark as an Illustrative Device",
                        "1952",
                        "Originally published in “Seven Designers Look At Trademark Design”."
                    )

                    +listItem-thumb(
                        "ideas-about-ideas.html",
                        "https://assets.paulrand.design/Writing/Articles/1955%20Ideas%20About%20Ideas/Web/Industrial%20Design%2C%20August%201955-450.jpg",
                        "Ideas About Ideas",
                        "1955",
                        "Originally published in “Industrial Design Magazine”."
                    )

                    +listItem-thumb(
                        "advertisement-ad-vivum-or-ad-hominem.html",
                        "https://assets.paulrand.design/Writing/Articles/1960%20Advertisement-%20Ad%20Vivum%20or%20Ad%20Hominem/Web/The%20Visual%20Arts%20Today%201960-450.jpg",
                        "Advertisement: Ad Vivum or Ad Hominem?",
                        "1960",
                        "By Paul and Ann Rand, originally published in a special issue of “Daedalus: The Visual Arts Today”."
                    )

                    +listItem-thumb(
                        "the-art-of-the-package.html",
                        "https://assets.paulrand.design/Writing/Articles/1960%20The%20Art%20of%20the%20Package/Web/PRINT%2C%20January-February%201960-450.jpg",
                        "The Art of the Package",
                        "1960",
                        "Originally published in PRINT: January/February, 1960."
                    )

                    +listItem-thumb(
                        "modern-typography-in-the-modern-world.html",
                        "https://assets.paulrand.design/Writing/Articles/1964%20Modern%20Typography%20in%20the%20Modern%20World/Web/Modern%20Typography%20in%20the%20Modern%20World-450.jpg",
                        "Modern Typography in the Modern World",
                        "1964",
                        "Originally published in PRINT: January/February, 1964."
                    )

                    +listItem-thumb(
                        "design-and-the-play-instinct.html",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Education%20of%20Vision/Web/Education%20of%20Vision%201965-450.jpg",
                        "Design and the Play Instinct",
                        "1965",
                        "Originally published in “Education of Vision”."
                    )

                    +listItem-thumb(
                        "trademarks-of-the-world-preface.html",
                        "https://assets.paulrand.design/Writing/Articles/1965%20Trademarks%20and%20Symbols%20of%20the%20World/Trademarks%20of%20the%20World-04-450.jpg",
                        "Trademarks and Symbols of the World Preface",
                        "1965",
                        "Originally published in “Trademarks of the World”."
                    )

                    +listItem-thumb(
                        "integrity-and-invention.html",
                        "https://assets.paulrand.design/Writing/Articles/1971%20Integrity%20and%20Invention/Web/Graphis%20Annual%201971-72-450.jpg",
                        "Integrity and Invention",
                        "1971",
                        "Graphis Magazine introduction."
                    )

                    +listItem-thumb(
                        "hans-schleger.html",
                        "https://assets.paulrand.design/Writing/Articles/1977%20Hans%20Schleger/Web/Graphis%20188%201977%20Hans%20Schleger%2001-450.jpg",
                        "Hans Schleger",
                        "1977",
                        "A touching tribute to design legend Hans Schleger."
                    )

                    +listItem-thumb(
                        "on-the-rca-ad.html",
                        "https://assets.paulrand.design/Writing/Articles/1981%20The%20Design%20Concept/Web/The%20Design%20Concept%2C%201981-450.jpg",
                        "On the RCA Ad",
                        "1981",
                        "Originally published in “The Design Concept”."
                    )

                    +listItem-thumb(
                        "the-politics-of-design.html",
                        "https://assets.paulrand.design/Writing/Books/1985%20A%20Designer%E2%80%99s%20Art/jpegs/designers%20art%20front-450.jpg",
                        "The Politics of Design",
                        "1985",
                        "Originally published in “A Designer’s Art”."
                    )

                    +listItem-thumb(
                        "observations-on-intuition.html",
                        "https://assets.paulrand.design/Writing/Articles/1987%20Observations%20on%20Intuition,%20STA%20Design%20Journal/Web/observationsOnIntuition00-450.jpg",
                        "Observations on Intuition",
                        "1987",
                        "Originally published in the “STA Design Journal”."
                    )

                    +listItem-thumb(
                        "the-case-for-the-ampersand.html",
                        "https://assets.paulrand.design/Writing/Articles/1989%20The%20Case%20for%20the%20Ampersand/The%20Case%20For%20The%20Ampersand%20NYTimes-com-450.jpg",
                        "The Case for the Ampersand",
                        "1989",
                        "A critical review of Eric Gill’s “An Essay on Typography”."
                    )

                    +listItem-thumb(
                        "logos-flags-and-escutcheons.html",
                        "https://assets.paulrand.design/Writing/Articles/1991%20Logos%2C%20Flags%2C%20and%20Escutcheons/Web/Looking%20Closer-450.jpg",
                        "Logos, Flags, and Escutcheons",
                        "1991",
                        "AIGA article by Paul Rand."
                    )

                    +listItem-thumb(
                        "confusion-and-chaos-the-seduction-of-contemporary-graphic-design.html",
                        "/img/na.gif",
                        "Confusion and Chaos: The Seduction of Contemporary Graphic Design",
                        "1992",
                        "Originally published in the AIGA Journal of Graphic Design, Volume 10, Number 1, 1992."
                        )

                    +listItem-thumb(
                        "object-lessons.html",
                        "https://assets.paulrand.design/Writing/Articles/1993%20Object%20Lessons/NewCriterion-1993feb-450.jpg",
                        "Object Lessons",
                        "1993",
                        "Originally published in The New Criterion."
                        )

                    +listItem-thumb(
                        "failure-by-design.html",
                        "https://assets.paulrand.design/Writing/Articles/1993%20Failure%20by%20Design/Web/failureByDesign00-450.jpg",
                        "Failure by Design",
                        "1993",
                        "Originally published in the New York Times."
                    )

                    +listItem-thumb(
                        "language-of-art.html",
                        "https://assets.paulrand.design/Writing/Books/1996%20From%20Lascaux%20to%20Brooklyn/Web/From%20Lascaux%20to%20Brooklyn%2C%20front-450.jpg",
                        "Language of Art",
                        "1996",
                        "An addendum article to Lascaux to Brooklyn. Contributed by John Maeda."
                    )



        //- /*-----  End of GALLERY MEDIUM  ------*/
