a(href="index.html")
	img.logo(src="img/logo.svg")
header.cd-main-header
	.cd-logo
		.nameBlock.hide-for-small
			.name Paul Rand
			.dates 1914-1996
		ul.cd-header-buttons
			li
				a.cd-search-trigger(href='#cd-search')
					//- | Search
					span
			li
				a.cd-nav-trigger(href='#cd-primary-nav')
					//- | Menu
					span

.cd-overlay
nav.cd-nav
	ul#cd-primary-nav.cd-primary-nav.is-fixed
		li.has-children
			a(href='#') Life
			ul.cd-secondary-nav.is-hidden
				li.go-back
					a(href='#0') Menu
				li.has-children
					a(href='#') Biography and Timeline
					
						
				li.has-children
					a(href='#') Articles and Books
					ul.is-hidden
						li.go-back
							a(href='#0') Menu

						li.has-children
							a(href='#0') Articles
							ul.is-hidden
								li.go-back
									a(href='#0') Article Title Here
								li
									a(href='#') Article Title Here
								li
									a(href='#') Article Title Here
								li
									a(href='#') Article Title Here
								li
									a(href='#') Article Title Here
						li
							a(href='#0') Books

				li.has-children
					a(href='#') Portraits
					ul.is-hidden
						li.go-back
							a(href='#0') Clothing
						li
							a(href='#') Blazers
						li
							a(href='#') Bomber jackets
						li
							a(href='#') Denim Jackets
						li
							a(href='#') Duffle Coats
						li
							a(href='#') Leather Jackets
						li
							a(href='#') Parkas
				li.has-children
					a(href='#') The Rand House
					ul.is-hidden
						li.go-back
							a(href='#0') Clothing
						li
							a(href='#') Cardigans
						li
							a(href='#') Coats
						li
							a(href='#') Hoodies &amp; Sweatshirts
						li
							a(href='#') Jumpers
						li
							a(href='#') Polo Shirts
						li
							a(href='#') Shirts

				li.has-children
					a(href='#') Inspirations
					ul.is-hidden
						li.go-back
							a(href='#0') Clothing
						li
							a(href='#') Cardigans
						li
							a(href='#') Coats
						li
							a(href='#') Hoodies &amp; Sweatshirts
						li
							a(href='#') Jumpers
						li
							a(href='#') Polo Shirts
						li
							a(href='#') Shirts

				li.has-children
					a(href='#') Personal Items
					ul.is-hidden
						li.go-back
							a(href='#0') Clothing
						li
							a(href='#') Cardigans
						li
							a(href='#') Coats
						li
							a(href='#') Hoodies &amp; Sweatshirts
						li
							a(href='#') Jumpers
						li
							a(href='#') Polo Shirts
						li
							a(href='#') Shirts
							
		li.has-children
			a(href='#') Work
			ul.cd-secondary-nav.is-hidden
				li.go-back
					a(href='#0') Menu
				li.has-children
					a(href='#') Accessories
					ul.is-hidden
						li.go-back
							a(href='#0') Clothing
						li.has-children
							a(href='#0') Beanies
							ul.is-hidden
								li.go-back
									a(href='#0') Accessories
								li
									a(href='#') Caps &amp; Hats
								li
									a(href='#') Gifts
								li
									a(href='#') Scarves &amp; Snoods
						li.has-children
							a(href='#0') Caps &amp; Hats
							ul.is-hidden
								li.go-back
									a(href='#0') Accessories
								li
									a(href='#') Beanies
								li
									a(href='#') Caps
								li
									a(href='#') Hats
						li
							a(href='#') Glasses
						li
							a(href='#') Gloves
						li
							a(href='#') Jewellery
						li
							a(href='#') Scarves
						li
							a(href='#') Wallets
						li
							a(href='#') Watches
					li.has-children
						a(href='#') Bottoms
						ul.is-hidden
							li.go-back
								a(href='#0') Clothing
							li
								a(href='#') Casual Trousers
							li.has-children
								a(href='#0') Jeans
								ul.is-hidden
									li.go-back
										a(href='#0') Bottoms
									li
										a(href='#') Ripped
									li
										a(href='#') Skinny
									li
										a(href='#') Slim
									li
										a(href='#') Straight
							li
								a(href='#0') Leggings
							li
								a(href='#0') Shorts

		li.has-children
			a(href='#') Writing
			ul.cd-secondary-nav.is-hidden
				li.go-back
					a(href='#0') Menu
				li.has-children
					a(href='#') Accessories
					ul.is-hidden
						li.go-back
							a(href='#0') Clothing
						li.has-children
							a(href='#0') Beanies
							ul.is-hidden
								li.go-back
									a(href='#0') Accessories
								li
									a(href='#') Caps &amp; Hats
								li
									a(href='#') Gifts
								li
									a(href='#') Scarves &amp; Snoods
						li.has-children
							a(href='#0') Caps &amp; Hats
							ul.is-hidden
								li.go-back
									a(href='#0') Accessories
								li
									a(href='#') Beanies
								li
									a(href='#') Caps
								li
									a(href='#') Hats
						li
							a(href='#') Glasses
						li
							a(href='#') Gloves
						li
							a(href='#') Jewellery
						li
							a(href='#') Scarves
						li
							a(href='#') Wallets
						li
							a(href='#') Watches
					li.has-children
						a(href='#') Bottoms
						ul.is-hidden
							li.go-back
								a(href='#0') Clothing
							li
								a(href='#') Casual Trousers
							li.has-children
								a(href='#0') Jeans
								ul.is-hidden
									li.go-back
										a(href='#0') Bottoms
									li
										a(href='#') Ripped
									li
										a(href='#') Skinny
									li
										a(href='#') Slim
									li
										a(href='#') Straight
							li
								a(href='#0') Leggings
							li
								a(href='#0') Shorts
		
		//- li.has-children
			a(href='#') Gallery
			ul.cd-nav-gallery.is-hidden
				li.go-back
					a(href='#0') Menu
				li.see-all
					a(href='#') Browse Gallery
				li
					a.cd-nav-item(href='#')
						img(src='http://placehold.it/300x200', alt='Product Image')
						h3 Product #1
				li
					a.cd-nav-item(href='#')
						img(src='http://placehold.it/300x200', alt='Product Image')
						h3 Product #2
				li
					a.cd-nav-item(href='#')
						img(src='http://placehold.it/300x200', alt='Product Image')
						h3 Product #3
				li
					a.cd-nav-item(href='#')
						img(src='http://placehold.it/300x200', alt='Product Image')
						h3 Product #4
		//- li.has-children
			a(href='#') Services
			ul.cd-nav-icons.is-hidden
				li.go-back
					a(href='#0') Menu
				li.see-all
					a(href='#') Browse Services
				li
					a.cd-nav-item.item-1(href='#')
						h6 Service #1
						p This is the item description
				li
					a.cd-nav-item.item-2(href='#')
						h6 Service #2
						p This is the item description
				li
					a.cd-nav-item.item-3(href='#')
						h6 Service #3
						p This is the item description
				li
					a.cd-nav-item.item-4(href='#')
						h6 Service #4
						p This is the item description
				li
					a.cd-nav-item.item-5(href='#')
						h6 Service #5
						p This is the item description
				li
					a.cd-nav-item.item-6(href='#')
						h6 Service #6
						p This is the item description
				li
					a.cd-nav-item.item-7(href='#')
						h6 Service #7
						p This is the item description
				li
					a.cd-nav-item.item-8(href='#')
						h6 Service #8
						p This is the item description
		//- li
			a(href='#') Standard

#cd-search.cd-search
	form
		input(type='search', placeholder='Search...')


//- =========================================
//- =            HEADER NAVIGATION            =
//- =========================================
//- ==========  MAIN  ==========
//- a(href="index.html")
	img.logo(src="img/logo.svg")
//- header#header
	.cd-logo
		.nameBlock.hide-for-small
			.name Paul Rand
			.dates 1914-1996
		
	nav.cd-main-nav-wrapper
		ul.cd-main-nav.moves-out
			li.left-section
				a.text-bold-italic(href='#0') Life
				a.text-bold-italic(href='#0') Work
				a.text-bold-italic(href='#0') Writing
			
			

			li.right-section
				a.text-caps(href='#0'): small Resources
				a.text-caps(href='#0'): small Shop
				a.text-caps(href='#0'): small News
				a.text-caps(href='#0'): small Contact
				label.search(for="inpt_search")
					input#inpt_search(type="text")

				a.cd-subnav-trigger(href='#0')
					span
			li
				ul
					li.go-back
						a(href='#0') Menu
					li.w100
						//- ==========  LIFE  ==========
						.nav-life-off
							h5.mr3.text-bold-italic.mb0 Life
							form
								fieldset.mr2.float-left.text-left
									//- label Select
									select#select-life
										option(value='') Select
										option(value='biography') Biography and Timeline
										option(value='articles') Articles and Books about Paul Rand
										option(value='portraits') Portraits
										option(value='house') The Rand House
										option(value='inspirations') Inspirations
										option(value='personal') Personal Items

									button.tiny.text-caps.radius.ml1(href="#") Go
									
								fieldset.mr2.float-left.text-left.hide#select-life-articles
									//- label Choose an article...
									select
										optgroup(label='Articles')
											option(value='') Choose an article or book...
											option(value='') Articles
											option(value='') Articles
											option(value='') Articles
											option(value='') Articles
											option(value='') Articles
											option(value='') Articles
											option(value='') Articles
											option(value='') Articles
										optgroup(label='Books')
											option(value='') Books
											option(value='') Books
											option(value='') Books
											option(value='') Books
											option(value='') Books
											option(value='') Books
											option(value='') Books
											option(value='') Books
											option(value='') Books

									button.tiny.text-caps.radius.ml1(href="#") Go

								fieldset.mr2.float-left.text-left.hide#select-life-inspirations
									//- label Choose an inspiration...
									select
										option(value='') Choose an inspiration...
										option(value='') Inspirations
										option(value='') Inspirations
										option(value='') Inspirations
										option(value='') Inspirations
										option(value='') Inspirations
										option(value='') Inspirations
										option(value='') Inspirations
										option(value='') Inspirations

									button.tiny.text-caps.radius.ml1(href="#") Go


						//- ==========  WORK  ==========
						.nav-work-off
							h5.mr3.mb0.text-bold-italic Work

							//- 	section.top-bar-section.vertical-align-row
							//- 		// Right Nav Section
							//- 		ul.m0.p0.vertical-align-row
							//- 			li.has-dropdown.p0
							//- 				a(href='#') Right Button Dropdown
							//- 				ul.dropdown.p0.m0
							//- 					li.p0.m0
							//- 						a(href='#') First link in dropdown
							//- 					li.active.p0.m0
							//- 						a(href='#') Active link in dropdown
							form.controls#Filters
								fieldset.mr2.float-left.text-left
									//- label Client
									select.left#select-work-client
										option(value='') Select a Client
										optgroup(label="A")
											option(value='.AdvertisingTypographersAssociationofAmerica') Advertising Typographers Association of America- Type Talks
											option(value='.AIGA') AIGA
											option(value='.Airwick') Airwick
											option(value='.AmericanAdvertisingGuild') American Advertising Guild
											option(value='.ABC') American Broadcasting Company (ABC)
											option(value='.AmericaExpress') American Express
											option(value='.AmericanPrinterMagazine') American Printer Magazine
											option(value='.AncientAgeWhiskey') Ancient Age Whiskey
											option(value='.AntonMaixFabrics') Anton Maix Fabrics
											option(value='.ApparelArts') Apparel Arts
											option(value='.ArchitecturalForum') Architectural Forum
											option(value='.AssociatedMerchandisingCorp') Associated Merchandising Corp
											option(value='.AtlasCrankshaft') Atlas Crankshaft
											option(value='.AutocarCorporation') Autocar Corporation
											option(value='.AyerstMcKennaHarrisonPharmaceutical') Ayerst, McKenna, Harrison Pharmaceutical
										optgroup(label="B")
											option(value='.Bab-O') Bab-O
											option(value='.BenjaminFranklin200thAnniversary') Benjamin Franklin 200th Anniversary
											option(value='.BlatzBeer') Blatz Beer
											option(value='.Borzoi') Borzoi
											option(value='.BureauofIndianAffairs') Bureau of Indian Affairs
										optgroup(label="C")
											option(value='.CabbagesKingsCatering') Cabbages & Kings Catering
											option(value='.CenturyLighting') Century Lighting
											option(value='.CIOChorus') CIO Chorus
											option(value='.Colorforms') Colorforms
											option(value='.ColumbusIndianaVisitorsBureau') Columbus Indiana Visitors Bureau
											option(value='.ComputerImpressions') Computer Impressions
											option(value='.CondeNast') Conde Nast
											option(value='.ConnecticutArtDirectorsClub') Connecticut Art Directors Club
											option(value='.ConsolidatedCigarCorporation') Consolidated Cigar Corporation
											option(value='.ContainerCorporationofAmerica') Container Corporation of America
											option(value='.Cooks') Cooks
											option(value='.CoordinatorofInterAmericanAffairs') Coordinator of Inter American Affairs
											option(value='.CoronetBrandy') Coronet Brandy
											option(value='.CountryClubIceCream') Country Club Ice Cream
											option(value='.CrestaBlancaWines') Cresta Blanca Wines
											option(value='.Cummins') Cummins
										optgroup(label="D")
											option(value='.DirectionMagazine') Direction Magazine
											option(value='.DisneyHats') Disney Hats
											option(value='.DougEvansPartners') Doug Evans + Partners
											option(value='.Dubonnet') Dubonnet
											option(value='.DubouchettCordials') Dubouchett Cordials
											option(value='.Dunhill') Dunhill
											option(value='.DupontCorporation') Dupont Corporation
										optgroup(label="E")
											option(value='.ElProducto') El Producto
											option(value='.ElliotNoyesAssociates') Elliot Noyes & Associates
											option(value='.EmersonElectronicRadio') Emerson Electronic Radio
											option(value='.EnglishFirst') English First
											option(value='.Enron') Enron
											option(value='.Esquire') Esquire
										optgroup(label="F")
											option(value='.FlairMagazine') Flair Magazine
											option(value='.Ford') Ford
											option(value='.Frigiking') Frigiking
										optgroup(label="G")
											option(value='.GentryLivingColor') Gentry Living Color
											option(value='.GibsonsDiamond8') Gibsons Diamond 8
											option(value='.GlassPacker') Glass Packer
											option(value='.GraphicArtsProductionYearbook') Graphic Arts Production Yearbook
										optgroup(label="H")
											option(value='.HamburgAmericanLine') Hamburg American Line
											option(value='.HarcourtBraceandCompany') Harcourt Brace and Company
											option(value='.Helbros') Helbros
											option(value='.HolidayMagazine') Holiday Magazine
										optgroup(label="I")
											option(value='.IBM') IBM
											option(value='.ideoDesign') ideo Design
											option(value='.IITRI') IITRI
											option(value='.InterfaithDay') Interfaith Day
											option(value='.InternationalDesignConferenceAspen') International Design Conference- Aspen
											option(value='.IrwinUnionFinancialCorporation') Irwin Union Financial Corporation
											option(value='.Irwin-Sweeney-MillerFoundation') Irwin-Sweeney-Miller Foundation
											option(value='.IsaacGoldmanCompany') Isaac Goldman Company
										optgroup(label="J")
											option(value='.JacquelineCochran') Jacqueline Cochran
											option(value='.JamesEPepperKentuckyBourbon') James E Pepper Kentucky Bourbon
											option(value='.Jazzways') Jazzways
											option(value='.JohnDavid') John David
										optgroup(label="K")
											option(value='.Kaiser-Frazer') Kaiser-Frazer
											option(value='.Kaufmanns') Kaufmann’s
											option(value='.Kenmagazine') Ken magazine
											option(value='.Knopf') Knopf
										optgroup(label="L")
											option(value='.LaPalinaCigars') La Palina Cigars
											option(value='.LeeHats') Lee Hats
											option(value='.LoveraCigars') Lovera Cigars
											option(value='.Lusterlite-AmericanBembergCorp') Lusterlite- American Bemberg Corp
										optgroup(label="M")
											option(value='.Maidenform') Maidenform
											option(value='.MonellChemicalSensesCenter') Monell Chemical Senses Center
											option(value='.Morningstar') Morningstar
											option(value='.MossbergCompany') Mossberg & Company
											option(value='.MuseumofModernArt') Museum of Modern Art
										optgroup(label="N")
											option(value='.NationalGalleryofArt') National Gallery of Art
											option(value='.NewYorkArtDirectorsClub') New York Art Directors Club
											option(value='.NeXTComputers') NeXT Computers
											option(value='.NoWayOutMovie') No Way Out Movie
											option(value='.NorwalkCancerCenter') Norwalk Cancer Center
											option(value='.NutriCola') Nutri Cola
											option(value='.Nylast') Nylast
										optgroup(label="O")
											option(value='.Ohrbachs') Ohrbachs
											option(value='.OkasanSecuritiesCompany') Okasan Securities Company
											option(value='.Olivetti') Olivetti
											option(value='.Orpi') Orpi
										optgroup(label="P")
											option(value='.PacificCoastBoraxCo') Pacific Coast Borax Co
											option(value='.ParkTilford') Park Tilford
											option(value='.PastoreDePamphilisRampone') Pastore DePamphilis Rampone (PDR)
											option(value='.PennBritePapers') Penn/Brite Papers
											option(value='.Playtex') Playtex
											option(value='.PMMagazine') PM Magazine
											option(value='.PortfolioMagazine') Portfolio Magazine
											option(value='.PowerPCandPowerOpen') Power PC and Power Open
										optgroup(label="R")
											option(value='.RainfairStormCoats') Rainfair Storm Coats
											option(value='.RCA') RCA
										optgroup(label="S")
											option(value='.SaybrookRHMacy') Saybrook, RH Macy and Co 1935
											option(value='.SchenleyGin') Schenley Gin
											option(value='.Servador') Servador
											option(value='.ShigeoFukuda') Shigeo Fukuda
											option(value='.Shur-EdgeKnives') Shur-Edge Knives
											option(value='.SmithKlineFrench') Smith, Kline & French
											option(value='.StaffordFabrics') Stafford Fabrics
											option(value='.StrathmorePaper') Strathmore Paper
										optgroup(label="T")
											option(value='.TheLimited') The Limited
											option(value='.ThomasCreighton') Thomas Creighton Co
											option(value='.TiptonLakes') Tipton Lakes
											option(value='.TodaysSelling') Today’s Selling
											option(value='.TriArtsPress') Tri Arts Press
											option(value='.Typomundus20') Typomundus 20
										optgroup(label="U")
											option(value='.UCLA') UCLA
											option(value='.UnitedJewishAppeal') United Jewish Appeal
											option(value='.UnitedParcelService') United Parcel Service (UPS)
											option(value='.UniversityofHartford') University of Hartford
											option(value='.Unknown') Unknown clients
										optgroup(label="V")
											option(value='.Vichy') Vichy
										optgroup(label="W")
											option(value='.WallacePuppets') Wallace Puppets
											option(value='.Westinghouse') Westinghouse
											option(value='.WilliamHWeintraub') William H Weintraub
											option(value='.WittenbornSchultz') Wittenborn Schultz
										optgroup(label="Y")
											option(value='.Yale') Yale
										optgroup(label="Z")
											option(value='.ZebraPress') Zebra Press

								fieldset.mr2.float-left.text-left
									p.footnote.float-left.mt1.mr2.mb0.ml0.text-bold OR
									//- br.hide-for-large-up
									//- label Project Type
									select.ml3#select-work-project
										option(value='') Select a Project Type
										option(value='.advertising') Advertising
										option(value='.annualReport') Annual Report
										option(value='.book') Book
										option(value='.bookCover') Book Cover
										option(value='.brochure') Brochure
										option(value='.collateral') Collateral
										option(value='.editorial') Editorial
										option(value='.identity') Identity
										option(value='.logo') Logo
										option(value='.packaging') Packaging
										option(value='.painting') Painting
										option(value='.photography') Photography
										option(value='.poster') Poster
										option(value='.presentationBooklet') Presentation Booklet

									button.tiny.text-caps.radius.ml1#Reset Reset
					

						//- ==========  WRITING  ==========
						.nav-writing-off
							h5.mr3.mb0.text-bold-italic Writing
							form.w100
								fieldset.mr2.float-left.text-left
									//- label Select
									select#select-writing
										option(value='') Select
										option(value='books') Books
										option(value='articles') Articles
										option(value='quotes') Quotes
										option(value='suggested-readings') Suggested Readings

								fieldset.mr2.float-left.text-left.hide#select-writing-books
									//- label Choose a book...
									select
										option(value='') Choose a book...
										option(value='books') This…Is the Stafford Stallion
										option(value='books') Thoughts on Design
										option(value='books') Trademark Design
										option(value='books') I Know a Lot of Things
										option(value='books') Sparkle and Spin
										option(value='books') The Trademarks of Paul Rand — A Selection
										option(value='books') Little 1
										option(value='books') Listen! Listen!
										option(value='books') A Paul Rand Miscellany
										option(value='books') A Designer’s Art
										option(value='books') Good Design is Good Will
										option(value='books') Some Thoughts Some Logos
										option(value='books') Some Thoughts… and Some Tribulations about the Design of a Logo
										option(value='books') From Cassandre to Chaos
										option(value='books') Failure by Design
										option(value='books') Design Form and Chaos
										option(value='books') From Lascaux to Brooklyn

									button.tiny.text-caps.radius.ml1.hide#select-writing-books-button(href="#") Go


								fieldset.mr2.float-left.text-left.hide#select-writing-articles
									//- label Choose an article...
									select
										option(value='') Choose an article...
										optgroup(label="1940s")
											option(value='article') Black in the Visual Arts
										
										optgroup(label="1950s")
											option(value='article') Posters
											option(value='article') The Trademark as an Illustrative Device
										
										optgroup(label="1960s")
											option(value='article') Advertisement: Ad Vivum or Ad Hominem?
											option(value='article') The Art of the Package
											option(value='article') Design and the Play Instinct
											option(value='article') Trademarks of the World Preface
										
										optgroup(label="1970s")
											option(value='article') Integrity and Invention
										
										optgroup(label="1980s")
											option(value='article') On the RCA Ad
											option(value='article') The Politics of Design
											option(value='article') Observations on Intuition
											option(value='article') The Case for the Ampersand
										
										optgroup(label="1990s")
											option(value='article') Logos, Flags, and Escutcheons
											option(value='article') Confusion and Chaos: The Seduction of Contemporary Graphic Design
											option(value='article') Object Lessons
											option(value='article') Failure by Design
											option(value='article') Language of Art

									button.tiny.text-caps.radius.ml1.hide#select-writing-articles-button(href="#") Go

								fieldset.mr2.float-left.text-left.hide#select-writing-quotes
									//- label Choose a quote topic...
									select
										option(value='') Choose a quote topic...
										option(value='quote') Modernism
										option(value='quote') Good Design
										option(value='quote') Play
										option(value='quote') Originality & Imitation

									button.tiny.text-caps.radius.ml1.hide#select-writing-quotes-button(href="#") Go

								fieldset.mr2.float-left.text-left.hide#select-writing-suggested-readings
									//- label Choose a suggested reading topic...
									select
										option(value='') Choose a suggested reading topic...
										option(value='suggestedReadings') General Art Theory and Philosophy
										option(value='suggestedReadings') Modern Art History and Movements
										option(value='suggestedReadings') Typography and Design
										option(value='suggestedReadings') General, Sociology
										option(value='suggestedReadings') Art Biographies and Monographs
										option(value='suggestedReadings') Architecture
										option(value='suggestedReadings') Design History and Theory
										option(value='suggestedReadings') Geometry and Design
										option(value='suggestedReadings') Film

									button.tiny.text-caps.radius.ml1.hide#select-writing-suggested-readings-button(href="#") Go




						//- ==========  RESOURCES  ==========
						.nav-resources-off
							h5.mr3.mb0.text-bold-italic Resources
							form
								fieldset.mr2.float-left.text-left
									select#select-resources
										option(value='') Select
										option(value='find') Find Items Online
										option(value='articles') Articles, Interviews & Information
										option(value='tributes') Tributes and Personal Experiences
										option(value='today') Paul Rand's Work Today

									button.tiny.text-caps.radius.ml1(href="#") Go





					li
						a.placeholder(href='#0') Placeholder

	a.cd-nav-trigger(href='#0')
		//- | Menu
		span



//- -----  End of HEADER NAVIGATION  ------
//- 
//- br(style="clear:both")
//- 

//- nav.top-bar(data-topbar='', role='navigation')
	ul.title-area
		li.name
			h1
				a(href='#') My Site
		// Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
		li.toggle-topbar.menu-icon
			a(href='#')
				span Menu
		section.top-bar-section
			// Right Nav Section
			ul
				li.active
					a(href='#') Right Button Active
					li.has-dropdown
						a(href='#') Right Button Dropdown
						ul.dropdown
							li
								a(href='#') First link in dropdown
								li.active
									a(href='#') Active link in dropdown
